resources/wsdls/api/adwords/cm/v201806/OfflineConversionAdjustmentFeedService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- Generated file, do not edit -->
<!-- Copyright 2018 Google Inc. All Rights Reserved -->
<wsdl:definitions
  targetNamespace="https://adwords.google.com/api/adwords/cm/v201806"
  xmlns:tns="https://adwords.google.com/api/adwords/cm/v201806"
  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
  xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
    <schema elementFormDefault="qualified" jaxb:version="1.0"
      targetNamespace="https://adwords.google.com/api/adwords/cm/v201806"
      xmlns="http://www.w3.org/2001/XMLSchema"
      xmlns:jaxb="http://java.sun.com/xml/ns/jaxb" xmlns:tns="https://adwords.google.com/api/adwords/cm/v201806">
      <annotation>
        <appinfo>
          <jaxb:globalBindings typesafeEnumMaxMembers="999999"/>
        </appinfo>
      </annotation>
      <complexType name="AuthenticationError">
        <annotation>
          <documentation>
            Errors returned when Authentication failed.
          </documentation>
        </annotation>
        <complexContent>
          <extension base="tns:ApiError">
            <sequence>
              <element maxOccurs="1" minOccurs="0" name="reason" type="tns:AuthenticationError.Reason">
                <annotation>
                  <documentation>
                    The error reason represented by an enum.
                  </documentation>
                </annotation>
              </element>
            </sequence>
          </extension>
        </complexContent>
      </complexType>
      <complexType name="AuthorizationError">
        <annotation>
          <documentation>
            Errors encountered when trying to authorize a user.
          </documentation>
        </annotation>
        <complexContent>
          <extension base="tns:ApiError">
            <sequence>
              <element maxOccurs="1" minOccurs="0" name="reason" type="tns:AuthorizationError.Reason">
                <annotation>
                  <documentation>
                    The error reason represented by an enum.
                  </documentation>
                </annotation>
              </element>
            </sequence>
          </extension>
        </complexContent>
      </complexType>
      <complexType name="ClientTermsError">
        <annotation>
          <documentation>
            Error due to user not accepting the AdWords terms of service.
          </documentation>
        </annotation>
        <complexContent>
          <extension base="tns:ApiError">
            <sequence>
              <element maxOccurs="1" minOccurs="0" name="reason" type="tns:ClientTermsError.Reason"/>
            </sequence>
          </extension>
        </complexContent>
      </complexType>
      <complexType name="CollectionSizeError">
        <annotation>
          <documentation>
            Errors associated with the size of the given collection being
            out of bounds.
          </documentation>
        </annotation>
        <complexContent>
          <extension base="tns:ApiError">
            <sequence>
              <element maxOccurs="1" minOccurs="0" name="reason" type="tns:CollectionSizeError.Reason">
                <annotation>
                  <documentation>
                    The error reason represented by an enum.
                  </documentation>
                </annotation>
              </element>
            </sequence>
          </extension>
        </complexContent>
      </complexType>
      <complexType name="CurrencyCodeError">
        <annotation>
          <documentation>
            Errors for currency codes.
          </documentation>
        </annotation>
        <complexContent>
          <extension base="tns:ApiError">
            <sequence>
              <element maxOccurs="1" minOccurs="0" name="reason" type="tns:CurrencyCodeError.Reason">
                <annotation>
                  <documentation>
                    The error reason represented by an enum.
                  </documentation>
                </annotation>
              </element>
            </sequence>
          </extension>
        </complexContent>
      </complexType>
      <complexType name="DateError">
        <annotation>
          <documentation>
            Errors associated with invalid dates and date ranges.
          </documentation>
        </annotation>
        <complexContent>
          <extension base="tns:ApiError">
            <sequence>
              <element maxOccurs="1" minOccurs="0" name="reason" type="tns:DateError.Reason">
                <annotation>
                  <documentation>
                    The error reason represented by an enum.
                  </documentation>
                </annotation>
              </element>
            </sequence>
          </extension>
        </complexContent>
      </complexType>
      <complexType name="DistinctError">
        <annotation>
          <documentation>
            Errors related to distinct ids or content.
          </documentation>
        </annotation>
        <complexContent>
          <extension base="tns:ApiError">
            <sequence>
              <element maxOccurs="1" minOccurs="0" name="reason" type="tns:DistinctError.Reason">
                <annotation>
                  <documentation>
                    The error reason represented by an enum.
                  </documentation>
                </annotation>
              </element>
            </sequence>
          </extension>
        </complexContent>
      </complexType>
      <complexType name="EntityCountLimitExceeded">
        <annotation>
          <documentation>
            Signals that an entity count limit was exceeded for some level.
            For example, too many criteria for a campaign.
          </documentation>
        </annotation>
        <complexContent>
          <extension base="tns:ApiError">
            <sequence>
              <element maxOccurs="1" minOccurs="0" name="reason" type="tns:EntityCountLimitExceeded.Reason">
                <annotation>
                  <documentation>
                    Specifies which level's limit was exceeded.
                  </documentation>
                </annotation>
              </element>
              <element maxOccurs="1" minOccurs="0" name="enclosingId" type="xsd:string">
                <annotation>
                  <documentation>
                    Id of the entity whose limit was exceeded.
                  </documentation>
                </annotation>
              </element>
              <element maxOccurs="1" minOccurs="0" name="limit" type="xsd:int">
                <annotation>
                  <documentation>
                    The limit which was exceeded.
                  </documentation>
                </annotation>
              </element>
              <element maxOccurs="1" minOccurs="0"
                name="accountLimitType" type="xsd:string">
                <annotation>
                  <documentation>
                    The account limit type which was exceeded.
                  </documentation>
                </annotation>
              </element>
              <element maxOccurs="1" minOccurs="0" name="existingCount" type="xsd:int">
                <annotation>
                  <documentation>
                    The count of existing entities.
                  </documentation>
                </annotation>
              </element>
            </sequence>
          </extension>
        </complexContent>
      </complexType>
      <complexType name="EntityNotFound">
        <annotation>
          <documentation>
            An id did not correspond to an entity, or it referred to an entity which does not belong to the
            customer.
          </documentation>
        </annotation>
        <complexContent>
          <extension base="tns:ApiError">
            <sequence>
              <element maxOccurs="1" minOccurs="0" name="reason" type="tns:EntityNotFound.Reason">
                <annotation>
                  <documentation>
                    Reason for this error.
                  </documentation>
                </annotation>
              </element>
            </sequence>
          </extension>
        </complexContent>
      </complexType>
      <complexType name="FieldPathElement">
        <annotation>
          <documentation>
            A segment of a field path. Each dot in a field path defines a new segment.
          </documentation>
        </annotation>
        <sequence>
          <element maxOccurs="1" minOccurs="0" name="field" type="xsd:string">
            <annotation>
              <documentation>
                The name of a field in lower camelcase. (e.g. "biddingStrategy")
              </documentation>
            </annotation>
          </element>
          <element maxOccurs="1" minOccurs="0" name="index" type="xsd:int">
            <annotation>
              <documentation>
                For list fields, this is a 0-indexed position in the list. Null for non-list fields.
              </documentation>
            </annotation>
          </element>
        </sequence>
      </complexType>
      <complexType name="GclidOfflineConversionAdjustmentFeed">
        <annotation>
          <documentation>
            A conversion adjustment record for conversions uploaded with
            gclid and conversion occurrence time.
            Inherits from abstract class OfflineConversionAdjustmentFeed.
          </documentation>
        </annotation>
        <complexContent>
          <extension base="tns:OfflineConversionAdjustmentFeed">
            <sequence>
              <element maxOccurs="1" minOccurs="0" name="googleClickId" type="xsd:string">
                <annotation>
                  <documentation>
                    The google click ID associated with the conversion for this adjustment.
                    Has to be provided with conversion occurrence time to identify conversion.
                    Provided through GclidOfflineConversionAdjustmentFeed.
                    &lt;span class="constraint Required"&gt;This field is required and should not be {@code null}.&lt;/span&gt;
                    &lt;span class="constraint StringLength"&gt;The length of this string should be between 1 and 512, inclusive, (trimmed).&lt;/span&gt;
                  </documentation>
                </annotation>
              </element>
              <element maxOccurs="1" minOccurs="0" name="conversionTime" type="xsd:string">
                <annotation>
                  <documentation>
                    The instant that the conversion for this adjustment occurred.
                    Provided with gclid to identify the conversion.
                    Provided through GclidOfflineConversionAdjustmentFeed.
                    &lt;span class="constraint Required"&gt;This field is required and should not be {@code null}.&lt;/span&gt;
                  </documentation>
                </annotation>
              </element>
            </sequence>
          </extension>
        </complexContent>
      </complexType>
      <complexType name="IdError">
        <annotation>
          <documentation>
            Errors associated with the ids.
          </documentation>
        </annotation>
        <complexContent>
          <extension base="tns:ApiError">
            <sequence>
              <element maxOccurs="1" minOccurs="0" name="reason" type="tns:IdError.Reason">
                <annotation>
                  <documentation>
                    The error reason represented by an enum.
                  </documentation>
                </annotation>
              </element>
            </sequence>
          </extension>
        </complexContent>
      </complexType>
      <complexType name="InternalApiError">
        <annotation>
          <documentation>
            Indicates that a server-side error has occured. {@code InternalApiError}s
            are generally not the result of an invalid request or message sent by the
            client.
          </documentation>
        </annotation>
        <complexContent>
          <extension base="tns:ApiError">
            <sequence>
              <element maxOccurs="1" minOccurs="0" name="reason" type="tns:InternalApiError.Reason">
                <annotation>
                  <documentation>
                    The error reason represented by an enum.
                  </documentation>
                </annotation>
              </element>
            </sequence>
          </extension>
        </complexContent>
      </complexType>
      <complexType name="NotEmptyError">
        <annotation>
          <documentation>
            Errors corresponding with violation of a NOT EMPTY check.
          </documentation>
        </annotation>
        <complexContent>
          <extension base="tns:ApiError">
            <sequence>
              <element maxOccurs="1" minOccurs="0" name="reason" type="tns:NotEmptyError.Reason">
                <annotation>
                  <documentation>
                    The error reason represented by an enum.
                  </documentation>
                </annotation>
              </element>
            </sequence>
          </extension>
        </complexContent>
      </complexType>
      <complexType name="NullError">
        <annotation>
          <documentation>
            Errors associated with violation of a NOT NULL check.
          </documentation>
        </annotation>
        <complexContent>
          <extension base="tns:ApiError">
            <sequence>
              <element maxOccurs="1" minOccurs="0" name="reason" type="tns:NullError.Reason">
                <annotation>
                  <documentation>
                    The error reason represented by an enum.
                  </documentation>
                </annotation>
              </element>
            </sequence>
          </extension>
        </complexContent>
      </complexType>
      <complexType name="OfflineConversionAdjustmentError">
        <annotation>
          <documentation>
            Errors that the OfflineConversionAdjustmentFeedService can return.
          </documentation>
        </annotation>
        <complexContent>
          <extension base="tns:ApiError">
            <sequence>
              <element maxOccurs="1" minOccurs="0" name="reason" type="tns:OfflineConversionAdjustmentError.Reason"/>
            </sequence>
          </extension>
        </complexContent>
      </complexType>
      <complexType name="OperationAccessDenied">
        <annotation>
          <documentation>
            Operation not permitted due to the invoked service's access policy.
          </documentation>
        </annotation>
        <complexContent>
          <extension base="tns:ApiError">
            <sequence>
              <element maxOccurs="1" minOccurs="0" name="reason" type="tns:OperationAccessDenied.Reason"/>
            </sequence>
          </extension>
        </complexContent>
      </complexType>
      <complexType name="OperatorError">
        <annotation>
          <documentation>
            Errors due to the use of unsupported operations.
          </documentation>
        </annotation>
        <complexContent>
          <extension base="tns:ApiError">
            <sequence>
              <element maxOccurs="1" minOccurs="0" name="reason" type="tns:OperatorError.Reason">
                <annotation>
                  <documentation>
                    The error reason represented by an enum.
                  </documentation>
                </annotation>
              </element>
            </sequence>
          </extension>
        </complexContent>
      </complexType>
      <complexType name="OrderIdOfflineConversionAdjustmentFeed">
        <annotation>
          <documentation>
            A conversion adjustment record for conversions uploaded with order ID.
            Inherits from abstract class OfflineConversionAdjustmentFeed.
          </documentation>
        </annotation>
        <complexContent>
          <extension base="tns:OfflineConversionAdjustmentFeed">
            <sequence>
              <element maxOccurs="1" minOccurs="0" name="orderId" type="xsd:string">
                <annotation>
                  <documentation>
                    The orderId for the conversion for this adjustment. Used to identify conversion if
                    conversionTime and gclid are not provided. Provided through
                    OrderIdOfflineConversionAdjustmentFeed.
                    &lt;span class="constraint Required"&gt;This field is required and should not be {@code null}.&lt;/span&gt;
                  </documentation>
                </annotation>
              </element>
            </sequence>
          </extension>
        </complexContent>
      </complexType>
      <complexType name="QuotaCheckError">
        <annotation>
          <documentation>
            Encapsulates the errors thrown during developer quota checks.
          </documentation>
        </annotation>
        <complexContent>
          <extension base="tns:ApiError">
            <sequence>
              <element maxOccurs="1" minOccurs="0" name="reason" type="tns:QuotaCheckError.Reason"/>
            </sequence>
          </extension>
        </complexContent>
      </complexType>
      <complexType name="RangeError">
        <annotation>
          <documentation>
            A list of all errors associated with the Range constraint.
          </documentation>
        </annotation>
        <complexContent>
          <extension base="tns:ApiError">
            <sequence>
              <element maxOccurs="1" minOccurs="0" name="reason" type="tns:RangeError.Reason">
                <annotation>
                  <documentation>
                    The error reason represented by an enum.
                  </documentation>
                </annotation>
              </element>
            </sequence>
          </extension>
        </complexContent>
      </complexType>
      <complexType name="RateExceededError">
        <annotation>
          <documentation>
            Signals that a call failed because a measured rate exceeded.
          </documentation>
        </annotation>
        <complexContent>
          <extension base="tns:ApiError">
            <sequence>
              <element maxOccurs="1" minOccurs="0" name="reason" type="tns:RateExceededError.Reason">
                <annotation>
                  <documentation>
                    The error reason represented by an enum.
                  </documentation>
                </annotation>
              </element>
              <element maxOccurs="1" minOccurs="0" name="rateName" type="xsd:string">
                <annotation>
                  <documentation>
                    Cause of the rate exceeded error.
                  </documentation>
                </annotation>
              </element>
              <element maxOccurs="1" minOccurs="0" name="rateScope" type="xsd:string">
                <annotation>
                  <documentation>
                    The scope of the rate (ACCOUNT/DEVELOPER).
                  </documentation>
                </annotation>
              </element>
              <element maxOccurs="1" minOccurs="0"
                name="retryAfterSeconds" type="xsd:int">
                <annotation>
                  <documentation>
                    The amount of time (in seconds) the client should wait before retrying the request.
                  </documentation>
                </annotation>
              </element>
            </sequence>
          </extension>
        </complexContent>
      </complexType>
      <complexType name="ReadOnlyError">
        <annotation>
          <documentation>
            Errors from attempting to write to read-only fields.
          </documentation>
        </annotation>
        <complexContent>
          <extension base="tns:ApiError">
            <sequence>
              <element maxOccurs="1" minOccurs="0" name="reason" type="tns:ReadOnlyError.Reason">
                <annotation>
                  <documentation>
                    The error reason represented by an enum.
                  </documentation>
                </annotation>
              </element>
            </sequence>
          </extension>
        </complexContent>
      </complexType>
      <complexType name="RegionCodeError">
        <annotation>
          <documentation>
            A list of all errors associated with the @RegionCode constraints.
          </documentation>
        </annotation>
        <complexContent>
          <extension base="tns:ApiError">
            <sequence>
              <element maxOccurs="1" minOccurs="0" name="reason" type="tns:RegionCodeError.Reason">
                <annotation>
                  <documentation>
                    The error reason represented by an enum.
                  </documentation>
                </annotation>
              </element>
            </sequence>
          </extension>
        </complexContent>
      </complexType>
      <complexType name="RejectedError">
        <annotation>
          <documentation>
            Indicates that a field was rejected due to compatibility issues.
          </documentation>
        </annotation>
        <complexContent>
          <extension base="tns:ApiError">
            <sequence>
              <element maxOccurs="1" minOccurs="0" name="reason" type="tns:RejectedError.Reason">
                <annotation>
                  <documentation>
                    The error reason represented by an enum.
                  </documentation>
                </annotation>
              </element>
            </sequence>
          </extension>
        </complexContent>
      </complexType>
      <complexType name="RequestError">
        <annotation>
          <documentation>
            Encapsulates the generic errors thrown when there's an error with user
            request.
          </documentation>
        </annotation>
        <complexContent>
          <extension base="tns:ApiError">
            <sequence>
              <element maxOccurs="1" minOccurs="0" name="reason" type="tns:RequestError.Reason"/>
            </sequence>
          </extension>
        </complexContent>
      </complexType>
      <complexType name="RequiredError">
        <annotation>
          <documentation>
            Errors due to missing required field.
          </documentation>
        </annotation>
        <complexContent>
          <extension base="tns:ApiError">
            <sequence>
              <element maxOccurs="1" minOccurs="0" name="reason" type="tns:RequiredError.Reason">
                <annotation>
                  <documentation>
                    The error reason represented by an enum.
                  </documentation>
                </annotation>
              </element>
            </sequence>
          </extension>
        </complexContent>
      </complexType>
      <complexType name="SizeLimitError">
        <annotation>
          <documentation>
            Indicates that the number of entries in the request or response exceeds the system limit.
          </documentation>
        </annotation>
        <complexContent>
          <extension base="tns:ApiError">
            <sequence>
              <element maxOccurs="1" minOccurs="0" name="reason" type="tns:SizeLimitError.Reason">
                <annotation>
                  <documentation>
                    The error reason represented by an enum.
                  </documentation>
                </annotation>
              </element>
            </sequence>
          </extension>
        </complexContent>
      </complexType>
      <complexType name="SoapHeader">
        <annotation>
          <documentation>
            Defines the required and optional elements within the header of a SOAP request.
          </documentation>
        </annotation>
        <sequence>
          <element maxOccurs="1" minOccurs="0" name="clientCustomerId" type="xsd:string">
            <annotation>
              <documentation>
                The header identifies the customer id of the client of the AdWords manager, if an AdWords
                manager is acting on behalf of their client or the customer id of the advertiser managing their
                own account.
              </documentation>
            </annotation>
          </element>
          <element maxOccurs="1" minOccurs="0" name="developerToken" type="xsd:string">
            <annotation>
              <documentation>
                Developer token to identify that the person making the call has enough
                quota.
              </documentation>
            </annotation>
          </element>
          <element maxOccurs="1" minOccurs="0" name="userAgent" type="xsd:string">
            <annotation>
              <documentation>
                UserAgent is used to track distribution of API client programs and
                application usage. The client is responsible for putting in a meaningful
                value for tracking purposes. To be clear this is not the same as an HTTP
                user agent.
              </documentation>
            </annotation>
          </element>
          <element maxOccurs="1" minOccurs="0" name="validateOnly" type="xsd:boolean">
            <annotation>
              <documentation>
                Used to validate the request without executing it.
              </documentation>
            </annotation>
          </element>
          <element maxOccurs="1" minOccurs="0" name="partialFailure" type="xsd:boolean">
            <annotation>
              <documentation>
                If true, API will try to commit as many error free operations as possible and
                report the other operations' errors.
                
                &lt;p&gt;Ignored for non-mutate calls.
              </documentation>
            </annotation>
          </element>
        </sequence>
      </complexType>
      <complexType name="SoapResponseHeader">
        <annotation>
          <documentation>
            Defines the elements within the header of a SOAP response.
          </documentation>
        </annotation>
        <sequence>
          <element maxOccurs="1" minOccurs="0" name="requestId" type="xsd:string">
            <annotation>
              <documentation>
                Unique id that identifies this request. If developers have any support issues, sending us
                this id will enable us to find their request more easily.
              </documentation>
            </annotation>
          </element>
          <element maxOccurs="1" minOccurs="0" name="serviceName" type="xsd:string">
            <annotation>
              <documentation>
                The name of the service being invoked.
              </documentation>
            </annotation>
          </element>
          <element maxOccurs="1" minOccurs="0" name="methodName" type="xsd:string">
            <annotation>
              <documentation>
                The name of the method being invoked.
              </documentation>
            </annotation>
          </element>
          <element maxOccurs="1" minOccurs="0" name="operations" type="xsd:long">
            <annotation>
              <documentation>
                Number of operations performed for this SOAP request.
              </documentation>
            </annotation>
          </element>
          <element maxOccurs="1" minOccurs="0" name="responseTime" type="xsd:long">
            <annotation>
              <documentation>
                Elapsed time in milliseconds between the AdWords API receiving the request and sending the
                response.
              </documentation>
            </annotation>
          </element>
        </sequence>
      </complexType>
      <complexType name="StringFormatError">
        <annotation>
          <documentation>
            A list of error code for reporting invalid content of input strings.
          </documentation>
        </annotation>
        <complexContent>
          <extension base="tns:ApiError">
            <sequence>
              <element maxOccurs="1" minOccurs="0" name="reason" type="tns:StringFormatError.Reason"/>
            </sequence>
          </extension>
        </complexContent>
      </complexType>
      <complexType name="StringLengthError">
        <annotation>
          <documentation>
            Errors associated with the length of the given string being
            out of bounds.
          </documentation>
        </annotation>
        <complexContent>
          <extension base="tns:ApiError">
            <sequence>
              <element maxOccurs="1" minOccurs="0" name="reason" type="tns:StringLengthError.Reason">
                <annotation>
                  <documentation>
                    The error reason represented by an enum.
                  </documentation>
                </annotation>
              </element>
            </sequence>
          </extension>
        </complexContent>
      </complexType>
      <complexType name="DatabaseError">
        <annotation>
          <documentation>
            Errors that are thrown due to a database access problem.
          </documentation>
        </annotation>
        <complexContent>
          <extension base="tns:ApiError">
            <sequence>
              <element maxOccurs="1" minOccurs="0" name="reason" type="tns:DatabaseError.Reason">
                <annotation>
                  <documentation>
                    The error reason represented by an enum.
                  </documentation>
                </annotation>
              </element>
            </sequence>
          </extension>
        </complexContent>
      </complexType>
      <complexType abstract="true" name="OfflineConversionAdjustmentFeed">
        <annotation>
          <documentation>
            Represents a record in the offline conversion adjustments feed that advertisers upload.
            This class is inherited by GclidOfflineConversionAdjustmentFeed and
            OrderIdOfflineConversionAdjustmentFeed because advertisers upload conversion name and
            either (order id) or (gclid, conversion time) to identify a conversion.
          </documentation>
        </annotation>
        <sequence>
          <element maxOccurs="1" minOccurs="0" name="conversionName" type="xsd:string">
            <annotation>
              <documentation>
                The name associated with the conversion for this adjustment
                &lt;span class="constraint Required"&gt;This field is required and should not be {@code null}.&lt;/span&gt;
                &lt;span class="constraint StringLength"&gt;The length of this string should be between 1 and 100, inclusive, (trimmed).&lt;/span&gt;
              </documentation>
            </annotation>
          </element>
          <element maxOccurs="1" minOccurs="0" name="adjustmentTime" type="xsd:string">
            <annotation>
              <documentation>
                The instant that this adjustment occurred as reported by the advertiser.
                &lt;span class="constraint Required"&gt;This field is required and should not be {@code null}.&lt;/span&gt;
              </documentation>
            </annotation>
          </element>
          <element maxOccurs="1" minOccurs="0" name="adjustmentType" type="tns:OfflineConversionAdjustmentType">
            <annotation>
              <documentation>
                The adjustment type.
                (RETRACT, RESTATE)
                &lt;span class="constraint Required"&gt;This field is required and should not be {@code null}.&lt;/span&gt;
              </documentation>
            </annotation>
          </element>
          <element maxOccurs="1" minOccurs="0" name="adjustedValue" type="xsd:double">
            <annotation>
              <documentation>
                The adjusted value used for restatements. This is the value of the conversion after
                adjustment. For example, to change the value of a conversion from 100 to 70, an
                adjusted value of 70 should be reported.
                This is required for restatements and should not be used for retractions. An error
                will be returned if an adjusted value is provided for a retraction.
                &lt;span class="constraint InRange"&gt;This field must be greater than or equal to 0.&lt;/span&gt;
              </documentation>
            </annotation>
          </element>
          <element maxOccurs="1" minOccurs="0"
            name="adjustedValueCurrencyCode" type="xsd:string">
            <annotation>
              <documentation>
                The currency of the adjusted value. This is can be used for restatements and should not
                be used for retractions. An error will be returned if a adjustedValueCurrency is provided
                for a retraction. If not provided for a restatement, then the default currency
                from the conversion type is used, and if that is not set then the account currency is used.
                This is the ISO 4217 3-character currency code e.g. USD or EUR.
                &lt;span class="constraint StringLength"&gt;The length of this string should be between 3 and 3, inclusive, (trimmed).&lt;/span&gt;
              </documentation>
            </annotation>
          </element>
          <element maxOccurs="1" minOccurs="0"
            name="OfflineConversionAdjustmentFeed.Type" type="xsd:string">
            <annotation>
              <documentation>
                Indicates that this instance is a subtype of OfflineConversionAdjustmentFeed.
                Although this field is returned in the response, it is ignored on input
                and cannot be selected. Specify xsi:type instead.
              </documentation>
            </annotation>
          </element>
        </sequence>
      </complexType>
      <complexType name="OfflineConversionAdjustmentFeedOperation">
        <annotation>
          <documentation>
            Operation for uploading {@link OfflineConversionAdjustmentFeed}.
            See {@link OfflineConversionAdjustmentFeedService#mutate}.
            
            &lt;p&gt;&lt;b&gt;Note:&lt;/b&gt; Only the {@code ADD} operator is supported.
          </documentation>
        </annotation>
        <complexContent>
          <extension base="tns:Operation">
            <sequence>
              <element maxOccurs="1" minOccurs="0" name="operand" type="tns:OfflineConversionAdjustmentFeed">
                <annotation>
                  <documentation>
                    &lt;span class="constraint Required"&gt;This field is required and should not be {@code null}.&lt;/span&gt;
                  </documentation>
                </annotation>
              </element>
            </sequence>
          </extension>
        </complexContent>
      </complexType>
      <complexType abstract="true" name="Operation">
        <annotation>
          <documentation>
            This represents an operation that includes an operator and an operand
            specified type.
          </documentation>
        </annotation>
        <sequence>
          <element maxOccurs="1" minOccurs="0" name="operator" type="tns:Operator">
            <annotation>
              <documentation>
                Operator.
                &lt;span class="constraint Required"&gt;This field is required and should not be {@code null}.&lt;/span&gt;
              </documentation>
            </annotation>
          </element>
          <element maxOccurs="1" minOccurs="0" name="Operation.Type" type="xsd:string">
            <annotation>
              <documentation>
                Indicates that this instance is a subtype of Operation.
                Although this field is returned in the response, it is ignored on input
                and cannot be selected. Specify xsi:type instead.
              </documentation>
            </annotation>
          </element>
        </sequence>
      </complexType>
      <complexType abstract="true" name="ApiError">
        <annotation>
          <documentation>
            The API error base class that provides details about an error that occurred
            while processing a service request.
            
            &lt;p&gt;The OGNL field path is provided for parsers to identify the request data
            element that may have caused the error.&lt;/p&gt;
          </documentation>
        </annotation>
        <sequence>
          <element maxOccurs="1" minOccurs="0" name="fieldPath" type="xsd:string">
            <annotation>
              <documentation>
                The OGNL field path to identify cause of error.
              </documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0"
            name="fieldPathElements" type="tns:FieldPathElement">
            <annotation>
              <documentation>
                A parsed copy of the field path. For example, the field path "operations[1].operand"
                corresponds to this list: {FieldPathElement(field = "operations", index = 1),
                FieldPathElement(field = "operand", index = null)}.
              </documentation>
            </annotation>
          </element>
          <element maxOccurs="1" minOccurs="0" name="trigger" type="xsd:string">
            <annotation>
              <documentation>
                The data that caused the error.
              </documentation>
            </annotation>
          </element>
          <element maxOccurs="1" minOccurs="0" name="errorString" type="xsd:string">
            <annotation>
              <documentation>
                A simple string representation of the error and reason.
              </documentation>
            </annotation>
          </element>
          <element maxOccurs="1" minOccurs="0" name="ApiError.Type" type="xsd:string">
            <annotation>
              <documentation>
                Indicates that this instance is a subtype of ApiError.
                Although this field is returned in the response, it is ignored on input
                and cannot be selected. Specify xsi:type instead.
              </documentation>
            </annotation>
          </element>
        </sequence>
      </complexType>
      <complexType name="ApiException">
        <annotation>
          <documentation>
            Exception class for holding a list of service errors.
          </documentation>
        </annotation>
        <complexContent>
          <extension base="tns:ApplicationException">
            <sequence>
              <element maxOccurs="unbounded" minOccurs="0" name="errors" type="tns:ApiError">
                <annotation>
                  <documentation>
                    List of errors.
                  </documentation>
                </annotation>
              </element>
            </sequence>
          </extension>
        </complexContent>
      </complexType>
      <complexType name="ApplicationException">
        <annotation>
          <documentation>
            Base class for exceptions.
          </documentation>
        </annotation>
        <sequence>
          <element maxOccurs="1" minOccurs="0" name="message" type="xsd:string">
            <annotation>
              <documentation>
                Error message.
              </documentation>
            </annotation>
          </element>
          <element maxOccurs="1" minOccurs="0"
            name="ApplicationException.Type" type="xsd:string">
            <annotation>
              <documentation>
                Indicates that this instance is a subtype of ApplicationException.
                Although this field is returned in the response, it is ignored on input
                and cannot be selected. Specify xsi:type instead.
              </documentation>
            </annotation>
          </element>
        </sequence>
      </complexType>
      <complexType name="OfflineConversionAdjustmentFeedReturnValue">
        <annotation>
          <documentation>
            A container for return values from the OfflineConversionAdjustmentFeedService.
          </documentation>
        </annotation>
        <complexContent>
          <extension base="tns:ListReturnValue">
            <sequence>
              <element maxOccurs="unbounded" minOccurs="0" name="value" type="tns:OfflineConversionAdjustmentFeed"/>
              <element maxOccurs="unbounded" minOccurs="0"
                name="partialFailureErrors" type="tns:ApiError">
                <annotation>
                  <documentation>
                    List of partial failure errors.
                  </documentation>
                </annotation>
              </element>
            </sequence>
          </extension>
        </complexContent>
      </complexType>
      <complexType abstract="true" name="ListReturnValue">
        <annotation>
          <documentation>
            Base list return value type.
          </documentation>
        </annotation>
        <sequence>
          <element maxOccurs="1" minOccurs="0"
            name="ListReturnValue.Type" type="xsd:string">
            <annotation>
              <documentation>
                Indicates that this instance is a subtype of ListReturnValue.
                Although this field is returned in the response, it is ignored on input
                and cannot be selected. Specify xsi:type instead.
              </documentation>
            </annotation>
          </element>
        </sequence>
      </complexType>
      <simpleType name="AuthenticationError.Reason">
        <annotation>
          <documentation>
            The single reason for the authentication failure.
          </documentation>
        </annotation>
        <restriction base="xsd:string">
          <enumeration value="AUTHENTICATION_FAILED">
            <annotation>
              <documentation>
                Authentication of the request failed.
              </documentation>
            </annotation>
          </enumeration>
          <enumeration value="CLIENT_CUSTOMER_ID_IS_REQUIRED">
            <annotation>
              <documentation>
                Client Customer Id is required if CustomerIdMode is set to CLIENT_EXTERNAL_CUSTOMER_ID.
                Starting version V201409 ClientCustomerId will be required for all requests except
                for {@link CustomerService#get}
              </documentation>
            </annotation>
          </enumeration>
          <enumeration value="CLIENT_EMAIL_REQUIRED">
            <annotation>
              <documentation>
                Client Email is required if CustomerIdMode is set to CLIENT_EXTERNAL_EMAIL_FIELD.
              </documentation>
            </annotation>
          </enumeration>
          <enumeration value="CLIENT_CUSTOMER_ID_INVALID">
            <annotation>
              <documentation>
                Client customer Id is not a number.
              </documentation>
            </annotation>
          </enumeration>
          <enumeration value="CLIENT_EMAIL_INVALID">
            <annotation>
              <documentation>
                Client customer Id is not a number.
              </documentation>
            </annotation>
          </enumeration>
          <enumeration value="CLIENT_EMAIL_FAILED_TO_AUTHENTICATE">
            <annotation>
              <documentation>
                Client email is not a valid customer email.
              </documentation>
            </annotation>
          </enumeration>
          <enumeration value="CUSTOMER_NOT_FOUND">
            <annotation>
              <documentation>
                No customer found for the customer id provided in the header.
              </documentation>
            </annotation>
          </enumeration>
          <enumeration value="GOOGLE_ACCOUNT_DELETED">
            <annotation>
              <documentation>
                Client's Google Account is deleted.
              </documentation>
            </annotation>
          </enumeration>
          <enumeration value="GOOGLE_ACCOUNT_COOKIE_INVALID">
            <annotation>
              <documentation>
                Google account login token in the cookie is invalid.
              </documentation>
            </annotation>
          </enumeration>
          <enumeration value="FAILED_TO_AUTHENTICATE_GOOGLE_ACCOUNT">
            <annotation>
              <documentation>
                problem occurred during Google account authentication.
              </documentation>
            </annotation>
          </enumeration>
          <enumeration value="GOOGLE_ACCOUNT_USER_AND_ADS_USER_MISMATCH">
            <annotation>
              <documentation>
                The user in the google account login token does not match the UserId in the cookie.
              </documentation>
            </annotation>
          </enumeration>
          <enumeration value="LOGIN_COOKIE_REQUIRED">
            <annotation>
              <documentation>
                Login cookie is required for authentication.
              </documentation>
            </annotation>
          </enumeration>
          <enumeration value="NOT_ADS_USER">
            <annotation>
              <documentation>
                User in the cookie is not a valid Ads user.
              </documentation>
            </annotation>
          </enumeration>
          <enumeration value="OAUTH_TOKEN_INVALID">
            <annotation>
              <documentation>
                Oauth token in the header is not valid.
              </documentation>
            </annotation>
          </enumeration>
          <enumeration value="OAUTH_TOKEN_EXPIRED">
            <annotation>
              <documentation>
                Oauth token in the header has expired.
              </documentation>
            </annotation>
          </enumeration>
          <enumeration value="OAUTH_TOKEN_DISABLED">
            <annotation>
              <documentation>
                Oauth token in the header has been disabled.
              </documentation>
            </annotation>
          </enumeration>
          <enumeration value="OAUTH_TOKEN_REVOKED">
            <annotation>
              <documentation>
                Oauth token in the header has been revoked.
              </documentation>
            </annotation>
          </enumeration>
          <enumeration value="OAUTH_TOKEN_HEADER_INVALID">
            <annotation>
              <documentation>
                Oauth token HTTP header is malformed.
              </documentation>
            </annotation>
          </enumeration>
          <enumeration value="LOGIN_COOKIE_INVALID">
            <annotation>
              <documentation>
                Login cookie is not valid.
              </documentation>
            </annotation>
          </enumeration>
          <enumeration value="FAILED_TO_RETRIEVE_LOGIN_COOKIE">
            <annotation>
              <documentation>
                Failed to decrypt the login cookie.
              </documentation>
            </annotation>
          </enumeration>
          <enumeration value="USER_ID_INVALID">
            <annotation>
              <documentation>
                User Id in the header is not a valid id.
              </documentation>
            </annotation>
          </enumeration>
        </restriction>
      </simpleType>
      <simpleType name="AuthorizationError.Reason">
        <annotation>
          <documentation>
            The reasons for the authorization error.
          </documentation>
        </annotation>
        <restriction base="xsd:string">
          <enumeration value="UNABLE_TO_AUTHORIZE">
            <annotation>
              <documentation>
                Could not complete authorization due to an internal problem.
              </documentation>
            </annotation>
          </enumeration>
          <enumeration value="NO_ADWORDS_ACCOUNT_FOR_CUSTOMER">
            <annotation>
              <documentation>
                Customer has no AdWords account.
              </documentation>
            </annotation>
          </enumeration>
          <enumeration value="USER_PERMISSION_DENIED">
            <annotation>
              <documentation>
                User doesn't have permission to access customer.
              </documentation>
            </annotation>
          </enumeration>
          <enumeration value="EFFECTIVE_USER_PERMISSION_DENIED">
            <annotation>
              <documentation>
                Effective user doesn't have permission to access this customer.
              </documentation>
            </annotation>
          </enumeration>
          <enumeration value="CUSTOMER_NOT_ACTIVE">
            <annotation>
              <documentation>
                Access denied since the customer is not active.
              </documentation>
            </annotation>
          </enumeration>
          <enumeration value="USER_HAS_READONLY_PERMISSION">
            <annotation>
              <documentation>
                User has read-only permission cannot mutate.
              </documentation>
            </annotation>
          </enumeration>
          <enumeration value="NO_CUSTOMER_FOUND">
            <annotation>
              <documentation>
                No customer found.
              </documentation>
            </annotation>
          </enumeration>
          <enumeration value="SERVICE_ACCESS_DENIED">
            <annotation>
              <documentation>
                Developer doesn't have permission to access service.
              </documentation>
            </annotation>
          </enumeration>
          <enumeration value="TWO_STEP_VERIFICATION_NOT_ENROLLED">
            <annotation>
              <documentation>
                The customer has a policy to enforce 2-Step Verification, but the user is not enrolled.
              </documentation>
            </annotation>
          </enumeration>
          <enumeration value="ADVANCED_PROTECTION_NOT_ENROLLED">
            <annotation>
              <documentation>
                The customer has a policy to enforce enrollment in the Advanced Protection Program, but
                the user is not enrolled.
              </documentation>
            </annotation>
          </enumeration>
        </restriction>
      </simpleType>
      <simpleType name="ClientTermsError.Reason">
        <annotation>
          <documentation>
            Enums for the various reasons an error can be thrown as a result of
            ClientTerms violation.
          </documentation>
        </annotation>
        <restriction base="xsd:string">
          <enumeration value="INCOMPLETE_SIGNUP_CURRENT_ADWORDS_TNC_NOT_AGREED">
            <annotation>
              <documentation>
                Customer has not agreed to the latest AdWords Terms &amp; Conditions
              </documentation>
            </annotation>
          </enumeration>
        </restriction>
      </simpleType>
      <simpleType name="CollectionSizeError.Reason">
        <annotation>
          <documentation>
            The reasons for the target error.
          </documentation>
        </annotation>
        <restriction base="xsd:string">
          <enumeration value="TOO_FEW"/>
          <enumeration value="TOO_MANY"/>
        </restriction>
      </simpleType>
      <simpleType name="CurrencyCodeError.Reason">
        <annotation>
          <documentation>
            Encodes the reason (cause) of a particular {@link CurrencyCodeError}.
          </documentation>
        </annotation>
        <restriction base="xsd:string">
          <enumeration value="UNSUPPORTED_CURRENCY_CODE"/>
        </restriction>
      </simpleType>
      <simpleType name="DatabaseError.Reason">
        <annotation>
          <documentation>
            The reasons for the database error.
          </documentation>
        </annotation>
        <restriction base="xsd:string">
          <enumeration value="CONCURRENT_MODIFICATION">
            <annotation>
              <documentation>
                A concurrency problem occurred as two threads were attempting to modify same object.
              </documentation>
            </annotation>
          </enumeration>
          <enumeration value="PERMISSION_DENIED">
            <annotation>
              <documentation>
                The permission was denied to access an object.
              </documentation>
            </annotation>
          </enumeration>
          <enumeration value="ACCESS_PROHIBITED">
            <annotation>
              <documentation>
                The user's access to an object has been prohibited.
              </documentation>
            </annotation>
          </enumeration>
          <enumeration value="CAMPAIGN_PRODUCT_NOT_SUPPORTED">
            <annotation>
              <documentation>
                Requested campaign belongs to a product that is not supported by the api.
              </documentation>
            </annotation>
          </enumeration>
          <enumeration value="DUPLICATE_KEY">
            <annotation>
              <documentation>
                a duplicate key was detected upon insertion
              </documentation>
            </annotation>
          </enumeration>
          <enumeration value="DATABASE_ERROR">
            <annotation>
              <documentation>
                a database error has occurred
              </documentation>
            </annotation>
          </enumeration>
          <enumeration value="UNKNOWN">
            <annotation>
              <documentation>
                an unknown error has occurred
              </documentation>
            </annotation>
          </enumeration>
        </restriction>
      </simpleType>
      <simpleType name="DateError.Reason">
        <annotation>
          <documentation>
            The reasons for the target error.
          </documentation>
        </annotation>
        <restriction base="xsd:string">
          <enumeration value="INVALID_FIELD_VALUES_IN_DATE">
            <annotation>
              <documentation>
                Given field values do not correspond to a valid date.
              </documentation>
            </annotation>
          </enumeration>
          <enumeration value="INVALID_FIELD_VALUES_IN_DATE_TIME">
            <annotation>
              <documentation>
                Given field values do not correspond to a valid date time.
              </documentation>
            </annotation>
          </enumeration>
          <enumeration value="INVALID_STRING_DATE">
            <annotation>
              <documentation>
                The string date's format should be yyyymmdd.
              </documentation>
            </annotation>
          </enumeration>
          <enumeration value="INVALID_STRING_DATE_RANGE">
            <annotation>
              <documentation>
                The string date range's format should be yyyymmdd yyyymmdd.
              </documentation>
            </annotation>
          </enumeration>
          <enumeration value="INVALID_STRING_DATE_TIME">
            <annotation>
              <documentation>
                The string date time's format should be yyyymmdd hhmmss [tz].
              </documentation>
            </annotation>
          </enumeration>
          <enumeration value="EARLIER_THAN_MINIMUM_DATE">
            <annotation>
              <documentation>
                Date is before allowed minimum.
              </documentation>
            </annotation>
          </enumeration>
          <enumeration value="LATER_THAN_MAXIMUM_DATE">
            <annotation>
              <documentation>
                Date is after allowed maximum.
              </documentation>
            </annotation>
          </enumeration>
          <enumeration value="DATE_RANGE_MINIMUM_DATE_LATER_THAN_MAXIMUM_DATE">
            <annotation>
              <documentation>
                Date range bounds are not in order.
              </documentation>
            </annotation>
          </enumeration>
          <enumeration value="DATE_RANGE_MINIMUM_AND_MAXIMUM_DATES_BOTH_NULL">
            <annotation>
              <documentation>
                Both dates in range are null.
              </documentation>
            </annotation>
          </enumeration>
        </restriction>
      </simpleType>
      <simpleType name="DistinctError.Reason">
        <annotation>
          <documentation>
            The reasons for the validation error.
          </documentation>
        </annotation>
        <restriction base="xsd:string">
          <enumeration value="DUPLICATE_ELEMENT"/>
          <enumeration value="DUPLICATE_TYPE"/>
        </restriction>
      </simpleType>
      <simpleType name="EntityCountLimitExceeded.Reason">
        <annotation>
          <documentation>
            Limits at various levels of the account.
          </documentation>
        </annotation>
        <restriction base="xsd:string">
          <enumeration value="ACCOUNT_LIMIT">
            <annotation>
              <documentation>
                Indicates that this request would exceed the number of allowed entities for the AdWords
                account. The exact entity type and limit being checked can be inferred from
                {@link #accountLimitType}.
              </documentation>
            </annotation>
          </enumeration>
          <enumeration value="CAMPAIGN_LIMIT">
            <annotation>
              <documentation>
                Indicates that this request would exceed the number of allowed entities in a Campaign.
                The exact entity type and limit being checked can be inferred from
                {@link #accountLimitType}, and the numeric id of the Campaign involved is given by
                {@link #enclosingId}.
              </documentation>
            </annotation>
          </enumeration>
          <enumeration value="ADGROUP_LIMIT">
            <annotation>
              <documentation>
                Indicates that this request would exceed the number of allowed entities in
                an ad group.  The exact entity type and limit being checked can be
                inferred from {@link #accountLimitType}, and the numeric id of the ad group
                involved is given by {@link #enclosingId}.
              </documentation>
            </annotation>
          </enumeration>
          <enumeration value="AD_GROUP_AD_LIMIT">
            <annotation>
              <documentation>
                Indicates that this request would exceed the number of allowed entities in an ad group ad.
                The exact entity type and limit being checked can be inferred from {@link #accountLimitType},
                and the {@link #enclosingId} contains the ad group id followed by the ad id, separated by a
                single comma (,).
              </documentation>
            </annotation>
          </enumeration>
          <enumeration value="AD_GROUP_CRITERION_LIMIT">
            <annotation>
              <documentation>
                Indicates that this request would exceed the number of allowed entities in an ad group
                criterion.  The exact entity type and limit being checked can be inferred from
                {@link #accountLimitType}, and the {@link #enclosingId} contains the ad group id followed by
                the criterion id, separated by a single comma (,).
              </documentation>
            </annotation>
          </enumeration>
          <enumeration value="SHARED_SET_LIMIT">
            <annotation>
              <documentation>
                Indicates that this request would exceed the number of allowed entities in
                this shared set.  The exact entity type and limit being checked can be
                inferred from {@link #accountLimitType}, and the numeric id of the shared
                set involved is given by {@link #enclosingId}.
              </documentation>
            </annotation>
          </enumeration>
          <enumeration value="MATCHING_FUNCTION_LIMIT">
            <annotation>
              <documentation>
                Exceeds a limit related to a matching function.
              </documentation>
            </annotation>
          </enumeration>
          <enumeration value="UNKNOWN">
            <annotation>
              <documentation>
                Specific limit that has been exceeded is unknown (the client may be of an
                older version than the server).
              </documentation>
            </annotation>
          </enumeration>
        </restriction>
      </simpleType>
      <simpleType name="EntityNotFound.Reason">
        <restriction base="xsd:string">
          <enumeration value="INVALID_ID">
            <annotation>
              <documentation>
                The specified id refered to an entity which either doesn't exist or is not accessible to the
                customer. e.g. campaign belongs to another customer.
              </documentation>
            </annotation>
          </enumeration>
        </restriction>
      </simpleType>
      <simpleType name="IdError.Reason">
        <annotation>
          <documentation>
            The reasons for the target error.
          </documentation>
        </annotation>
        <restriction base="xsd:string">
          <enumeration value="NOT_FOUND">
            <annotation>
              <documentation>
                Id not found
              </documentation>
            </annotation>
          </enumeration>
        </restriction>
      </simpleType>
      <simpleType name="InternalApiError.Reason">
        <annotation>
          <documentation>
            The single reason for the internal API error.
          </documentation>
        </annotation>
        <restriction base="xsd:string">
          <enumeration value="UNEXPECTED_INTERNAL_API_ERROR">
            <annotation>
              <documentation>
                API encountered an unexpected internal error.
              </documentation>
            </annotation>
          </enumeration>
          <enumeration value="TRANSIENT_ERROR">
            <annotation>
              <documentation>
                A temporary error occurred during the request. Please retry.
              </documentation>
            </annotation>
          </enumeration>
          <enumeration value="UNKNOWN">
            <annotation>
              <documentation>
                The cause of the error is not known or only defined in newer versions.
              </documentation>
            </annotation>
          </enumeration>
          <enumeration value="DOWNTIME">
            <annotation>
              <documentation>
                The API is currently unavailable for a planned downtime.
              </documentation>
            </annotation>
          </enumeration>
          <enumeration value="ERROR_GENERATING_RESPONSE">
            <annotation>
              <documentation>
                Mutate succeeded but server was unable to build response. Client should not retry mutate.
              </documentation>
            </annotation>
          </enumeration>
        </restriction>
      </simpleType>
      <simpleType name="NotEmptyError.Reason">
        <annotation>
          <documentation>
            The reasons for the validation error.
          </documentation>
        </annotation>
        <restriction base="xsd:string">
          <enumeration value="EMPTY_LIST"/>
        </restriction>
      </simpleType>
      <simpleType name="NullError.Reason">
        <annotation>
          <documentation>
            The reasons for the validation error.
          </documentation>
        </annotation>
        <restriction base="xsd:string">
          <enumeration value="NULL_CONTENT">
            <annotation>
              <documentation>
                Specified list/container must not contain any null elements
              </documentation>
            </annotation>
          </enumeration>
        </restriction>
      </simpleType>
      <simpleType name="OfflineConversionAdjustmentError.Reason">
        <annotation>
          <documentation>
            The reasons for an OfflineConversionAdjustmentError.
          </documentation>
        </annotation>
        <restriction base="xsd:string">
          <enumeration value="RETRACTION_WITH_VALUE_OR_CURRENCY">
            <annotation>
              <documentation>
                The retraction incorrectly contains adjusted value or currency.
                Retractions are intended to nullify conversions and thus should not have
                an adjusted value or currency.
              </documentation>
            </annotation>
          </enumeration>
          <enumeration value="RESTATEMENT_WITHOUT_VALUE">
            <annotation>
              <documentation>
                The restatement does not contain an adjusted value.
              </documentation>
            </annotation>
          </enumeration>
          <enumeration value="FUTURE_CONVERSION_TIME">
            <annotation>
              <documentation>
                This conversion time is in the future.
                This only occurs when the advertiser is reporting adjustments using gclid
                and conversion time instead of using order id.
              </documentation>
            </annotation>
          </enumeration>
          <enumeration value="FUTURE_ADJUSTMENT_TIME">
            <annotation>
              <documentation>
                This adjustment time is in the future.
              </documentation>
            </annotation>
          </enumeration>
          <enumeration value="TOO_RECENT_CONVERSION_TYPE">
            <annotation>
              <documentation>
                The adjustment's conversion type was created too recently.
              </documentation>
            </annotation>
          </enumeration>
          <enumeration value="INVALID_CONVERSION_TYPE">
            <annotation>
              <documentation>
                This uploading account does not have a conversion type that matches the conversion
                type of this adjustment.
              </documentation>
            </annotation>
          </enumeration>
          <enumeration value="CONVERSION_ALREADY_CANCELED">
            <annotation>
              <documentation>
                A retraction with a different adjustment occurrence timestamp was found
                for this conversion.
              </documentation>
            </annotation>
          </enumeration>
          <enumeration value="CONVERSION_NOT_FOUND">
            <annotation>
              <documentation>
                A conversion for the given (order id, conversion name) or (gclid, conversion occurrence
                time, conversion name) could not be found.
              </documentation>
            </annotation>
          </enumeration>
          <enumeration value="CONVERSION_EXPIRED">
            <annotation>
              <documentation>
                An expired conversion was found for the given (order id, conversion name) or
                (gclid, conversion occurrence time, conversion name).
                Conversions expire after 90 days, after which adjustments cannot be reported against them.
              </documentation>
            </annotation>
          </enumeration>
          <enumeration value="ADJUSTMENT_PRECEDES_CONVERSION">
            <annotation>
              <documentation>
                The given adjustment occurrence time precedes that of the original conversion.
              </documentation>
            </annotation>
          </enumeration>
          <enumeration value="MORE_RECENT_RESTATEMENT_FOUND">
            <annotation>
              <documentation>
                A restatement was found with a more recent adjustment occurrence timestamp for
                the same conversion.
              </documentation>
            </annotation>
          </enumeration>
          <enumeration value="ATTRIBUTED_CONVERSION_NOT_SUPPORTED">
            <annotation>
              <documentation>
                Adjustments are currently not supported for attributed conversions.
              </documentation>
            </annotation>
          </enumeration>
          <enumeration value="TOO_RECENT_CONVERSION">
            <annotation>
              <documentation>
                The conversion was created too recently.
              </documentation>
            </annotation>
          </enumeration>
          <enumeration value="INVALID_ORDER_ID">
            <annotation>
              <documentation>
                A conversion associated with this order id cannot be adjusted because the order id is less
                than 2 characters or is a static value like "order_id" or "undefined".
              </documentation>
            </annotation>
          </enumeration>
          <enumeration value="CANNOT_RESTATE_CONVERSION_ACTION_THAT_ALWAYS_USES_DEFAULT_CONVERSION_VALUE">
            <annotation>
              <documentation>
                Restatements cannot be reported for a conversion action that always uses the default value.
              </documentation>
            </annotation>
          </enumeration>
          <enumeration value="UNKNOWN">
            <annotation>
              <documentation>
                &lt;span class="constraint Rejected"&gt;Used for return value only. An enumeration could not be processed, typically due to incompatibility with your WSDL version.&lt;/span&gt;
              </documentation>
            </annotation>
          </enumeration>
        </restriction>
      </simpleType>
      <simpleType name="OfflineConversionAdjustmentType">
        <restriction base="xsd:string">
          <enumeration value="UKNOWN">
            <annotation>
              <documentation>
                &lt;span class="constraint Rejected"&gt;Used for return value only. An enumeration could not be processed, typically due to incompatibility with your WSDL version.&lt;/span&gt;
              </documentation>
            </annotation>
          </enumeration>
          <enumeration value="RETRACT">
            <annotation>
              <documentation>
                Adjustment reported a retraction.
              </documentation>
            </annotation>
          </enumeration>
          <enumeration value="RESTATE">
            <annotation>
              <documentation>
                Adjustment reported a restatement. Only conversion values can be restated.
              </documentation>
            </annotation>
          </enumeration>
        </restriction>
      </simpleType>
      <simpleType name="OperationAccessDenied.Reason">
        <annotation>
          <documentation>
            The reasons for the operation access error.
          </documentation>
        </annotation>
        <restriction base="xsd:string">
          <enumeration value="ACTION_NOT_PERMITTED">
            <annotation>
              <documentation>
                Unauthorized invocation of a service's method (get, mutate, etc.)
              </documentation>
            </annotation>
          </enumeration>
          <enumeration value="ADD_OPERATION_NOT_PERMITTED">
            <annotation>
              <documentation>
                Unauthorized ADD operation in invoking a service's mutate method.
              </documentation>
            </annotation>
          </enumeration>
          <enumeration value="REMOVE_OPERATION_NOT_PERMITTED">
            <annotation>
              <documentation>
                Unauthorized REMOVE operation in invoking a service's mutate method.
              </documentation>
            </annotation>
          </enumeration>
          <enumeration value="SET_OPERATION_NOT_PERMITTED">
            <annotation>
              <documentation>
                Unauthorized SET operation in invoking a service's mutate method.
              </documentation>
            </annotation>
          </enumeration>
          <enumeration value="MUTATE_ACTION_NOT_PERMITTED_FOR_CLIENT">
            <annotation>
              <documentation>
                A mutate action is not allowed on this campaign, from this client.
              </documentation>
            </annotation>
          </enumeration>
          <enumeration value="OPERATION_NOT_PERMITTED_FOR_CAMPAIGN_TYPE">
            <annotation>
              <documentation>
                This operation is not permitted on this campaign type
              </documentation>
            </annotation>
          </enumeration>
          <enumeration value="ADD_AS_REMOVED_NOT_PERMITTED">
            <annotation>
              <documentation>
                An ADD operation may not set status to REMOVED.
              </documentation>
            </annotation>
          </enumeration>
          <enumeration value="OPERATION_NOT_PERMITTED_FOR_REMOVED_ENTITY">
            <annotation>
              <documentation>
                This operation is not allowed because the campaign or adgroup is removed.
              </documentation>
            </annotation>
          </enumeration>
          <enumeration value="OPERATION_NOT_PERMITTED_FOR_AD_GROUP_TYPE">
            <annotation>
              <documentation>
                This operation is not permitted on this ad group type.
              </documentation>
            </annotation>
          </enumeration>
          <enumeration value="UNKNOWN">
            <annotation>
              <documentation>
                The reason the invoked method or operation is prohibited is not known
                (the client may be of an older version than the server).
              </documentation>
            </annotation>
          </enumeration>
        </restriction>
      </simpleType>
      <simpleType name="Operator">
        <annotation>
          <documentation>
            This represents an operator that may be presented to an adsapi service.
          </documentation>
        </annotation>
        <restriction base="xsd:string">
          <enumeration value="ADD">
            <annotation>
              <documentation>
                The ADD operator.
              </documentation>
            </annotation>
          </enumeration>
          <enumeration value="REMOVE">
            <annotation>
              <documentation>
                The REMOVE operator.
              </documentation>
            </annotation>
          </enumeration>
          <enumeration value="SET">
            <annotation>
              <documentation>
                The SET operator (used for updates).
              </documentation>
            </annotation>
          </enumeration>
        </restriction>
      </simpleType>
      <simpleType name="OperatorError.Reason">
        <annotation>
          <documentation>
            The reasons for the validation error.
          </documentation>
        </annotation>
        <restriction base="xsd:string">
          <enumeration value="OPERATOR_NOT_SUPPORTED"/>
        </restriction>
      </simpleType>
      <simpleType name="QuotaCheckError.Reason">
        <annotation>
          <documentation>
            Enums for all the reasons an error can be thrown to the user during
            billing quota checks.
          </documentation>
        </annotation>
        <restriction base="xsd:string">
          <enumeration value="INVALID_TOKEN_HEADER">
            <annotation>
              <documentation>
                Customer passed in an invalid token in the header.
              </documentation>
            </annotation>
          </enumeration>
          <enumeration value="ACCOUNT_DELINQUENT">
            <annotation>
              <documentation>
                Customer is marked delinquent.
              </documentation>
            </annotation>
          </enumeration>
          <enumeration value="ACCOUNT_INACCESSIBLE">
            <annotation>
              <documentation>
                Customer is a fraudulent.
              </documentation>
            </annotation>
          </enumeration>
          <enumeration value="ACCOUNT_INACTIVE">
            <annotation>
              <documentation>
                Inactive Account.
              </documentation>
            </annotation>
          </enumeration>
          <enumeration value="INCOMPLETE_SIGNUP">
            <annotation>
              <documentation>
                Signup not complete
              </documentation>
            </annotation>
          </enumeration>
          <enumeration value="DEVELOPER_TOKEN_NOT_APPROVED">
            <annotation>
              <documentation>
                Developer token is not approved for production access, and the customer
                is attempting to access a production account.
              </documentation>
            </annotation>
          </enumeration>
          <enumeration value="TERMS_AND_CONDITIONS_NOT_SIGNED">
            <annotation>
              <documentation>
                Terms and conditions are not signed.
              </documentation>
            </annotation>
          </enumeration>
          <enumeration value="MONTHLY_BUDGET_REACHED">
            <annotation>
              <documentation>
                Monthly budget quota reached.
              </documentation>
            </annotation>
          </enumeration>
          <enumeration value="QUOTA_EXCEEDED">
            <annotation>
              <documentation>
                Monthly budget quota exceeded.
              </documentation>
            </annotation>
          </enumeration>
        </restriction>
      </simpleType>
      <simpleType name="RangeError.Reason">
        <annotation>
          <documentation>
            The reasons for the target error.
          </documentation>
        </annotation>
        <restriction base="xsd:string">
          <enumeration value="TOO_LOW"/>
          <enumeration value="TOO_HIGH"/>
        </restriction>
      </simpleType>
      <simpleType name="RateExceededError.Reason">
        <annotation>
          <documentation>
            The reason for the rate exceeded error.
          </documentation>
        </annotation>
        <restriction base="xsd:string">
          <enumeration value="RATE_EXCEEDED">
            <annotation>
              <documentation>
                Rate exceeded.
              </documentation>
            </annotation>
          </enumeration>
        </restriction>
      </simpleType>
      <simpleType name="ReadOnlyError.Reason">
        <annotation>
          <documentation>
            The reasons for the target error.
          </documentation>
        </annotation>
        <restriction base="xsd:string">
          <enumeration value="READ_ONLY"/>
        </restriction>
      </simpleType>
      <simpleType name="RegionCodeError.Reason">
        <annotation>
          <documentation>
            The reasons for the validation error.
          </documentation>
        </annotation>
        <restriction base="xsd:string">
          <enumeration value="INVALID_REGION_CODE"/>
        </restriction>
      </simpleType>
      <simpleType name="RejectedError.Reason">
        <annotation>
          <documentation>
            The reasons for the target error.
          </documentation>
        </annotation>
        <restriction base="xsd:string">
          <enumeration value="UNKNOWN_VALUE">
            <annotation>
              <documentation>
                Unknown value encountered
              </documentation>
            </annotation>
          </enumeration>
        </restriction>
      </simpleType>
      <simpleType name="RequestError.Reason">
        <restriction base="xsd:string">
          <enumeration value="UNKNOWN">
            <annotation>
              <documentation>
                Error reason is unknown.
              </documentation>
            </annotation>
          </enumeration>
          <enumeration value="INVALID_INPUT">
            <annotation>
              <documentation>
                Invalid input.
              </documentation>
            </annotation>
          </enumeration>
          <enumeration value="UNSUPPORTED_VERSION">
            <annotation>
              <documentation>
                The api version in the request has been discontinued. Please update
                to the new AdWords API version.
              </documentation>
            </annotation>
          </enumeration>
        </restriction>
      </simpleType>
      <simpleType name="RequiredError.Reason">
        <annotation>
          <documentation>
            The reasons for the target error.
          </documentation>
        </annotation>
        <restriction base="xsd:string">
          <enumeration value="REQUIRED">
            <annotation>
              <documentation>
                Missing required field.
              </documentation>
            </annotation>
          </enumeration>
        </restriction>
      </simpleType>
      <simpleType name="SizeLimitError.Reason">
        <annotation>
          <documentation>
            The reasons for Ad Scheduling errors.
          </documentation>
        </annotation>
        <restriction base="xsd:string">
          <enumeration value="REQUEST_SIZE_LIMIT_EXCEEDED">
            <annotation>
              <documentation>
                The number of entries in the request exceeds the system limit.
              </documentation>
            </annotation>
          </enumeration>
          <enumeration value="RESPONSE_SIZE_LIMIT_EXCEEDED">
            <annotation>
              <documentation>
                The number of entries in the response exceeds the system limit.
              </documentation>
            </annotation>
          </enumeration>
          <enumeration value="INTERNAL_STORAGE_ERROR">
            <annotation>
              <documentation>
                The account is too large to load.
              </documentation>
            </annotation>
          </enumeration>
          <enumeration value="UNKNOWN">
            <annotation>
              <documentation>
                &lt;span class="constraint Rejected"&gt;Used for return value only. An enumeration could not be processed, typically due to incompatibility with your WSDL version.&lt;/span&gt;
              </documentation>
            </annotation>
          </enumeration>
        </restriction>
      </simpleType>
      <simpleType name="StringFormatError.Reason">
        <annotation>
          <documentation>
            The reasons for the target error.
          </documentation>
        </annotation>
        <restriction base="xsd:string">
          <enumeration value="UNKNOWN"/>
          <enumeration value="ILLEGAL_CHARS">
            <annotation>
              <documentation>
                The input string value contains disallowed characters.
              </documentation>
            </annotation>
          </enumeration>
          <enumeration value="INVALID_FORMAT">
            <annotation>
              <documentation>
                The input string value is invalid for the associated field.
              </documentation>
            </annotation>
          </enumeration>
        </restriction>
      </simpleType>
      <simpleType name="StringLengthError.Reason">
        <annotation>
          <documentation>
            The reasons for the target error.
          </documentation>
        </annotation>
        <restriction base="xsd:string">
          <enumeration value="TOO_SHORT"/>
          <enumeration value="TOO_LONG"/>
        </restriction>
      </simpleType>
      <element name="mutate">
        <annotation>
          <documentation>
            Reports a conversion adjustment for each entry in {@code operations}.
            
            &lt;p&gt;&lt;b&gt;Note:&lt;/b&gt; {@link OfflineConversionAdjustmentFeedOperation} supports only the
            {@code ADD} operator. ({@code SET} and {@code REMOVE} are not supported.)
            
            @param operations A list of offline conversion adjustment feed operations.
            @return The list of offline conversion adjustment feed results in the same order
            as the operations.
            @throws {@link ApiException} If problems occurred while applying offline
            adjustment conversions.
          </documentation>
        </annotation>
        <complexType>
          <sequence>
            <element maxOccurs="unbounded" minOccurs="0"
              name="operations" type="tns:OfflineConversionAdjustmentFeedOperation">
              <annotation>
                <documentation>
                  &lt;span class="constraint ContentsNotNull"&gt;This field must not contain {@code null} elements.&lt;/span&gt;
                  &lt;span class="constraint NotEmpty"&gt;This field must contain at least one element.&lt;/span&gt;
                  &lt;span class="constraint Required"&gt;This field is required and should not be {@code null}.&lt;/span&gt;
                  &lt;span class="constraint SupportedOperators"&gt;The following {@link Operator}s are supported: ADD.&lt;/span&gt;
                </documentation>
              </annotation>
            </element>
          </sequence>
        </complexType>
      </element>
      <element name="mutateResponse">
        <complexType>
          <sequence>
            <element maxOccurs="1" minOccurs="0" name="rval" type="tns:OfflineConversionAdjustmentFeedReturnValue"/>
          </sequence>
        </complexType>
      </element>
      <element name="ApiExceptionFault" type="tns:ApiException">
        <annotation>
          <documentation>
            A fault element of type ApiException.
          </documentation>
        </annotation>
      </element>
      <element name="RequestHeader" type="tns:SoapHeader"/>
      <element name="ResponseHeader" type="tns:SoapResponseHeader"/>
    </schema>
  </wsdl:types>
  <wsdl:message name="RequestHeader">
    <wsdl:part element="tns:RequestHeader" name="RequestHeader"/>
  </wsdl:message>
  <wsdl:message name="ResponseHeader">
    <wsdl:part element="tns:ResponseHeader" name="ResponseHeader"/>
  </wsdl:message>
  <wsdl:message name="mutateRequest">
    <wsdl:part element="tns:mutate" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="mutateResponse">
    <wsdl:part element="tns:mutateResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="ApiException">
    <wsdl:part element="tns:ApiExceptionFault" name="ApiException"/>
  </wsdl:message>
  <wsdl:portType name="OfflineConversionAdjustmentFeedServiceInterface">
    <wsdl:documentation>
      Service that handles the reporting of offline conversion adjustments from external
      third parties.
    </wsdl:documentation>
    <wsdl:operation name="mutate">
      <wsdl:documentation>
        Reports a conversion adjustment for each entry in {@code operations}.
        
        &lt;p&gt;&lt;b&gt;Note:&lt;/b&gt; {@link OfflineConversionAdjustmentFeedOperation} supports only the
        {@code ADD} operator. ({@code SET} and {@code REMOVE} are not supported.)
        
        @param operations A list of offline conversion adjustment feed operations.
        @return The list of offline conversion adjustment feed results in the same order
        as the operations.
        @throws {@link ApiException} If problems occurred while applying offline
        adjustment conversions.
      </wsdl:documentation>
      <wsdl:input message="tns:mutateRequest" name="mutateRequest"/>
      <wsdl:output message="tns:mutateResponse" name="mutateResponse"/>
      <wsdl:fault message="tns:ApiException" name="ApiException"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="OfflineConversionAdjustmentFeedServiceSoapBinding" type="tns:OfflineConversionAdjustmentFeedServiceInterface">
    <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="mutate">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="mutateRequest">
        <wsdlsoap:header message="tns:RequestHeader"
          part="RequestHeader" use="literal"/>
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="mutateResponse">
        <wsdlsoap:header message="tns:ResponseHeader"
          part="ResponseHeader" use="literal"/>
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ApiException">
        <wsdlsoap:fault name="ApiException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="OfflineConversionAdjustmentFeedService">
    <wsdl:port
      binding="tns:OfflineConversionAdjustmentFeedServiceSoapBinding" name="OfflineConversionAdjustmentFeedServiceInterfacePort">
      <wsdlsoap:address location="https://adwords.google.com/api/adwords/cm/v201806/OfflineConversionAdjustmentFeedService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
