resources/wsdls/apis/ads/publisher/v201805/ReconciliationLineItemReportService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- Generated file, do not edit -->
<!-- Copyright 2018 Google Inc. All Rights Reserved -->
<wsdl:definitions
  targetNamespace="https://www.google.com/apis/ads/publisher/v201805"
  xmlns:tns="https://www.google.com/apis/ads/publisher/v201805"
  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
  xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
    <schema elementFormDefault="qualified" jaxb:version="1.0"
      targetNamespace="https://www.google.com/apis/ads/publisher/v201805"
      xmlns="http://www.w3.org/2001/XMLSchema"
      xmlns:jaxb="http://java.sun.com/xml/ns/jaxb" xmlns:tns="https://www.google.com/apis/ads/publisher/v201805">
      <annotation>
        <appinfo>
          <jaxb:globalBindings typesafeEnumMaxMembers="999999"/>
        </appinfo>
      </annotation>
      <complexType abstract="true" name="ObjectValue">
        <annotation>
          <documentation>
            Contains an object value.
            &lt;p&gt;
            &lt;b&gt;This object is experimental!
            &lt;code&gt;ObjectValue&lt;/code&gt; is an experimental, innovative, and rapidly
            changing new feature for Ad Manager. Unfortunately, being on the bleeding edge means that
            we may make backwards-incompatible changes to
            &lt;code&gt;ObjectValue&lt;/code&gt;. We will inform the community when this feature
            is no longer experimental.&lt;/b&gt;
          </documentation>
        </annotation>
        <complexContent>
          <extension base="tns:Value">
            <sequence/>
          </extension>
        </complexContent>
      </complexType>
      <complexType abstract="true" name="ApiError">
        <annotation>
          <documentation>
            The API error base class that provides details about an error that occurred
            while processing a service request.
            
            &lt;p&gt;The OGNL field path is provided for parsers to identify the request data
            element that may have caused the error.&lt;/p&gt;
          </documentation>
        </annotation>
        <sequence>
          <element maxOccurs="1" minOccurs="0" name="fieldPath" type="xsd:string">
            <annotation>
              <documentation>
                The OGNL field path to identify cause of error.
              </documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0"
            name="fieldPathElements" type="tns:FieldPathElement">
            <annotation>
              <documentation>
                A parsed copy of the field path. For example, the field path "operations[1].operand"
                corresponds to this list: {FieldPathElement(field = "operations", index = 1),
                FieldPathElement(field = "operand", index = null)}.
              </documentation>
            </annotation>
          </element>
          <element maxOccurs="1" minOccurs="0" name="trigger" type="xsd:string">
            <annotation>
              <documentation>
                The data that caused the error.
              </documentation>
            </annotation>
          </element>
          <element maxOccurs="1" minOccurs="0" name="errorString" type="xsd:string">
            <annotation>
              <documentation>
                A simple string representation of the error and reason.
              </documentation>
            </annotation>
          </element>
        </sequence>
      </complexType>
      <complexType name="ApiException">
        <annotation>
          <documentation>
            Exception class for holding a list of service errors.
          </documentation>
        </annotation>
        <complexContent>
          <extension base="tns:ApplicationException">
            <sequence>
              <element maxOccurs="unbounded" minOccurs="0" name="errors" type="tns:ApiError">
                <annotation>
                  <documentation>
                    List of errors.
                  </documentation>
                </annotation>
              </element>
            </sequence>
          </extension>
        </complexContent>
      </complexType>
      <complexType name="ApiVersionError">
        <annotation>
          <documentation>
            Errors related to the usage of API versions.
          </documentation>
        </annotation>
        <complexContent>
          <extension base="tns:ApiError">
            <sequence>
              <element maxOccurs="1" minOccurs="0" name="reason" type="tns:ApiVersionError.Reason"/>
            </sequence>
          </extension>
        </complexContent>
      </complexType>
      <complexType name="ApplicationException">
        <annotation>
          <documentation>
            Base class for exceptions.
          </documentation>
        </annotation>
        <sequence>
          <element maxOccurs="1" minOccurs="0" name="message" type="xsd:string">
            <annotation>
              <documentation>
                Error message.
              </documentation>
            </annotation>
          </element>
        </sequence>
      </complexType>
      <complexType name="AuthenticationError">
        <annotation>
          <documentation>
            An error for an exception that occurred when authenticating.
          </documentation>
        </annotation>
        <complexContent>
          <extension base="tns:ApiError">
            <sequence>
              <element maxOccurs="1" minOccurs="0" name="reason" type="tns:AuthenticationError.Reason"/>
            </sequence>
          </extension>
        </complexContent>
      </complexType>
      <complexType name="BillableRevenueOverrides">
        <annotation>
          <documentation>
            Billable revenue overrides for a {@link ReconciliationLineItemReport} to be
            used instead of the Google calculated ones.
          </documentation>
        </annotation>
        <sequence>
          <element maxOccurs="1" minOccurs="0"
            name="netBillableRevenueOverride" type="tns:Money">
            <annotation>
              <documentation>
                The overridden {@link ReconciliationLineItemReport#netBillableRevenue}.
                
                &lt;p&gt;If the {@link ReconciliationLineItemReport} data is for a {@link ProposalLineItem}
                and the {@link ReconciliationLineItemReport#pricingModel} is
                {@link PricingModel#GROSS}, then this value will be calculated using the
                {@link #billableRevenueOverride} and the proposal line item's billing
                settings. Otherwise, the value of this field will be the same as the
                {@link #billableRevenueOverride}.&lt;/p&gt;
                
                &lt;p&gt;This value is read-only.&lt;/p&gt;
              </documentation>
            </annotation>
          </element>
          <element maxOccurs="1" minOccurs="0"
            name="grossBillableRevenueOverride" type="tns:Money">
            <annotation>
              <documentation>
                The overriden {@link ReconciliationLineItemReport#grossBillableRevenue}.
                
                &lt;p&gt;The value of this field will always be the same as what is set in the
                {@link #billableRevenueOverride}.
                
                &lt;p&gt;This value is read-only.
              </documentation>
            </annotation>
          </element>
          <element maxOccurs="1" minOccurs="0"
            name="billableRevenueOverride" type="tns:Money">
            <annotation>
              <documentation>
                The manually entered billable revenue override, which will be used to
                calculate both the {@link #netBillableRevenueOverride} and the
                {@link #grossBillableRevenueOverride}.
                This value is required.
              </documentation>
            </annotation>
          </element>
        </sequence>
      </complexType>
      <complexType name="BooleanValue">
        <annotation>
          <documentation>
            Contains a boolean value.
          </documentation>
        </annotation>
        <complexContent>
          <extension base="tns:Value">
            <sequence>
              <element maxOccurs="1" minOccurs="0" name="value" type="xsd:boolean">
                <annotation>
                  <documentation>
                    The boolean value.
                  </documentation>
                </annotation>
              </element>
            </sequence>
          </extension>
        </complexContent>
      </complexType>
      <complexType name="CollectionSizeError">
        <annotation>
          <documentation>
            Error for the size of the collection being too large
          </documentation>
        </annotation>
        <complexContent>
          <extension base="tns:ApiError">
            <sequence>
              <element maxOccurs="1" minOccurs="0" name="reason" type="tns:CollectionSizeError.Reason"/>
            </sequence>
          </extension>
        </complexContent>
      </complexType>
      <complexType name="CommonError">
        <annotation>
          <documentation>
            A place for common errors that can be used across services.
          </documentation>
        </annotation>
        <complexContent>
          <extension base="tns:ApiError">
            <sequence>
              <element maxOccurs="1" minOccurs="0" name="reason" type="tns:CommonError.Reason"/>
            </sequence>
          </extension>
        </complexContent>
      </complexType>
      <complexType name="Date">
        <annotation>
          <documentation>
            Represents a date.
          </documentation>
        </annotation>
        <sequence>
          <element maxOccurs="1" minOccurs="0" name="year" type="xsd:int">
            <annotation>
              <documentation>
                Year (e.g., 2009)
              </documentation>
            </annotation>
          </element>
          <element maxOccurs="1" minOccurs="0" name="month" type="xsd:int">
            <annotation>
              <documentation>
                Month (1..12)
              </documentation>
            </annotation>
          </element>
          <element maxOccurs="1" minOccurs="0" name="day" type="xsd:int">
            <annotation>
              <documentation>
                Day (1..31)
              </documentation>
            </annotation>
          </element>
        </sequence>
      </complexType>
      <complexType name="DateTime">
        <annotation>
          <documentation>
            Represents a date combined with the time of day.
          </documentation>
        </annotation>
        <sequence>
          <element maxOccurs="1" minOccurs="0" name="date" type="tns:Date"/>
          <element maxOccurs="1" minOccurs="0" name="hour" type="xsd:int"/>
          <element maxOccurs="1" minOccurs="0" name="minute" type="xsd:int"/>
          <element maxOccurs="1" minOccurs="0" name="second" type="xsd:int"/>
          <element maxOccurs="1" minOccurs="0" name="timeZoneID" type="xsd:string"/>
        </sequence>
      </complexType>
      <complexType name="DateTimeValue">
        <annotation>
          <documentation>
            Contains a date-time value.
          </documentation>
        </annotation>
        <complexContent>
          <extension base="tns:Value">
            <sequence>
              <element maxOccurs="1" minOccurs="0" name="value" type="tns:DateTime">
                <annotation>
                  <documentation>
                    The {@code DateTime} value.
                  </documentation>
                </annotation>
              </element>
            </sequence>
          </extension>
        </complexContent>
      </complexType>
      <complexType name="DateValue">
        <annotation>
          <documentation>
            Contains a date value.
          </documentation>
        </annotation>
        <complexContent>
          <extension base="tns:Value">
            <sequence>
              <element maxOccurs="1" minOccurs="0" name="value" type="tns:Date">
                <annotation>
                  <documentation>
                    The {@code Date} value.
                  </documentation>
                </annotation>
              </element>
            </sequence>
          </extension>
        </complexContent>
      </complexType>
      <complexType name="FeatureError">
        <annotation>
          <documentation>
            Errors related to feature management.  If you attempt using a feature that is not available to
            the current network you'll receive a FeatureError with the missing feature as the trigger.
          </documentation>
        </annotation>
        <complexContent>
          <extension base="tns:ApiError">
            <sequence>
              <element maxOccurs="1" minOccurs="0" name="reason" type="tns:FeatureError.Reason"/>
            </sequence>
          </extension>
        </complexContent>
      </complexType>
      <complexType name="FieldPathElement">
        <annotation>
          <documentation>
            A segment of a field path. Each dot in a field path defines a new segment.
          </documentation>
        </annotation>
        <sequence>
          <element maxOccurs="1" minOccurs="0" name="field" type="xsd:string">
            <annotation>
              <documentation>
                The name of a field in lower camelcase. (e.g. "biddingStrategy")
              </documentation>
            </annotation>
          </element>
          <element maxOccurs="1" minOccurs="0" name="index" type="xsd:int">
            <annotation>
              <documentation>
                For list fields, this is a 0-indexed position in the list. Null for non-list fields.
              </documentation>
            </annotation>
          </element>
        </sequence>
      </complexType>
      <complexType name="InternalApiError">
        <annotation>
          <documentation>
            Indicates that a server-side error has occured. {@code InternalApiError}s
            are generally not the result of an invalid request or message sent by the
            client.
          </documentation>
        </annotation>
        <complexContent>
          <extension base="tns:ApiError">
            <sequence>
              <element maxOccurs="1" minOccurs="0" name="reason" type="tns:InternalApiError.Reason">
                <annotation>
                  <documentation>
                    The error reason represented by an enum.
                  </documentation>
                </annotation>
              </element>
            </sequence>
          </extension>
        </complexContent>
      </complexType>
      <complexType name="Money">
        <annotation>
          <documentation>
            Represents a money amount.
          </documentation>
        </annotation>
        <sequence>
          <element maxOccurs="1" minOccurs="0" name="currencyCode" type="xsd:string">
            <annotation>
              <documentation>
                Three letter currency code in string format.
              </documentation>
            </annotation>
          </element>
          <element maxOccurs="1" minOccurs="0" name="microAmount" type="xsd:long">
            <annotation>
              <documentation>
                Money values are always specified in terms of micros which are a millionth
                of the fundamental currency unit. For US dollars, $1 is 1,000,000 micros.
              </documentation>
            </annotation>
          </element>
        </sequence>
      </complexType>
      <complexType name="NotNullError">
        <annotation>
          <documentation>
            Caused by supplying a null value for an attribute that cannot be null.
          </documentation>
        </annotation>
        <complexContent>
          <extension base="tns:ApiError">
            <sequence>
              <element maxOccurs="1" minOccurs="0" name="reason" type="tns:NotNullError.Reason">
                <annotation>
                  <documentation>
                    The error reason represented by an enum.
                  </documentation>
                </annotation>
              </element>
            </sequence>
          </extension>
        </complexContent>
      </complexType>
      <complexType name="NullError">
        <annotation>
          <documentation>
            Errors associated with violation of a NOT NULL check.
          </documentation>
        </annotation>
        <complexContent>
          <extension base="tns:ApiError">
            <sequence>
              <element maxOccurs="1" minOccurs="0" name="reason" type="tns:NullError.Reason">
                <annotation>
                  <documentation>
                    The error reason represented by an enum.
                  </documentation>
                </annotation>
              </element>
            </sequence>
          </extension>
        </complexContent>
      </complexType>
      <complexType name="NumberValue">
        <annotation>
          <documentation>
            Contains a numeric value.
          </documentation>
        </annotation>
        <complexContent>
          <extension base="tns:Value">
            <sequence>
              <element maxOccurs="1" minOccurs="0" name="value" type="xsd:string">
                <annotation>
                  <documentation>
                    The numeric value represented as a string.
                  </documentation>
                </annotation>
              </element>
            </sequence>
          </extension>
        </complexContent>
      </complexType>
      <complexType name="ParseError">
        <annotation>
          <documentation>
            Lists errors related to parsing.
          </documentation>
        </annotation>
        <complexContent>
          <extension base="tns:ApiError">
            <sequence>
              <element maxOccurs="1" minOccurs="0" name="reason" type="tns:ParseError.Reason">
                <annotation>
                  <documentation>
                    The error reason represented by an enum.
                  </documentation>
                </annotation>
              </element>
            </sequence>
          </extension>
        </complexContent>
      </complexType>
      <complexType name="PermissionError">
        <annotation>
          <documentation>
            Errors related to incorrect permission.
          </documentation>
        </annotation>
        <complexContent>
          <extension base="tns:ApiError">
            <sequence>
              <element maxOccurs="1" minOccurs="0" name="reason" type="tns:PermissionError.Reason"/>
            </sequence>
          </extension>
        </complexContent>
      </complexType>
      <complexType name="PublisherQueryLanguageContextError">
        <annotation>
          <documentation>
            An error that occurs while executing a PQL query contained in
            a {@link Statement} object.
          </documentation>
        </annotation>
        <complexContent>
          <extension base="tns:ApiError">
            <sequence>
              <element maxOccurs="1" minOccurs="0" name="reason" type="tns:PublisherQueryLanguageContextError.Reason">
                <annotation>
                  <documentation>
                    The error reason represented by an enum.
                  </documentation>
                </annotation>
              </element>
            </sequence>
          </extension>
        </complexContent>
      </complexType>
      <complexType name="PublisherQueryLanguageSyntaxError">
        <annotation>
          <documentation>
            An error that occurs while parsing a PQL query contained in a
            {@link Statement} object.
          </documentation>
        </annotation>
        <complexContent>
          <extension base="tns:ApiError">
            <sequence>
              <element maxOccurs="1" minOccurs="0" name="reason" type="tns:PublisherQueryLanguageSyntaxError.Reason">
                <annotation>
                  <documentation>
                    The error reason represented by an enum.
                  </documentation>
                </annotation>
              </element>
            </sequence>
          </extension>
        </complexContent>
      </complexType>
      <complexType name="QuotaError">
        <annotation>
          <documentation>
            Describes a client-side error on which a user is attempting
            to perform an action to which they have no quota remaining.
          </documentation>
        </annotation>
        <complexContent>
          <extension base="tns:ApiError">
            <sequence>
              <element maxOccurs="1" minOccurs="0" name="reason" type="tns:QuotaError.Reason"/>
            </sequence>
          </extension>
        </complexContent>
      </complexType>
      <complexType name="RangeError">
        <annotation>
          <documentation>
            A list of all errors associated with the Range constraint.
          </documentation>
        </annotation>
        <complexContent>
          <extension base="tns:ApiError">
            <sequence>
              <element maxOccurs="1" minOccurs="0" name="reason" type="tns:RangeError.Reason"/>
            </sequence>
          </extension>
        </complexContent>
      </complexType>
      <complexType name="ReconciliationError">
        <annotation>
          <documentation>
            Lists all errors associated with reconciliation.
          </documentation>
        </annotation>
        <complexContent>
          <extension base="tns:ApiError">
            <sequence>
              <element maxOccurs="1" minOccurs="0" name="reason" type="tns:ReconciliationError.Reason">
                <annotation>
                  <documentation>
                    The error reason represented by an enum.
                  </documentation>
                </annotation>
              </element>
            </sequence>
          </extension>
        </complexContent>
      </complexType>
      <complexType name="ReconciliationLineItemReport">
        <annotation>
          <documentation>
            Contains reconciliation data of a {@link LineItem} and/or {@link ProposalLineItem}.
          </documentation>
        </annotation>
        <sequence>
          <element maxOccurs="1" minOccurs="0" name="id" type="xsd:long">
            <annotation>
              <documentation>
                Uniquely identifies the {@code ReconciliationLineItemReport}.
                This value is read-only and assigned by Google.
              </documentation>
            </annotation>
          </element>
          <element maxOccurs="1" minOccurs="0"
            name="reconciliationReportId" type="xsd:long">
            <annotation>
              <documentation>
                The ID of the {@link ReconciliationReport} this {@code ReconciliationLineItemReport}
                belongs to.
                This value is read-only.
              </documentation>
            </annotation>
          </element>
          <element maxOccurs="1" minOccurs="0" name="orderId" type="xsd:long">
            <annotation>
              <documentation>
                If this reconciliation data is for a {@link LineItem}, then this contains the ID of the order
                that line item belongs to. Otherwise, this field will have a value of 0.
                This value is read-only.
              </documentation>
            </annotation>
          </element>
          <element maxOccurs="1" minOccurs="0" name="proposalId" type="xsd:long">
            <annotation>
              <documentation>
                If this reconciliation data is for a {@link ProposalLineItem}, then this contains the ID of
                the proposal that proposal line item belongs to. Otherwise, this field will have a value of 0.
                This value is read-only.
              </documentation>
            </annotation>
          </element>
          <element maxOccurs="1" minOccurs="0" name="lineItemId" type="xsd:long">
            <annotation>
              <documentation>
                If this reconciliation data is for a {@link LineItem}, then this contains that line item's ID.
                Otherwise, this field will have a value of 0.
                This value is read-only.
              </documentation>
            </annotation>
          </element>
          <element maxOccurs="1" minOccurs="0" name="proposalLineItemId" type="xsd:long">
            <annotation>
              <documentation>
                If this reconciliation data is for a {@link ProposalLineItem},
                then this contains that proposal line item's ID. Otherwise, this field will have a value of 0.
                This value is read-only.
              </documentation>
            </annotation>
          </element>
          <element maxOccurs="1" minOccurs="0" name="rateType" type="tns:RateType">
            <annotation>
              <documentation>
                The {@link RateType} of the {@link LineItem} and/or {@link ProposalLineItem}
                this reconciliation data is for.
                This value is read-only.
              </documentation>
            </annotation>
          </element>
          <element maxOccurs="1" minOccurs="0" name="netRate" type="tns:Money">
            <annotation>
              <documentation>
                The {@link Money net rate} of the {@link LineItem} and/or {@link ProposalLineItem}
                this reconciliation data is for.
                This value is read-only.
              </documentation>
            </annotation>
          </element>
          <element maxOccurs="1" minOccurs="0" name="grossRate" type="tns:Money">
            <annotation>
              <documentation>
                If this reconciliation data is for a {@link ProposalLineItem} and the {@link #pricingModel}
                is {@link PricingModel#GROSS}, then this contains the {@link Money gross rate} of
                the proposal line item. Otherwise, the value of this field will be the same as
                the {@link #netRate}.
                This value is read-only.
              </documentation>
            </annotation>
          </element>
          <element maxOccurs="1" minOccurs="0" name="pricingModel" type="tns:PricingModel">
            <annotation>
              <documentation>
                If this reconciliation data is for a {@link ProposalLineItem},
                then this contains that proposal line item's proposal's pricing model.
                Otherwise, the value of this field will be {@link PricingModel#NET}.
                This value is read-only.
              </documentation>
            </annotation>
          </element>
          <element maxOccurs="1" minOccurs="0" name="dfpVolume" type="xsd:long">
            <annotation>
              <documentation>
                The volume recorded by the DoubleClick for Publishers ad server.
                The meaning of this value depends on the {@link #rateType}, for example
                if the {@link #rateType} is {@link RateType#CPC}, it represents clicks;
                if the {@link #rateType} is {@link RateType#CPM}, it represents impressions;
                if the {@link #rateType} is {@link RateType#CPD}, it represents line item days.
                This value is read-only.
              </documentation>
            </annotation>
          </element>
          <element maxOccurs="1" minOccurs="0" name="thirdPartyVolume" type="xsd:long">
            <annotation>
              <documentation>
                The volume recorded by the third-party ad server.
                The meaning of this value depends on the {@link #rateType}, for example
                if the {@link #rateType} is {@link RateType#CPC}, it represents clicks;
                if the {@link #rateType} is {@link RateType#CPM}, it represents impressions;
                if the {@link #rateType} is {@link RateType#CPD}, it represents line item days.
                This value is optional and defaults to {@code null}.
              </documentation>
            </annotation>
          </element>
          <element maxOccurs="1" minOccurs="0" name="manualVolume" type="xsd:long">
            <annotation>
              <documentation>
                A manually entered volume.
                The meaning of this value depends on the {@link #rateType}, for example
                if the {@link #rateType} is {@link RateType#CPC}, it represents clicks;
                if the {@link #rateType} is {@link RateType#CPM}, it represents impressions;
                if the {@link #rateType} is {@link RateType#CPD}, it represents line item days.
                This value is optional and defaults to {@code null}.
              </documentation>
            </annotation>
          </element>
          <element maxOccurs="1" minOccurs="0"
            name="reconciliationSource" type="tns:BillFrom">
            <annotation>
              <documentation>
                Specifies which of {@link #dfpVolume}, {@link #thirdPartyVolume}, or {@link #manualVolume}
                should be used as the {@link #reconciledVolume}.
                The value is optional. If this reconciliation data is for a {@link ProposalLineItem} then
                this will default to the proposal line item's {@link ProposalLineItem#billingSource}.
                Otherwise, this will default to {@link BillFrom#DFP}.
              </documentation>
            </annotation>
          </element>
          <element maxOccurs="1" minOccurs="0" name="reconciledVolume" type="xsd:long">
            <annotation>
              <documentation>
                The reconciled volume, which is a &lt;i&gt;view&lt;/i&gt; of one of the other volume fields depending on
                what the {@link #reconciliationSource} is set to. The different possibilities are as follows:
                &lt;table&gt;
                &lt;tr&gt;
                &lt;th&gt;{@link #reconciliationSource Reconciliation source}&lt;/th&gt;
                &lt;th&gt;Value of this field&lt;/th&gt;
                &lt;/tr&gt;
                &lt;tr&gt;
                &lt;td&gt;{@link BillFrom#MANUAL}&lt;/td&gt;
                &lt;td&gt;{@link #manualVolume}&lt;/td&gt;
                &lt;/tr&gt;
                &lt;tr&gt;
                &lt;td&gt;{@link BillFrom#DFP}&lt;/td&gt;
                &lt;td&gt;{@link #dfpVolume}&lt;/td&gt;
                &lt;/tr&gt;
                &lt;tr&gt;
                &lt;td&gt;{@link BillFrom#THIRD_PARTY}&lt;/td&gt;
                &lt;td&gt;{@link #thirdPartyVolume}&lt;/td&gt;
                &lt;/tr&gt;
                &lt;tr&gt;
                &lt;td&gt;{@link BillFrom#DEFAULT}&lt;/td&gt;
                &lt;td&gt;Calculated by Google to be either {@link #dfpVolume} or {@link #thirdPartyVolume}.&lt;/td&gt;
                &lt;/tr&gt;
                &lt;/table&gt;
                The meaning of this value depends on the {@link #rateType}, for example
                if the {@link #rateType} is {@link RateType#CPC}, it represents clicks;
                if the {@link #rateType} is {@link RateType#CPM}, it represents impressions;
                if the {@link #rateType} is {@link RateType#CPD}, it represents line item days.
                This value is read-only.
              </documentation>
            </annotation>
          </element>
          <element maxOccurs="1" minOccurs="0" name="capVolume" type="xsd:long">
            <annotation>
              <documentation>
                If this reconciliation data is for a {@link ProposalLineItem}, then this contains the cap
                volume, which is calculated based on the proposal line item's billing settings
                (may be {@code null} for certain billing settings). Otherwise, this is {@code null}.
                This value is read-only.
              </documentation>
            </annotation>
          </element>
          <element maxOccurs="1" minOccurs="0" name="rolloverVolume" type="xsd:long">
            <annotation>
              <documentation>
                If this reconciliation data is for a {@link ProposalLineItem}, then this contains the rollover
                volume from previous cycles, which is calculated based on the proposal line item's billing
                settings (may be {@code null} for certain billing settings). Otherwise, this is {@code null}.
                This value is read-only.
              </documentation>
            </annotation>
          </element>
          <element maxOccurs="1" minOccurs="0" name="billableVolume" type="xsd:long">
            <annotation>
              <documentation>
                If this reconciliation data is for a {@link ProposalLineItem}, then this contains the billable
                volume, which is calculated from the {@link #reconciledVolume} and
                the proposal line item's billing settings
                (may be {@code null} for certain billing settings).
                Otherwise, the value of this field will be the same as the {@link #reconciledVolume}.
                This value is read-only.
              </documentation>
            </annotation>
          </element>
          <element maxOccurs="1" minOccurs="0" name="netBillableRevenue" type="tns:Money">
            <annotation>
              <documentation>
                The net billable revenue. If this reconciliation data is for a {@link ProposalLineItem},
                this is calculated from the {@link #netRate}, {@link #billableVolume}, and the proposal line
                item's billing settings. This may be {@code null} for certain billing settings.
                Otherwise, this is calculated from the {@link #netRate} and {@link #billableVolume}.
                This value is read-only.
              </documentation>
            </annotation>
          </element>
          <element maxOccurs="1" minOccurs="0"
            name="grossBillableRevenue" type="tns:Money">
            <annotation>
              <documentation>
                The gross billable revenue. If this reconciliation data is for a {@link ProposalLineItem}
                and the {@link #pricingModel} is {@link PricingModel#GROSS}, this is calculated from the
                {@link #grossRate}, {@link #billableVolume}, and the proposal line item's billing settings.
                This may be {@code null} for certain billing settings. Otherwise, the value of this field will
                be the same as the {@link #netBillableRevenue}.
                This value is read-only.
              </documentation>
            </annotation>
          </element>
          <element maxOccurs="1" minOccurs="0"
            name="billableRevenueOverrides" type="tns:BillableRevenueOverrides">
            <annotation>
              <documentation>
                Manual overrides for the Google calculated billable revenue fields. If set, it indicates that
                these values should be used as the final billable revenue instead of the Google calculated
                ones.
                This value is optional and defaults to {@code null}.
              </documentation>
            </annotation>
          </element>
        </sequence>
      </complexType>
      <complexType name="ReconciliationLineItemReportPage">
        <annotation>
          <documentation>
            Captures a page of {@link ReconciliationLineItemReport} objects.
          </documentation>
        </annotation>
        <sequence>
          <element maxOccurs="unbounded" minOccurs="0" name="results" type="tns:ReconciliationLineItemReport">
            <annotation>
              <documentation>
                The collection of {@link ReconciliationLineItemReport} objects contained in this page.
              </documentation>
            </annotation>
          </element>
          <element maxOccurs="1" minOccurs="0" name="startIndex" type="xsd:int">
            <annotation>
              <documentation>
                The absolute index in the total result set on which this page begins.
              </documentation>
            </annotation>
          </element>
          <element maxOccurs="1" minOccurs="0" name="totalResultSetSize" type="xsd:int">
            <annotation>
              <documentation>
                The size of the total result set to which this page belongs.
              </documentation>
            </annotation>
          </element>
        </sequence>
      </complexType>
      <complexType name="RequiredCollectionError">
        <annotation>
          <documentation>
            A list of all errors to be used for validating sizes of collections.
          </documentation>
        </annotation>
        <complexContent>
          <extension base="tns:ApiError">
            <sequence>
              <element maxOccurs="1" minOccurs="0" name="reason" type="tns:RequiredCollectionError.Reason"/>
            </sequence>
          </extension>
        </complexContent>
      </complexType>
      <complexType name="RequiredError">
        <annotation>
          <documentation>
            Errors due to missing required field.
          </documentation>
        </annotation>
        <complexContent>
          <extension base="tns:ApiError">
            <sequence>
              <element maxOccurs="1" minOccurs="0" name="reason" type="tns:RequiredError.Reason">
                <annotation>
                  <documentation>
                    The error reason represented by an enum.
                  </documentation>
                </annotation>
              </element>
            </sequence>
          </extension>
        </complexContent>
      </complexType>
      <complexType name="ServerError">
        <annotation>
          <documentation>
            Errors related to the server.
          </documentation>
        </annotation>
        <complexContent>
          <extension base="tns:ApiError">
            <sequence>
              <element maxOccurs="1" minOccurs="0" name="reason" type="tns:ServerError.Reason"/>
            </sequence>
          </extension>
        </complexContent>
      </complexType>
      <complexType name="SetValue">
        <annotation>
          <documentation>
            Contains a set of {@link Value Values}. May not contain duplicates.
          </documentation>
        </annotation>
        <complexContent>
          <extension base="tns:Value">
            <sequence>
              <element maxOccurs="unbounded" minOccurs="0" name="values" type="tns:Value">
                <annotation>
                  <documentation>
                    The values. They must all be the same type of {@code Value} and not contain duplicates.
                  </documentation>
                </annotation>
              </element>
            </sequence>
          </extension>
        </complexContent>
      </complexType>
      <complexType name="SoapRequestHeader">
        <annotation>
          <documentation>
            Represents the SOAP request header used by API requests.
          </documentation>
        </annotation>
        <sequence>
          <element maxOccurs="1" minOccurs="0" name="networkCode" type="xsd:string">
            <annotation>
              <documentation>
                The network code to use in the context of a request.
              </documentation>
            </annotation>
          </element>
          <element maxOccurs="1" minOccurs="0" name="applicationName" type="xsd:string">
            <annotation>
              <documentation>
                The name of client library application.
              </documentation>
            </annotation>
          </element>
        </sequence>
      </complexType>
      <complexType name="SoapResponseHeader">
        <annotation>
          <documentation>
            Represents the SOAP request header used by API responses.
          </documentation>
        </annotation>
        <sequence>
          <element maxOccurs="1" minOccurs="0" name="requestId" type="xsd:string"/>
          <element maxOccurs="1" minOccurs="0" name="responseTime" type="xsd:long"/>
        </sequence>
      </complexType>
      <complexType name="Statement">
        <annotation>
          <documentation>
            Captures the {@code WHERE}, {@code ORDER BY} and {@code LIMIT} clauses of a
            PQL query. Statements are typically used to retrieve objects of a predefined
            domain type, which makes SELECT clause unnecessary.
            &lt;p&gt;
            An example query text might be {@code "WHERE status = 'ACTIVE' ORDER BY id
            LIMIT 30"}.
            &lt;/p&gt;
            &lt;p&gt;
            Statements support bind variables. These are substitutes for literals
            and can be thought of as input parameters to a PQL query.
            &lt;/p&gt;
            &lt;p&gt;
            An example of such a query might be {@code "WHERE id = :idValue"}.
            &lt;/p&gt;
            &lt;p&gt;
            Statements also support use of the LIKE keyword. This provides wildcard string matching.
            &lt;/p&gt;
            &lt;p&gt;
            An example of such a query might be {@code "WHERE name LIKE '%searchString%'"}.
            &lt;/p&gt;
            The value for the variable idValue must then be set with an object of type
            {@link Value}, e.g., {@link NumberValue}, {@link TextValue} or
            {@link BooleanValue}.
          </documentation>
        </annotation>
        <sequence>
          <element maxOccurs="1" minOccurs="0" name="query" type="xsd:string">
            <annotation>
              <documentation>
                Holds the query in PQL syntax. The syntax is:&lt;br&gt;
                &lt;code&gt;[WHERE &lt;condition&gt; {[AND | OR] &lt;condition&gt; ...}]&lt;/code&gt;&lt;br&gt;
                &lt;code&gt;[ORDER BY &lt;property&gt; [ASC | DESC]]&lt;/code&gt;&lt;br&gt;
                &lt;code&gt;[LIMIT {[&lt;offset&gt;,] &lt;count&gt;} | {&lt;count&gt; OFFSET &lt;offset&gt;}]&lt;/code&gt;&lt;br&gt;
                &lt;p&gt;
                &lt;code&gt;&lt;condition&gt;&lt;/code&gt;&lt;br&gt;
                &amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;
                &lt;code&gt;:= &lt;property&gt; {&lt; | &lt;= | &gt; | &gt;= | = | != } &lt;value&gt;&lt;/code&gt;&lt;br&gt;
                &lt;code&gt;&lt;condition&gt;&lt;/code&gt;&lt;br&gt;
                &amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;
                &lt;code&gt;:= &lt;property&gt; {&lt; | &lt;= | &gt; | &gt;= | = | != } &lt;bind variable&gt;&lt;/code&gt;&lt;br&gt;
                &lt;code&gt;&lt;condition&gt; := &lt;property&gt; IN &lt;list&gt;&lt;/code&gt;&lt;br&gt;
                &lt;code&gt;&lt;condition&gt; := &lt;property&gt; IS NULL&lt;/code&gt;&lt;br&gt;
                &lt;code&gt;&lt;condition&gt; := &lt;property&gt; LIKE &lt;wildcard%match&gt;&lt;/code&gt;&lt;br&gt;
                &lt;code&gt;&lt;bind variable&gt; := :&lt;name&gt;&lt;/code&gt;&lt;br&gt;
                &lt;/p&gt;
              </documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="values" type="tns:String_ValueMapEntry">
            <annotation>
              <documentation>
                Holds keys and values for bind variables and their values. The key is the
                name of the bind variable. The value is the literal value of the variable.
                &lt;p&gt;
                In the example {@code "WHERE status = :bindStatus ORDER BY id LIMIT 30"},
                the bind variable, represented by {@code :bindStatus} is named {@code
                bindStatus}, which would also be the parameter map key. The bind variable's
                value would be represented by a parameter map value of type
                {@link TextValue}. The final result, for example, would be an entry of
                {@code "bindStatus" =&gt; StringParam("ACTIVE")}.
                &lt;/p&gt;
              </documentation>
            </annotation>
          </element>
        </sequence>
      </complexType>
      <complexType name="StatementError">
        <annotation>
          <documentation>
            An error that occurs while parsing {@link Statement} objects.
          </documentation>
        </annotation>
        <complexContent>
          <extension base="tns:ApiError">
            <sequence>
              <element maxOccurs="1" minOccurs="0" name="reason" type="tns:StatementError.Reason">
                <annotation>
                  <documentation>
                    The error reason represented by an enum.
                  </documentation>
                </annotation>
              </element>
            </sequence>
          </extension>
        </complexContent>
      </complexType>
      <complexType name="StringFormatError">
        <annotation>
          <documentation>
            A list of error code for reporting invalid content of input strings.
          </documentation>
        </annotation>
        <complexContent>
          <extension base="tns:ApiError">
            <sequence>
              <element maxOccurs="1" minOccurs="0" name="reason" type="tns:StringFormatError.Reason"/>
            </sequence>
          </extension>
        </complexContent>
      </complexType>
      <complexType name="StringLengthError">
        <annotation>
          <documentation>
            Errors for Strings which do not meet given length constraints.
          </documentation>
        </annotation>
        <complexContent>
          <extension base="tns:ApiError">
            <sequence>
              <element maxOccurs="1" minOccurs="0" name="reason" type="tns:StringLengthError.Reason"/>
            </sequence>
          </extension>
        </complexContent>
      </complexType>
      <complexType name="String_ValueMapEntry">
        <annotation>
          <documentation>
            This represents an entry in a map with a key of type String
            and value of type Value.
          </documentation>
        </annotation>
        <sequence>
          <element maxOccurs="1" minOccurs="0" name="key" type="xsd:string"/>
          <element maxOccurs="1" minOccurs="0" name="value" type="tns:Value"/>
        </sequence>
      </complexType>
      <complexType name="TextValue">
        <annotation>
          <documentation>
            Contains a string value.
          </documentation>
        </annotation>
        <complexContent>
          <extension base="tns:Value">
            <sequence>
              <element maxOccurs="1" minOccurs="0" name="value" type="xsd:string">
                <annotation>
                  <documentation>
                    The string value.
                  </documentation>
                </annotation>
              </element>
            </sequence>
          </extension>
        </complexContent>
      </complexType>
      <complexType abstract="true" name="Value">
        <annotation>
          <documentation>
            {@code Value} represents a value.
          </documentation>
        </annotation>
        <sequence/>
      </complexType>
      <simpleType name="ApiVersionError.Reason">
        <restriction base="xsd:string">
          <enumeration value="UPDATE_TO_NEWER_VERSION">
            <annotation>
              <documentation>
                Indicates that the operation is not allowed in the version the request
                was made in.
              </documentation>
            </annotation>
          </enumeration>
          <enumeration value="UNKNOWN">
            <annotation>
              <documentation>
                The value returned if the actual value is not exposed by the requested API version.
              </documentation>
            </annotation>
          </enumeration>
        </restriction>
      </simpleType>
      <simpleType name="AuthenticationError.Reason">
        <restriction base="xsd:string">
          <enumeration value="AMBIGUOUS_SOAP_REQUEST_HEADER">
            <annotation>
              <documentation>
                The SOAP message contains a request header with an ambiguous definition
                of the authentication header fields. This means either the {@code
                authToken} and {@code oAuthToken} fields were both null or both were
                specified. Exactly one value should be specified with each request.
              </documentation>
            </annotation>
          </enumeration>
          <enumeration value="INVALID_EMAIL">
            <annotation>
              <documentation>
                The login provided is invalid.
              </documentation>
            </annotation>
          </enumeration>
          <enumeration value="AUTHENTICATION_FAILED">
            <annotation>
              <documentation>
                Tried to authenticate with provided information, but failed.
              </documentation>
            </annotation>
          </enumeration>
          <enumeration value="INVALID_OAUTH_SIGNATURE">
            <annotation>
              <documentation>
                The OAuth provided is invalid.
              </documentation>
            </annotation>
          </enumeration>
          <enumeration value="INVALID_SERVICE">
            <annotation>
              <documentation>
                The specified service to use was not recognized.
              </documentation>
            </annotation>
          </enumeration>
          <enumeration value="MISSING_SOAP_REQUEST_HEADER">
            <annotation>
              <documentation>
                The SOAP message is missing a request header with an {@code authToken}
                and optional {@code networkCode}.
              </documentation>
            </annotation>
          </enumeration>
          <enumeration value="MISSING_AUTHENTICATION_HTTP_HEADER">
            <annotation>
              <documentation>
                The HTTP request is missing a request header with an {@code authToken}
              </documentation>
            </annotation>
          </enumeration>
          <enumeration value="MISSING_AUTHENTICATION">
            <annotation>
              <documentation>
                The request is missing an {@code authToken}
              </documentation>
            </annotation>
          </enumeration>
          <enumeration value="NOT_WHITELISTED_FOR_API_ACCESS">
            <annotation>
              <documentation>
                The customer is not whitelisted for API access.
              </documentation>
            </annotation>
          </enumeration>
          <enumeration value="NO_NETWORKS_TO_ACCESS">
            <annotation>
              <documentation>
                The user is not associated with any network.
              </documentation>
            </annotation>
          </enumeration>
          <enumeration value="NETWORK_NOT_FOUND">
            <annotation>
              <documentation>
                No network for the given {@code networkCode} was found.
              </documentation>
            </annotation>
          </enumeration>
          <enumeration value="NETWORK_CODE_REQUIRED">
            <annotation>
              <documentation>
                The user has access to more than one network, but did not provide a
                {@code networkCode}.
              </documentation>
            </annotation>
          </enumeration>
          <enumeration value="CONNECTION_ERROR">
            <annotation>
              <documentation>
                An error happened on the server side during connection to authentication
                service.
              </documentation>
            </annotation>
          </enumeration>
          <enumeration value="GOOGLE_ACCOUNT_ALREADY_ASSOCIATED_WITH_NETWORK">
            <annotation>
              <documentation>
                The user tried to create a test network using an account that already is
                associated with a network.
              </documentation>
            </annotation>
          </enumeration>
          <enumeration value="UNDER_INVESTIGATION">
            <annotation>
              <documentation>
                The account is blocked and under investigation by the collections team. Please contact
                Google for more information.
              </documentation>
            </annotation>
          </enumeration>
          <enumeration value="UNKNOWN">
            <annotation>
              <documentation>
                The value returned if the actual value is not exposed by the requested API version.
              </documentation>
            </annotation>
          </enumeration>
        </restriction>
      </simpleType>
      <simpleType name="BillFrom">
        <annotation>
          <documentation>
            Values for which to bill from.
          </documentation>
        </annotation>
        <restriction base="xsd:string">
          <enumeration value="DEFAULT">
            <annotation>
              <documentation>
                Use default bill from. Google checks whether line item is created in DoubleClick Sales Manager.
                If yes, the {@link Proposal#billingSource} will be the billing source.
                Otherwise, the {@code DFP} will be the billing source.
              </documentation>
            </annotation>
          </enumeration>
          <enumeration value="DFP">
            <annotation>
              <documentation>
                DFP volume.
              </documentation>
            </annotation>
          </enumeration>
          <enumeration value="THIRD_PARTY">
            <annotation>
              <documentation>
                Third-party volume.
              </documentation>
            </annotation>
          </enumeration>
          <enumeration value="MANUAL">
            <annotation>
              <documentation>
                Manual volume.
              </documentation>
            </annotation>
          </enumeration>
          <enumeration value="UNKNOWN">
            <annotation>
              <documentation>
                The value returned if the actual value is not exposed by the requested API version.
              </documentation>
            </annotation>
          </enumeration>
        </restriction>
      </simpleType>
      <simpleType name="CollectionSizeError.Reason">
        <restriction base="xsd:string">
          <enumeration value="TOO_LARGE"/>
          <enumeration value="UNKNOWN">
            <annotation>
              <documentation>
                The value returned if the actual value is not exposed by the requested API version.
              </documentation>
            </annotation>
          </enumeration>
        </restriction>
      </simpleType>
      <simpleType name="CommonError.Reason">
        <annotation>
          <documentation>
            Describes reasons for common errors
          </documentation>
        </annotation>
        <restriction base="xsd:string">
          <enumeration value="NOT_FOUND">
            <annotation>
              <documentation>
                Indicates that an attempt was made to retrieve an entity that does not
                exist.
              </documentation>
            </annotation>
          </enumeration>
          <enumeration value="ALREADY_EXISTS">
            <annotation>
              <documentation>
                Indicates that an attempt was made to create an entity that already
                exists.
              </documentation>
            </annotation>
          </enumeration>
          <enumeration value="NOT_APPLICABLE">
            <annotation>
              <documentation>
                Indicates that a value is not applicable for given use case.
              </documentation>
            </annotation>
          </enumeration>
          <enumeration value="DUPLICATE_OBJECT">
            <annotation>
              <documentation>
                Indicates that two elements in the collection were identical.
              </documentation>
            </annotation>
          </enumeration>
          <enumeration value="CANNOT_UPDATE">
            <annotation>
              <documentation>
                Indicates that an attempt was made to change an immutable field.
              </documentation>
            </annotation>
          </enumeration>
          <enumeration value="CONCURRENT_MODIFICATION">
            <annotation>
              <documentation>
                Indicates that another request attempted to update the same data in the same network
                at about the same time. Please wait and try the request again.
              </documentation>
            </annotation>
          </enumeration>
          <enumeration value="UNKNOWN">
            <annotation>
              <documentation>
                The value returned if the actual value is not exposed by the requested API version.
              </documentation>
            </annotation>
          </enumeration>
        </restriction>
      </simpleType>
      <simpleType name="FeatureError.Reason">
        <restriction base="xsd:string">
          <enumeration value="MISSING_FEATURE">
            <annotation>
              <documentation>
                A feature is being used that is not enabled on the current network.
              </documentation>
            </annotation>
          </enumeration>
          <enumeration value="UNKNOWN">
            <annotation>
              <documentation>
                The value returned if the actual value is not exposed by the requested API version.
              </documentation>
            </annotation>
          </enumeration>
        </restriction>
      </simpleType>
      <simpleType name="InternalApiError.Reason">
        <annotation>
          <documentation>
            The single reason for the internal API error.
          </documentation>
        </annotation>
        <restriction base="xsd:string">
          <enumeration value="UNEXPECTED_INTERNAL_API_ERROR">
            <annotation>
              <documentation>
                API encountered an unexpected internal error.
              </documentation>
            </annotation>
          </enumeration>
          <enumeration value="TRANSIENT_ERROR">
            <annotation>
              <documentation>
                A temporary error occurred during the request. Please retry.
              </documentation>
            </annotation>
          </enumeration>
          <enumeration value="UNKNOWN">
            <annotation>
              <documentation>
                The cause of the error is not known or only defined in newer versions.
              </documentation>
            </annotation>
          </enumeration>
          <enumeration value="DOWNTIME">
            <annotation>
              <documentation>
                The API is currently unavailable for a planned downtime.
              </documentation>
            </annotation>
          </enumeration>
          <enumeration value="ERROR_GENERATING_RESPONSE">
            <annotation>
              <documentation>
                Mutate succeeded but server was unable to build response. Client should not retry mutate.
              </documentation>
            </annotation>
          </enumeration>
        </restriction>
      </simpleType>
      <simpleType name="NotNullError.Reason">
        <annotation>
          <documentation>
            The reasons for the target error.
          </documentation>
        </annotation>
        <restriction base="xsd:string">
          <enumeration value="ARG1_NULL">
            <annotation>
              <documentation>
                Assuming that a method will not have more than 3 arguments, if it does,
                return NULL
              </documentation>
            </annotation>
          </enumeration>
          <enumeration value="ARG2_NULL"/>
          <enumeration value="ARG3_NULL"/>
          <enumeration value="NULL"/>
          <enumeration value="UNKNOWN">
            <annotation>
              <documentation>
                The value returned if the actual value is not exposed by the requested API version.
              </documentation>
            </annotation>
          </enumeration>
        </restriction>
      </simpleType>
      <simpleType name="NullError.Reason">
        <annotation>
          <documentation>
            The reasons for the validation error.
          </documentation>
        </annotation>
        <restriction base="xsd:string">
          <enumeration value="NULL_CONTENT">
            <annotation>
              <documentation>
                Specified list/container must not contain any null elements
              </documentation>
            </annotation>
          </enumeration>
        </restriction>
      </simpleType>
      <simpleType name="ParseError.Reason">
        <annotation>
          <documentation>
            The reasons for the target error.
          </documentation>
        </annotation>
        <restriction base="xsd:string">
          <enumeration value="UNPARSABLE">
            <annotation>
              <documentation>
                Indicates an error in parsing an attribute.
              </documentation>
            </annotation>
          </enumeration>
          <enumeration value="UNKNOWN">
            <annotation>
              <documentation>
                The value returned if the actual value is not exposed by the requested API version.
              </documentation>
            </annotation>
          </enumeration>
        </restriction>
      </simpleType>
      <simpleType name="PermissionError.Reason">
        <annotation>
          <documentation>
            Describes reasons for permission errors.
          </documentation>
        </annotation>
        <restriction base="xsd:string">
          <enumeration value="PERMISSION_DENIED">
            <annotation>
              <documentation>
                User does not have the required permission for the request.
              </documentation>
            </annotation>
          </enumeration>
          <enumeration value="UNKNOWN">
            <annotation>
              <documentation>
                The value returned if the actual value is not exposed by the requested API version.
              </documentation>
            </annotation>
          </enumeration>
        </restriction>
      </simpleType>
      <simpleType name="PricingModel">
        <annotation>
          <documentation>
            The option to specify whether the proposal uses the Net or Gross pricing model.
          </documentation>
        </annotation>
        <restriction base="xsd:string">
          <enumeration value="NET">
            <annotation>
              <documentation>
                Indicates using net pricing model to calculate the price.
              </documentation>
            </annotation>
          </enumeration>
          <enumeration value="GROSS">
            <annotation>
              <documentation>
                Indicates using gross pricing model to calculate the price.
              </documentation>
            </annotation>
          </enumeration>
          <enumeration value="UNKNOWN">
            <annotation>
              <documentation>
                The value returned if the actual value is not exposed by the requested API version.
              </documentation>
            </annotation>
          </enumeration>
        </restriction>
      </simpleType>
      <simpleType name="PublisherQueryLanguageContextError.Reason">
        <annotation>
          <documentation>
            The reasons for the target error.
          </documentation>
        </annotation>
        <restriction base="xsd:string">
          <enumeration value="UNEXECUTABLE">
            <annotation>
              <documentation>
                Indicates that there was an error executing the PQL.
              </documentation>
            </annotation>
          </enumeration>
          <enumeration value="UNKNOWN">
            <annotation>
              <documentation>
                The value returned if the actual value is not exposed by the requested API version.
              </documentation>
            </annotation>
          </enumeration>
        </restriction>
      </simpleType>
      <simpleType name="PublisherQueryLanguageSyntaxError.Reason">
        <annotation>
          <documentation>
            The reasons for the target error.
          </documentation>
        </annotation>
        <restriction base="xsd:string">
          <enumeration value="UNPARSABLE">
            <annotation>
              <documentation>
                Indicates that there was a PQL syntax error.
              </documentation>
            </annotation>
          </enumeration>
          <enumeration value="UNKNOWN">
            <annotation>
              <documentation>
                The value returned if the actual value is not exposed by the requested API version.
              </documentation>
            </annotation>
          </enumeration>
        </restriction>
      </simpleType>
      <simpleType name="QuotaError.Reason">
        <restriction base="xsd:string">
          <enumeration value="EXCEEDED_QUOTA">
            <annotation>
              <documentation>
                The number of requests made per second is too high and has exceeded the
                allowable limit. The recommended approach to handle this error is to wait
                about 5 seconds and then retry the request. Note that this does not
                guarantee the request will succeed. If it fails again, try increasing the
                wait time.
                &lt;p&gt;Another way to mitigate this error is to limit requests to 8 per second for Ad Manager
                360 accounts, or 2 per second for Ad Manager accounts. Once again
                this does not guarantee that every request will succeed, but may help
                reduce the number of times you receive this error.
              </documentation>
            </annotation>
          </enumeration>
          <enumeration value="UNKNOWN">
            <annotation>
              <documentation>
                The value returned if the actual value is not exposed by the requested API version.
              </documentation>
            </annotation>
          </enumeration>
          <enumeration value="REPORT_JOB_LIMIT">
            <annotation>
              <documentation>
                This user has exceeded the allowed number of new report requests per hour
                (this includes both reports run via the UI and reports
                run via {@link ReportService#runReportJob}).
                The recommended approach to handle this error is to wait about 10 minutes
                and then retry the request. Note that this does not guarantee the request
                will succeed. If it fails again, try increasing the wait time.
                &lt;p&gt;Another way to mitigate this error is to limit the number of new report
                requests to 250 per hour per user. Once again, this does not guarantee that
                every request will succeed, but may help reduce the number of times you
                receive this error.
              </documentation>
            </annotation>
          </enumeration>
        </restriction>
      </simpleType>
      <simpleType name="RangeError.Reason">
        <restriction base="xsd:string">
          <enumeration value="TOO_HIGH"/>
          <enumeration value="TOO_LOW"/>
          <enumeration value="UNKNOWN">
            <annotation>
              <documentation>
                The value returned if the actual value is not exposed by the requested API version.
              </documentation>
            </annotation>
          </enumeration>
        </restriction>
      </simpleType>
      <simpleType name="RateType">
        <annotation>
          <documentation>
            Describes the type of event the advertiser is paying for. The values here correspond to the
            values for the {@link LineItem#costType} field.
          </documentation>
        </annotation>
        <restriction base="xsd:string">
          <enumeration value="CPM">
            <annotation>
              <documentation>
                The rate applies to cost per mille (CPM) revenue.
              </documentation>
            </annotation>
          </enumeration>
          <enumeration value="CPC">
            <annotation>
              <documentation>
                The rate applies to cost per click (CPC) revenue.
              </documentation>
            </annotation>
          </enumeration>
          <enumeration value="CPD">
            <annotation>
              <documentation>
                The rate applies to cost per day (CPD) revenue.
              </documentation>
            </annotation>
          </enumeration>
          <enumeration value="CPU">
            <annotation>
              <documentation>
                The rate applies to cost per unit (CPU) revenue.
              </documentation>
            </annotation>
          </enumeration>
          <enumeration value="FLAT_FEE">
            <annotation>
              <documentation>
                The rate applies to flat fee revenue.
              </documentation>
            </annotation>
          </enumeration>
          <enumeration value="VCPM">
            <annotation>
              <documentation>
                The rate applies to Active View viewable cost per mille (vCPM) revenue.
              </documentation>
            </annotation>
          </enumeration>
          <enumeration value="UNKNOWN">
            <annotation>
              <documentation>
                The value returned if the actual value is not exposed by the requested API
                version.
              </documentation>
            </annotation>
          </enumeration>
        </restriction>
      </simpleType>
      <simpleType name="ReconciliationError.Reason">
        <annotation>
          <documentation>
            The reasons for the target error.
          </documentation>
        </annotation>
        <restriction base="xsd:string">
          <enumeration value="CANNOT_CREATE_RECONCILIATION_REPORT_VERSION">
            <annotation>
              <documentation>
                Reconciliation report is reconciled, and need to revert.
                Or reconciliation report is Deleted, and not possible.
              </documentation>
            </annotation>
          </enumeration>
          <enumeration value="INVALID_RECONCILIATION_REPORT_STATE_TRANSITION">
            <annotation>
              <documentation>
                Reconciliation report can't be put into that reconciliation state.
              </documentation>
            </annotation>
          </enumeration>
          <enumeration value="INVALID_RECONCILIATION_PROPOSAL_SUBMISSION_SEQUENCE">
            <annotation>
              <documentation>
                Previous cycles of the proposal must be reconciled first.
              </documentation>
            </annotation>
          </enumeration>
          <enumeration value="USER_CANNOT_RECONCILE_RECONCILIATION_REPORT">
            <annotation>
              <documentation>
                User does not have permission to put reconciliation report into reconciled state.
              </documentation>
            </annotation>
          </enumeration>
          <enumeration value="CONTRACTED_VOLUME_CANNOT_BE_NULL">
            <annotation>
              <documentation>
                The billed from is contracted, but the contracted volume cannot be null.
              </documentation>
            </annotation>
          </enumeration>
          <enumeration value="DFP_VOLUME_CANNOT_BE_NULL">
            <annotation>
              <documentation>
                The billed from is DFP, but the DFP volume cannot be null.
              </documentation>
            </annotation>
          </enumeration>
          <enumeration value="MANUAL_VOLUME_CANNOT_BE_NULL">
            <annotation>
              <documentation>
                The billed from is manual, but the manual volume cannot be null.
              </documentation>
            </annotation>
          </enumeration>
          <enumeration value="THIRD_PARTY_VOLUME_CANNOT_BE_NULL">
            <annotation>
              <documentation>
                The billed from is third-party, but the third-party volume cannot be null.
              </documentation>
            </annotation>
          </enumeration>
          <enumeration value="DUPLICATE_LINE_ITEM_AND_CREATIVE">
            <annotation>
              <documentation>
                Duplicate tuples of (line item ID, creative ID).
              </documentation>
            </annotation>
          </enumeration>
          <enumeration value="CANNOT_RECONCILE_LINE_ITEM_CREATIVE">
            <annotation>
              <documentation>
                Cannot reconcile the {@link ReconciliationReportRow}
                as the line item ID and the creative ID association is invalid.
              </documentation>
            </annotation>
          </enumeration>
          <enumeration value="LINE_ITEM_DAYS_MISMATCH">
            <annotation>
              <documentation>
                Third-party days delivered and manual days delivered cannot differ
                for rows with same line item ID when line item cost type is CPD.
              </documentation>
            </annotation>
          </enumeration>
          <enumeration value="LINE_ITEM_BILL_OFF_OF_MISMATCH">
            <annotation>
              <documentation>
                {@link ReconciliationReportRow#billFrom} field cannot differ for rows with same line item id
                when line item cost type is CPD.
              </documentation>
            </annotation>
          </enumeration>
          <enumeration value="CANNOT_MODIFY_RECONCILED_ORDER">
            <annotation>
              <documentation>
                The order of the modifying rows in under reconciled status. The row couldn't
                be changed.
              </documentation>
            </annotation>
          </enumeration>
          <enumeration value="CANNOT_MODIFY_ACROSS_MULTIPLE_RECONCILIATION_REPORTS">
            <annotation>
              <documentation>
                Can not modify across multiple reconciliation reports.
              </documentation>
            </annotation>
          </enumeration>
          <enumeration value="CANNOT_QUERY_ACROSS_MULTIPLE_RECONCILIATION_REPORTS">
            <annotation>
              <documentation>
                Can not query across multiple reconciliation reports.
              </documentation>
            </annotation>
          </enumeration>
          <enumeration value="CANNOT_UPDATE_VOLUME_WHEN_BILLABLE_REVENUE_OVERRIDDEN">
            <annotation>
              <documentation>
                Cannot update reconciled volume when a billable revenue override is set.
              </documentation>
            </annotation>
          </enumeration>
          <enumeration value="UNKNOWN">
            <annotation>
              <documentation>
                The value returned if the actual value is not exposed by the requested API version.
              </documentation>
            </annotation>
          </enumeration>
        </restriction>
      </simpleType>
      <simpleType name="RequiredCollectionError.Reason">
        <restriction base="xsd:string">
          <enumeration value="REQUIRED">
            <annotation>
              <documentation>
                A required collection is missing.
              </documentation>
            </annotation>
          </enumeration>
          <enumeration value="TOO_LARGE">
            <annotation>
              <documentation>
                Collection size is too large.
              </documentation>
            </annotation>
          </enumeration>
          <enumeration value="TOO_SMALL">
            <annotation>
              <documentation>
                Collection size is too small.
              </documentation>
            </annotation>
          </enumeration>
          <enumeration value="UNKNOWN">
            <annotation>
              <documentation>
                The value returned if the actual value is not exposed by the requested API version.
              </documentation>
            </annotation>
          </enumeration>
        </restriction>
      </simpleType>
      <simpleType name="RequiredError.Reason">
        <annotation>
          <documentation>
            The reasons for the target error.
          </documentation>
        </annotation>
        <restriction base="xsd:string">
          <enumeration value="REQUIRED">
            <annotation>
              <documentation>
                Missing required field.
              </documentation>
            </annotation>
          </enumeration>
        </restriction>
      </simpleType>
      <simpleType name="ServerError.Reason">
        <annotation>
          <documentation>
            Describes reasons for server errors
          </documentation>
        </annotation>
        <restriction base="xsd:string">
          <enumeration value="SERVER_ERROR">
            <annotation>
              <documentation>
                Indicates that an unexpected error occured.
              </documentation>
            </annotation>
          </enumeration>
          <enumeration value="SERVER_BUSY">
            <annotation>
              <documentation>
                Indicates that the server is currently experiencing a high load. Please
                wait and try your request again.
              </documentation>
            </annotation>
          </enumeration>
          <enumeration value="UNKNOWN">
            <annotation>
              <documentation>
                The value returned if the actual value is not exposed by the requested API version.
              </documentation>
            </annotation>
          </enumeration>
        </restriction>
      </simpleType>
      <simpleType name="StatementError.Reason">
        <restriction base="xsd:string">
          <enumeration value="VARIABLE_NOT_BOUND_TO_VALUE">
            <annotation>
              <documentation>
                A bind variable has not been bound to a value.
              </documentation>
            </annotation>
          </enumeration>
          <enumeration value="UNKNOWN">
            <annotation>
              <documentation>
                The value returned if the actual value is not exposed by the requested API version.
              </documentation>
            </annotation>
          </enumeration>
        </restriction>
      </simpleType>
      <simpleType name="StringFormatError.Reason">
        <annotation>
          <documentation>
            The reasons for the target error.
          </documentation>
        </annotation>
        <restriction base="xsd:string">
          <enumeration value="UNKNOWN"/>
          <enumeration value="ILLEGAL_CHARS">
            <annotation>
              <documentation>
                The input string value contains disallowed characters.
              </documentation>
            </annotation>
          </enumeration>
          <enumeration value="INVALID_FORMAT">
            <annotation>
              <documentation>
                The input string value is invalid for the associated field.
              </documentation>
            </annotation>
          </enumeration>
        </restriction>
      </simpleType>
      <simpleType name="StringLengthError.Reason">
        <restriction base="xsd:string">
          <enumeration value="TOO_LONG"/>
          <enumeration value="TOO_SHORT"/>
          <enumeration value="UNKNOWN">
            <annotation>
              <documentation>
                The value returned if the actual value is not exposed by the requested API version.
              </documentation>
            </annotation>
          </enumeration>
        </restriction>
      </simpleType>
      <element name="getReconciliationLineItemReportsByStatement">
        <annotation>
          <documentation>
            Gets a {@link ReconciliationLineItemReportPage} of {@link ReconciliationLineItemReport}
            objects that satisfy the given {@link Statement#query}.
            The following fields are supported for filtering:
            
            &lt;table&gt;
            &lt;tr&gt;
            &lt;th scope="col"&gt;PQL Property&lt;/th&gt; &lt;th scope="col"&gt;Object Property&lt;/th&gt;
            &lt;/tr&gt;
            &lt;tr&gt;
            &lt;td&gt;{@code id}&lt;/td&gt;
            &lt;td&gt;{@link ReconciliationLineItemReport#id}&lt;/td&gt;
            &lt;/tr&gt;
            &lt;tr&gt;
            &lt;td&gt;{@code reconciliationReportId}&lt;/td&gt;
            &lt;td&gt;{@link ReconciliationLineItemReport#reconciliationReportId}&lt;/td&gt;
            &lt;/tr&gt;
            &lt;tr&gt;
            &lt;td&gt;{@code orderId}&lt;/td&gt;
            &lt;td&gt;{@link ReconciliationLineItemReport#orderId}&lt;/td&gt;
            &lt;/tr&gt;
            &lt;tr&gt;
            &lt;td&gt;{@code proposalId}&lt;/td&gt;
            &lt;td&gt;{@link ReconciliationLineItemReport#proposalId}&lt;/td&gt;
            &lt;/tr&gt;
            &lt;tr&gt;
            &lt;td&gt;{@code lineItemId}&lt;/td&gt;
            &lt;td&gt;{@link ReconciliationLineItemReport#lineItemId}&lt;/td&gt;
            &lt;/tr&gt;
            &lt;tr&gt;
            &lt;td&gt;{@code proposalLineItemId}&lt;/td&gt;
            &lt;td&gt;{@link ReconciliationLineItemReport#proposalLineItemId}&lt;/td&gt;
            &lt;/tr&gt;
            &lt;/table&gt;
            
            @param filterStatement a Publisher Query Language statement used to filter the result
            @return the {@link ReconciliationLineItemReport} objects that match the given filter
          </documentation>
        </annotation>
        <complexType>
          <sequence>
            <element maxOccurs="1" minOccurs="0" name="filterStatement" type="tns:Statement"/>
          </sequence>
        </complexType>
      </element>
      <element name="getReconciliationLineItemReportsByStatementResponse">
        <complexType>
          <sequence>
            <element maxOccurs="1" minOccurs="0" name="rval" type="tns:ReconciliationLineItemReportPage"/>
          </sequence>
        </complexType>
      </element>
      <element name="ApiExceptionFault" type="tns:ApiException">
        <annotation>
          <documentation>
            A fault element of type ApiException.
          </documentation>
        </annotation>
      </element>
      <element name="updateReconciliationLineItemReports">
        <annotation>
          <documentation>
            Updates a list of {@link ReconciliationLineItemReport} objects which belong to same
            {@link ReconciliationReport}.
            
            @param reconciliationLineItemReports a list of
            {@link ReconciliationLineItemReport reconciliation line item reports} to update
            @return the updated {@link ReconciliationLineItemReport} objects
          </documentation>
        </annotation>
        <complexType>
          <sequence>
            <element maxOccurs="unbounded" minOccurs="0"
              name="reconciliationLineItemReports" type="tns:ReconciliationLineItemReport"/>
          </sequence>
        </complexType>
      </element>
      <element name="updateReconciliationLineItemReportsResponse">
        <complexType>
          <sequence>
            <element maxOccurs="unbounded" minOccurs="0" name="rval" type="tns:ReconciliationLineItemReport"/>
          </sequence>
        </complexType>
      </element>
      <element name="RequestHeader" type="tns:SoapRequestHeader"/>
      <element name="ResponseHeader" type="tns:SoapResponseHeader"/>
    </schema>
  </wsdl:types>
  <wsdl:message name="RequestHeader">
    <wsdl:part element="tns:RequestHeader" name="RequestHeader"/>
  </wsdl:message>
  <wsdl:message name="ResponseHeader">
    <wsdl:part element="tns:ResponseHeader" name="ResponseHeader"/>
  </wsdl:message>
  <wsdl:message name="getReconciliationLineItemReportsByStatementRequest">
    <wsdl:part element="tns:getReconciliationLineItemReportsByStatement" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="getReconciliationLineItemReportsByStatementResponse">
    <wsdl:part
      element="tns:getReconciliationLineItemReportsByStatementResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="ApiException">
    <wsdl:part element="tns:ApiExceptionFault" name="ApiException"/>
  </wsdl:message>
  <wsdl:message name="updateReconciliationLineItemReportsRequest">
    <wsdl:part element="tns:updateReconciliationLineItemReports" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="updateReconciliationLineItemReportsResponse">
    <wsdl:part element="tns:updateReconciliationLineItemReportsResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:portType name="ReconciliationLineItemReportServiceInterface">
    <wsdl:documentation>
      Provides methods for retrieving and updating {@link ReconciliationLineItemReport} objects.
    </wsdl:documentation>
    <wsdl:operation name="getReconciliationLineItemReportsByStatement">
      <wsdl:documentation>
        Gets a {@link ReconciliationLineItemReportPage} of {@link ReconciliationLineItemReport}
        objects that satisfy the given {@link Statement#query}.
        The following fields are supported for filtering:
        
        &lt;table&gt;
        &lt;tr&gt;
        &lt;th scope="col"&gt;PQL Property&lt;/th&gt; &lt;th scope="col"&gt;Object Property&lt;/th&gt;
        &lt;/tr&gt;
        &lt;tr&gt;
        &lt;td&gt;{@code id}&lt;/td&gt;
        &lt;td&gt;{@link ReconciliationLineItemReport#id}&lt;/td&gt;
        &lt;/tr&gt;
        &lt;tr&gt;
        &lt;td&gt;{@code reconciliationReportId}&lt;/td&gt;
        &lt;td&gt;{@link ReconciliationLineItemReport#reconciliationReportId}&lt;/td&gt;
        &lt;/tr&gt;
        &lt;tr&gt;
        &lt;td&gt;{@code orderId}&lt;/td&gt;
        &lt;td&gt;{@link ReconciliationLineItemReport#orderId}&lt;/td&gt;
        &lt;/tr&gt;
        &lt;tr&gt;
        &lt;td&gt;{@code proposalId}&lt;/td&gt;
        &lt;td&gt;{@link ReconciliationLineItemReport#proposalId}&lt;/td&gt;
        &lt;/tr&gt;
        &lt;tr&gt;
        &lt;td&gt;{@code lineItemId}&lt;/td&gt;
        &lt;td&gt;{@link ReconciliationLineItemReport#lineItemId}&lt;/td&gt;
        &lt;/tr&gt;
        &lt;tr&gt;
        &lt;td&gt;{@code proposalLineItemId}&lt;/td&gt;
        &lt;td&gt;{@link ReconciliationLineItemReport#proposalLineItemId}&lt;/td&gt;
        &lt;/tr&gt;
        &lt;/table&gt;
        
        @param filterStatement a Publisher Query Language statement used to filter the result
        @return the {@link ReconciliationLineItemReport} objects that match the given filter
      </wsdl:documentation>
      <wsdl:input
        message="tns:getReconciliationLineItemReportsByStatementRequest" name="getReconciliationLineItemReportsByStatementRequest"/>
      <wsdl:output
        message="tns:getReconciliationLineItemReportsByStatementResponse" name="getReconciliationLineItemReportsByStatementResponse"/>
      <wsdl:fault message="tns:ApiException" name="ApiException"/>
    </wsdl:operation>
    <wsdl:operation name="updateReconciliationLineItemReports">
      <wsdl:documentation>
        Updates a list of {@link ReconciliationLineItemReport} objects which belong to same
        {@link ReconciliationReport}.
        
        @param reconciliationLineItemReports a list of
        {@link ReconciliationLineItemReport reconciliation line item reports} to update
        @return the updated {@link ReconciliationLineItemReport} objects
      </wsdl:documentation>
      <wsdl:input
        message="tns:updateReconciliationLineItemReportsRequest" name="updateReconciliationLineItemReportsRequest"/>
      <wsdl:output
        message="tns:updateReconciliationLineItemReportsResponse" name="updateReconciliationLineItemReportsResponse"/>
      <wsdl:fault message="tns:ApiException" name="ApiException"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ReconciliationLineItemReportServiceSoapBinding" type="tns:ReconciliationLineItemReportServiceInterface">
    <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getReconciliationLineItemReportsByStatement">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="getReconciliationLineItemReportsByStatementRequest">
        <wsdlsoap:header message="tns:RequestHeader"
          part="RequestHeader" use="literal"/>
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getReconciliationLineItemReportsByStatementResponse">
        <wsdlsoap:header message="tns:ResponseHeader"
          part="ResponseHeader" use="literal"/>
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ApiException">
        <wsdlsoap:fault name="ApiException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="updateReconciliationLineItemReports">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="updateReconciliationLineItemReportsRequest">
        <wsdlsoap:header message="tns:RequestHeader"
          part="RequestHeader" use="literal"/>
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="updateReconciliationLineItemReportsResponse">
        <wsdlsoap:header message="tns:ResponseHeader"
          part="ResponseHeader" use="literal"/>
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ApiException">
        <wsdlsoap:fault name="ApiException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ReconciliationLineItemReportService">
    <wsdl:port
      binding="tns:ReconciliationLineItemReportServiceSoapBinding" name="ReconciliationLineItemReportServiceInterfacePort">
      <wsdlsoap:address location="https://ads.google.com/apis/ads/publisher/v201805/ReconciliationLineItemReportService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
