resources/wsdls/api/adwords/cm/v201710/ReportDefinitionService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- Generated file, do not edit -->
<!-- Copyright 2018 Google Inc. All Rights Reserved -->
<wsdl:definitions
  targetNamespace="https://adwords.google.com/api/adwords/cm/v201710"
  xmlns:tns="https://adwords.google.com/api/adwords/cm/v201710"
  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
  xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
    <schema elementFormDefault="qualified" jaxb:version="1.0"
      targetNamespace="https://adwords.google.com/api/adwords/cm/v201710"
      xmlns="http://www.w3.org/2001/XMLSchema"
      xmlns:jaxb="http://java.sun.com/xml/ns/jaxb" xmlns:tns="https://adwords.google.com/api/adwords/cm/v201710">
      <annotation>
        <appinfo>
          <jaxb:globalBindings typesafeEnumMaxMembers="999999"/>
        </appinfo>
      </annotation>
      <complexType name="AuthenticationError">
        <annotation>
          <documentation>
            Errors returned when Authentication failed.
          </documentation>
        </annotation>
        <complexContent>
          <extension base="tns:ApiError">
            <sequence>
              <element maxOccurs="1" minOccurs="0" name="reason" type="tns:AuthenticationError.Reason">
                <annotation>
                  <documentation>
                    The error reason represented by an enum.
                  </documentation>
                </annotation>
              </element>
            </sequence>
          </extension>
        </complexContent>
      </complexType>
      <complexType name="AuthorizationError">
        <annotation>
          <documentation>
            Errors encountered when trying to authorize a user.
          </documentation>
        </annotation>
        <complexContent>
          <extension base="tns:ApiError">
            <sequence>
              <element maxOccurs="1" minOccurs="0" name="reason" type="tns:AuthorizationError.Reason">
                <annotation>
                  <documentation>
                    The error reason represented by an enum.
                  </documentation>
                </annotation>
              </element>
            </sequence>
          </extension>
        </complexContent>
      </complexType>
      <complexType name="ClientTermsError">
        <annotation>
          <documentation>
            Error due to user not accepting the AdWords terms of service.
          </documentation>
        </annotation>
        <complexContent>
          <extension base="tns:ApiError">
            <sequence>
              <element maxOccurs="1" minOccurs="0" name="reason" type="tns:ClientTermsError.Reason"/>
            </sequence>
          </extension>
        </complexContent>
      </complexType>
      <complexType name="CollectionSizeError">
        <annotation>
          <documentation>
            Errors associated with the size of the given collection being
            out of bounds.
          </documentation>
        </annotation>
        <complexContent>
          <extension base="tns:ApiError">
            <sequence>
              <element maxOccurs="1" minOccurs="0" name="reason" type="tns:CollectionSizeError.Reason">
                <annotation>
                  <documentation>
                    The error reason represented by an enum.
                  </documentation>
                </annotation>
              </element>
            </sequence>
          </extension>
        </complexContent>
      </complexType>
      <complexType name="DateError">
        <annotation>
          <documentation>
            Errors associated with invalid dates and date ranges.
          </documentation>
        </annotation>
        <complexContent>
          <extension base="tns:ApiError">
            <sequence>
              <element maxOccurs="1" minOccurs="0" name="reason" type="tns:DateError.Reason">
                <annotation>
                  <documentation>
                    The error reason represented by an enum.
                  </documentation>
                </annotation>
              </element>
            </sequence>
          </extension>
        </complexContent>
      </complexType>
      <complexType name="DistinctError">
        <annotation>
          <documentation>
            Errors related to distinct ids or content.
          </documentation>
        </annotation>
        <complexContent>
          <extension base="tns:ApiError">
            <sequence>
              <element maxOccurs="1" minOccurs="0" name="reason" type="tns:DistinctError.Reason">
                <annotation>
                  <documentation>
                    The error reason represented by an enum.
                  </documentation>
                </annotation>
              </element>
            </sequence>
          </extension>
        </complexContent>
      </complexType>
      <complexType name="EnumValuePair">
        <annotation>
          <documentation>
            Represents information about enum values.
          </documentation>
        </annotation>
        <sequence>
          <element maxOccurs="1" minOccurs="0" name="enumValue" type="xsd:string">
            <annotation>
              <documentation>
                The api enum value.
                &lt;span class="constraint ReadOnly"&gt;This field is read only and will be ignored when sent to the API.&lt;/span&gt;
              </documentation>
            </annotation>
          </element>
          <element maxOccurs="1" minOccurs="0" name="enumDisplayValue" type="xsd:string">
            <annotation>
              <documentation>
                The enum value displayed in the downloaded report.
                &lt;span class="constraint ReadOnly"&gt;This field is read only and will be ignored when sent to the API.&lt;/span&gt;
              </documentation>
            </annotation>
          </element>
        </sequence>
      </complexType>
      <complexType name="FieldPathElement">
        <annotation>
          <documentation>
            A segment of a field path. Each dot in a field path defines a new segment.
          </documentation>
        </annotation>
        <sequence>
          <element maxOccurs="1" minOccurs="0" name="field" type="xsd:string">
            <annotation>
              <documentation>
                The name of a field in lower camelcase. (e.g. "biddingStrategy")
              </documentation>
            </annotation>
          </element>
          <element maxOccurs="1" minOccurs="0" name="index" type="xsd:int">
            <annotation>
              <documentation>
                For list fields, this is a 0-indexed position in the list. Null for non-list fields.
              </documentation>
            </annotation>
          </element>
        </sequence>
      </complexType>
      <complexType name="IdError">
        <annotation>
          <documentation>
            Errors associated with the ids.
          </documentation>
        </annotation>
        <complexContent>
          <extension base="tns:ApiError">
            <sequence>
              <element maxOccurs="1" minOccurs="0" name="reason" type="tns:IdError.Reason">
                <annotation>
                  <documentation>
                    The error reason represented by an enum.
                  </documentation>
                </annotation>
              </element>
            </sequence>
          </extension>
        </complexContent>
      </complexType>
      <complexType name="InternalApiError">
        <annotation>
          <documentation>
            Indicates that a server-side error has occured. {@code InternalApiError}s
            are generally not the result of an invalid request or message sent by the
            client.
          </documentation>
        </annotation>
        <complexContent>
          <extension base="tns:ApiError">
            <sequence>
              <element maxOccurs="1" minOccurs="0" name="reason" type="tns:InternalApiError.Reason">
                <annotation>
                  <documentation>
                    The error reason represented by an enum.
                  </documentation>
                </annotation>
              </element>
            </sequence>
          </extension>
        </complexContent>
      </complexType>
      <complexType name="NotEmptyError">
        <annotation>
          <documentation>
            Errors corresponding with violation of a NOT EMPTY check.
          </documentation>
        </annotation>
        <complexContent>
          <extension base="tns:ApiError">
            <sequence>
              <element maxOccurs="1" minOccurs="0" name="reason" type="tns:NotEmptyError.Reason">
                <annotation>
                  <documentation>
                    The error reason represented by an enum.
                  </documentation>
                </annotation>
              </element>
            </sequence>
          </extension>
        </complexContent>
      </complexType>
      <complexType name="NotWhitelistedError">
        <annotation>
          <documentation>
            Indicates that the customer is not whitelisted for accessing the API.
          </documentation>
        </annotation>
        <complexContent>
          <extension base="tns:ApiError">
            <sequence>
              <element maxOccurs="1" minOccurs="0" name="reason" type="tns:NotWhitelistedError.Reason">
                <annotation>
                  <documentation>
                    The error reason represented by an enum.
                  </documentation>
                </annotation>
              </element>
            </sequence>
          </extension>
        </complexContent>
      </complexType>
      <complexType name="NullError">
        <annotation>
          <documentation>
            Errors associated with violation of a NOT NULL check.
          </documentation>
        </annotation>
        <complexContent>
          <extension base="tns:ApiError">
            <sequence>
              <element maxOccurs="1" minOccurs="0" name="reason" type="tns:NullError.Reason">
                <annotation>
                  <documentation>
                    The error reason represented by an enum.
                  </documentation>
                </annotation>
              </element>
            </sequence>
          </extension>
        </complexContent>
      </complexType>
      <complexType name="OperationAccessDenied">
        <annotation>
          <documentation>
            Operation not permitted due to the invoked service's access policy.
          </documentation>
        </annotation>
        <complexContent>
          <extension base="tns:ApiError">
            <sequence>
              <element maxOccurs="1" minOccurs="0" name="reason" type="tns:OperationAccessDenied.Reason"/>
            </sequence>
          </extension>
        </complexContent>
      </complexType>
      <complexType name="OperatorError">
        <annotation>
          <documentation>
            Errors due to the use of unsupported operations.
          </documentation>
        </annotation>
        <complexContent>
          <extension base="tns:ApiError">
            <sequence>
              <element maxOccurs="1" minOccurs="0" name="reason" type="tns:OperatorError.Reason">
                <annotation>
                  <documentation>
                    The error reason represented by an enum.
                  </documentation>
                </annotation>
              </element>
            </sequence>
          </extension>
        </complexContent>
      </complexType>
      <complexType name="QuotaCheckError">
        <annotation>
          <documentation>
            Encapsulates the errors thrown during developer quota checks.
          </documentation>
        </annotation>
        <complexContent>
          <extension base="tns:ApiError">
            <sequence>
              <element maxOccurs="1" minOccurs="0" name="reason" type="tns:QuotaCheckError.Reason"/>
            </sequence>
          </extension>
        </complexContent>
      </complexType>
      <complexType name="RangeError">
        <annotation>
          <documentation>
            A list of all errors associated with the Range constraint.
          </documentation>
        </annotation>
        <complexContent>
          <extension base="tns:ApiError">
            <sequence>
              <element maxOccurs="1" minOccurs="0" name="reason" type="tns:RangeError.Reason">
                <annotation>
                  <documentation>
                    The error reason represented by an enum.
                  </documentation>
                </annotation>
              </element>
            </sequence>
          </extension>
        </complexContent>
      </complexType>
      <complexType name="RateExceededError">
        <annotation>
          <documentation>
            Signals that a call failed because a measured rate exceeded.
          </documentation>
        </annotation>
        <complexContent>
          <extension base="tns:ApiError">
            <sequence>
              <element maxOccurs="1" minOccurs="0" name="reason" type="tns:RateExceededError.Reason">
                <annotation>
                  <documentation>
                    The error reason represented by an enum.
                  </documentation>
                </annotation>
              </element>
              <element maxOccurs="1" minOccurs="0" name="rateName" type="xsd:string">
                <annotation>
                  <documentation>
                    Cause of the rate exceeded error.
                  </documentation>
                </annotation>
              </element>
              <element maxOccurs="1" minOccurs="0" name="rateScope" type="xsd:string">
                <annotation>
                  <documentation>
                    The scope of the rate (ACCOUNT/DEVELOPER).
                  </documentation>
                </annotation>
              </element>
              <element maxOccurs="1" minOccurs="0"
                name="retryAfterSeconds" type="xsd:int">
                <annotation>
                  <documentation>
                    The amount of time (in seconds) the client should wait before retrying the request.
                  </documentation>
                </annotation>
              </element>
            </sequence>
          </extension>
        </complexContent>
      </complexType>
      <complexType name="ReadOnlyError">
        <annotation>
          <documentation>
            Errors from attempting to write to read-only fields.
          </documentation>
        </annotation>
        <complexContent>
          <extension base="tns:ApiError">
            <sequence>
              <element maxOccurs="1" minOccurs="0" name="reason" type="tns:ReadOnlyError.Reason">
                <annotation>
                  <documentation>
                    The error reason represented by an enum.
                  </documentation>
                </annotation>
              </element>
            </sequence>
          </extension>
        </complexContent>
      </complexType>
      <complexType name="RejectedError">
        <annotation>
          <documentation>
            Indicates that a field was rejected due to compatibility issues.
          </documentation>
        </annotation>
        <complexContent>
          <extension base="tns:ApiError">
            <sequence>
              <element maxOccurs="1" minOccurs="0" name="reason" type="tns:RejectedError.Reason">
                <annotation>
                  <documentation>
                    The error reason represented by an enum.
                  </documentation>
                </annotation>
              </element>
            </sequence>
          </extension>
        </complexContent>
      </complexType>
      <complexType name="ReportDefinitionError">
        <annotation>
          <documentation>
            Encapsulates the errors that can be thrown during {@link ReportDefinition}
            mutate operation.
          </documentation>
        </annotation>
        <complexContent>
          <extension base="tns:ApiError">
            <sequence>
              <element maxOccurs="1" minOccurs="0" name="reason" type="tns:ReportDefinitionError.Reason"/>
            </sequence>
          </extension>
        </complexContent>
      </complexType>
      <complexType name="ReportDefinitionField">
        <annotation>
          <documentation>
            Represents the fields that can be used to create a ReportDefinition.
            This class allows the user to query the list of fields applicable to a
            given report type. Consumers of reports will be able use the retrieved
            fields through the {@link ReportDefinitionService#getReportFields}
            api and run the corresponding reports.
          </documentation>
        </annotation>
        <sequence>
          <element maxOccurs="1" minOccurs="0" name="fieldName" type="xsd:string">
            <annotation>
              <documentation>
                The field name.
                &lt;span class="constraint ReadOnly"&gt;This field is read only and will be ignored when sent to the API.&lt;/span&gt;
              </documentation>
            </annotation>
          </element>
          <element maxOccurs="1" minOccurs="0" name="displayFieldName" type="xsd:string">
            <annotation>
              <documentation>
                The name that is displayed in the downloaded report.
                &lt;span class="constraint ReadOnly"&gt;This field is read only and will be ignored when sent to the API.&lt;/span&gt;
              </documentation>
            </annotation>
          </element>
          <element maxOccurs="1" minOccurs="0" name="xmlAttributeName" type="xsd:string">
            <annotation>
              <documentation>
                The XML attribute in the downloaded report.
                &lt;span class="constraint ReadOnly"&gt;This field is read only and will be ignored when sent to the API.&lt;/span&gt;
              </documentation>
            </annotation>
          </element>
          <element maxOccurs="1" minOccurs="0" name="fieldType" type="xsd:string">
            <annotation>
              <documentation>
                The type of field. Useful for knowing what operation type to pass in for
                a given field in a predicate.
                &lt;span class="constraint ReadOnly"&gt;This field is read only and will be ignored when sent to the API.&lt;/span&gt;
              </documentation>
            </annotation>
          </element>
          <element maxOccurs="1" minOccurs="0" name="fieldBehavior" type="xsd:string">
            <annotation>
              <documentation>
                The behavior of this field. Possible values are: "ATTRIBUTE", "METRIC"
                and "SEGMENT".
                &lt;span class="constraint ReadOnly"&gt;This field is read only and will be ignored when sent to the API.&lt;/span&gt;
              </documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="enumValues" type="xsd:string">
            <annotation>
              <documentation>
                List of enum values for the corresponding field if and only if the
                field is an enum type.
                &lt;span class="constraint ReadOnly"&gt;This field is read only and will be ignored when sent to the API.&lt;/span&gt;
              </documentation>
            </annotation>
          </element>
          <element maxOccurs="1" minOccurs="0" name="canSelect" type="xsd:boolean">
            <annotation>
              <documentation>
                Indicates if the user can select this field.
                &lt;span class="constraint ReadOnly"&gt;This field is read only and will be ignored when sent to the API.&lt;/span&gt;
              </documentation>
            </annotation>
          </element>
          <element maxOccurs="1" minOccurs="0" name="canFilter" type="xsd:boolean">
            <annotation>
              <documentation>
                Indicates if the user can filter on this field.
                &lt;span class="constraint ReadOnly"&gt;This field is read only and will be ignored when sent to the API.&lt;/span&gt;
              </documentation>
            </annotation>
          </element>
          <element maxOccurs="1" minOccurs="0" name="isEnumType" type="xsd:boolean">
            <annotation>
              <documentation>
                Indicates that the field is an enum type.
                &lt;span class="constraint ReadOnly"&gt;This field is read only and will be ignored when sent to the API.&lt;/span&gt;
              </documentation>
            </annotation>
          </element>
          <element maxOccurs="1" minOccurs="0" name="isBeta" type="xsd:boolean">
            <annotation>
              <documentation>
                Indicates that the field is only available with beta access.
                &lt;span class="constraint ReadOnly"&gt;This field is read only and will be ignored when sent to the API.&lt;/span&gt;
              </documentation>
            </annotation>
          </element>
          <element maxOccurs="1" minOccurs="0"
            name="isZeroRowCompatible" type="xsd:boolean">
            <annotation>
              <documentation>
                Indicates if the field can be selected in queries that explicitly request zero rows.
                &lt;span class="constraint ReadOnly"&gt;This field is read only and will be ignored when sent to the API.&lt;/span&gt;
              </documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0"
            name="enumValuePairs" type="tns:EnumValuePair">
            <annotation>
              <documentation>
                List of enum values in api to their corresponding display values in the
                downloaded reports.
                &lt;span class="constraint ReadOnly"&gt;This field is read only and will be ignored when sent to the API.&lt;/span&gt;
              </documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0"
            name="exclusiveFields" type="xsd:string">
            <annotation>
              <documentation>
                List of mutually exclusive fields of this field. This field cannot be selected or used in
                a predicate together with any of the mutually exclusive fields in this list.
                &lt;span class="constraint ReadOnly"&gt;This field is read only and will be ignored when sent to the API.&lt;/span&gt;
              </documentation>
            </annotation>
          </element>
        </sequence>
      </complexType>
      <complexType name="RequestError">
        <annotation>
          <documentation>
            Encapsulates the generic errors thrown when there's an error with user
            request.
          </documentation>
        </annotation>
        <complexContent>
          <extension base="tns:ApiError">
            <sequence>
              <element maxOccurs="1" minOccurs="0" name="reason" type="tns:RequestError.Reason"/>
            </sequence>
          </extension>
        </complexContent>
      </complexType>
      <complexType name="RequiredError">
        <annotation>
          <documentation>
            Errors due to missing required field.
          </documentation>
        </annotation>
        <complexContent>
          <extension base="tns:ApiError">
            <sequence>
              <element maxOccurs="1" minOccurs="0" name="reason" type="tns:RequiredError.Reason">
                <annotation>
                  <documentation>
                    The error reason represented by an enum.
                  </documentation>
                </annotation>
              </element>
            </sequence>
          </extension>
        </complexContent>
      </complexType>
      <complexType name="SizeLimitError">
        <annotation>
          <documentation>
            Indicates that the number of entries in the request or response exceeds the system limit.
          </documentation>
        </annotation>
        <complexContent>
          <extension base="tns:ApiError">
            <sequence>
              <element maxOccurs="1" minOccurs="0" name="reason" type="tns:SizeLimitError.Reason">
                <annotation>
                  <documentation>
                    The error reason represented by an enum.
                  </documentation>
                </annotation>
              </element>
            </sequence>
          </extension>
        </complexContent>
      </complexType>
      <complexType name="SoapHeader">
        <annotation>
          <documentation>
            Defines the required and optional elements within the header of a SOAP request.
          </documentation>
        </annotation>
        <sequence>
          <element maxOccurs="1" minOccurs="0" name="clientCustomerId" type="xsd:string">
            <annotation>
              <documentation>
                The header identifies the customer id of the client of the AdWords manager, if an AdWords
                manager is acting on behalf of their client or the customer id of the advertiser managing their
                own account.
              </documentation>
            </annotation>
          </element>
          <element maxOccurs="1" minOccurs="0" name="developerToken" type="xsd:string">
            <annotation>
              <documentation>
                Developer token to identify that the person making the call has enough
                quota.
              </documentation>
            </annotation>
          </element>
          <element maxOccurs="1" minOccurs="0" name="userAgent" type="xsd:string">
            <annotation>
              <documentation>
                UserAgent is used to track distribution of API client programs and
                application usage. The client is responsible for putting in a meaningful
                value for tracking purposes. To be clear this is not the same as an HTTP
                user agent.
              </documentation>
            </annotation>
          </element>
          <element maxOccurs="1" minOccurs="0" name="validateOnly" type="xsd:boolean">
            <annotation>
              <documentation>
                Used to validate the request without executing it.
              </documentation>
            </annotation>
          </element>
          <element maxOccurs="1" minOccurs="0" name="partialFailure" type="xsd:boolean">
            <annotation>
              <documentation>
                If true, API will try to commit as many error free operations as possible and
                report the other operations' errors.
                
                &lt;p&gt;Ignored for non-mutate calls.
              </documentation>
            </annotation>
          </element>
        </sequence>
      </complexType>
      <complexType name="SoapResponseHeader">
        <annotation>
          <documentation>
            Defines the elements within the header of a SOAP response.
          </documentation>
        </annotation>
        <sequence>
          <element maxOccurs="1" minOccurs="0" name="requestId" type="xsd:string">
            <annotation>
              <documentation>
                Unique id that identifies this request. If developers have any support issues, sending us
                this id will enable us to find their request more easily.
              </documentation>
            </annotation>
          </element>
          <element maxOccurs="1" minOccurs="0" name="serviceName" type="xsd:string">
            <annotation>
              <documentation>
                The name of the service being invoked.
              </documentation>
            </annotation>
          </element>
          <element maxOccurs="1" minOccurs="0" name="methodName" type="xsd:string">
            <annotation>
              <documentation>
                The name of the method being invoked.
              </documentation>
            </annotation>
          </element>
          <element maxOccurs="1" minOccurs="0" name="operations" type="xsd:long">
            <annotation>
              <documentation>
                Number of operations performed for this SOAP request.
              </documentation>
            </annotation>
          </element>
          <element maxOccurs="1" minOccurs="0" name="responseTime" type="xsd:long">
            <annotation>
              <documentation>
                Elapsed time in milliseconds between the AdWords API receiving the request and sending the
                response.
              </documentation>
            </annotation>
          </element>
        </sequence>
      </complexType>
      <complexType name="StringFormatError">
        <annotation>
          <documentation>
            A list of error code for reporting invalid content of input strings.
          </documentation>
        </annotation>
        <complexContent>
          <extension base="tns:ApiError">
            <sequence>
              <element maxOccurs="1" minOccurs="0" name="reason" type="tns:StringFormatError.Reason"/>
            </sequence>
          </extension>
        </complexContent>
      </complexType>
      <complexType name="StringLengthError">
        <annotation>
          <documentation>
            Errors associated with the length of the given string being
            out of bounds.
          </documentation>
        </annotation>
        <complexContent>
          <extension base="tns:ApiError">
            <sequence>
              <element maxOccurs="1" minOccurs="0" name="reason" type="tns:StringLengthError.Reason">
                <annotation>
                  <documentation>
                    The error reason represented by an enum.
                  </documentation>
                </annotation>
              </element>
            </sequence>
          </extension>
        </complexContent>
      </complexType>
      <complexType name="DatabaseError">
        <annotation>
          <documentation>
            Errors that are thrown due to a database access problem.
          </documentation>
        </annotation>
        <complexContent>
          <extension base="tns:ApiError">
            <sequence>
              <element maxOccurs="1" minOccurs="0" name="reason" type="tns:DatabaseError.Reason">
                <annotation>
                  <documentation>
                    The error reason represented by an enum.
                  </documentation>
                </annotation>
              </element>
            </sequence>
          </extension>
        </complexContent>
      </complexType>
      <complexType abstract="true" name="ApiError">
        <annotation>
          <documentation>
            The API error base class that provides details about an error that occurred
            while processing a service request.
            
            &lt;p&gt;The OGNL field path is provided for parsers to identify the request data
            element that may have caused the error.&lt;/p&gt;
          </documentation>
        </annotation>
        <sequence>
          <element maxOccurs="1" minOccurs="0" name="fieldPath" type="xsd:string">
            <annotation>
              <documentation>
                The OGNL field path to identify cause of error.
              </documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0"
            name="fieldPathElements" type="tns:FieldPathElement">
            <annotation>
              <documentation>
                A parsed copy of the field path. For example, the field path "operations[1].operand"
                corresponds to this list: {FieldPathElement(field = "operations", index = 1),
                FieldPathElement(field = "operand", index = null)}.
              </documentation>
            </annotation>
          </element>
          <element maxOccurs="1" minOccurs="0" name="trigger" type="xsd:string">
            <annotation>
              <documentation>
                The data that caused the error.
              </documentation>
            </annotation>
          </element>
          <element maxOccurs="1" minOccurs="0" name="errorString" type="xsd:string">
            <annotation>
              <documentation>
                A simple string representation of the error and reason.
              </documentation>
            </annotation>
          </element>
          <element maxOccurs="1" minOccurs="0" name="ApiError.Type" type="xsd:string">
            <annotation>
              <documentation>
                Indicates that this instance is a subtype of ApiError.
                Although this field is returned in the response, it is ignored on input
                and cannot be selected. Specify xsi:type instead.
              </documentation>
            </annotation>
          </element>
        </sequence>
      </complexType>
      <complexType name="ApiException">
        <annotation>
          <documentation>
            Exception class for holding a list of service errors.
          </documentation>
        </annotation>
        <complexContent>
          <extension base="tns:ApplicationException">
            <sequence>
              <element maxOccurs="unbounded" minOccurs="0" name="errors" type="tns:ApiError">
                <annotation>
                  <documentation>
                    List of errors.
                  </documentation>
                </annotation>
              </element>
            </sequence>
          </extension>
        </complexContent>
      </complexType>
      <complexType name="ApplicationException">
        <annotation>
          <documentation>
            Base class for exceptions.
          </documentation>
        </annotation>
        <sequence>
          <element maxOccurs="1" minOccurs="0" name="message" type="xsd:string">
            <annotation>
              <documentation>
                Error message.
              </documentation>
            </annotation>
          </element>
          <element maxOccurs="1" minOccurs="0"
            name="ApplicationException.Type" type="xsd:string">
            <annotation>
              <documentation>
                Indicates that this instance is a subtype of ApplicationException.
                Although this field is returned in the response, it is ignored on input
                and cannot be selected. Specify xsi:type instead.
              </documentation>
            </annotation>
          </element>
        </sequence>
      </complexType>
      <simpleType name="AuthenticationError.Reason">
        <annotation>
          <documentation>
            The single reason for the authentication failure.
          </documentation>
        </annotation>
        <restriction base="xsd:string">
          <enumeration value="AUTHENTICATION_FAILED">
            <annotation>
              <documentation>
                Authentication of the request failed.
              </documentation>
            </annotation>
          </enumeration>
          <enumeration value="CLIENT_CUSTOMER_ID_IS_REQUIRED">
            <annotation>
              <documentation>
                Client Customer Id is required if CustomerIdMode is set to CLIENT_EXTERNAL_CUSTOMER_ID.
                Starting version V201409 ClientCustomerId will be required for all requests except
                for {@link CustomerService#get}
              </documentation>
            </annotation>
          </enumeration>
          <enumeration value="CLIENT_EMAIL_REQUIRED">
            <annotation>
              <documentation>
                Client Email is required if CustomerIdMode is set to CLIENT_EXTERNAL_EMAIL_FIELD.
              </documentation>
            </annotation>
          </enumeration>
          <enumeration value="CLIENT_CUSTOMER_ID_INVALID">
            <annotation>
              <documentation>
                Client customer Id is not a number.
              </documentation>
            </annotation>
          </enumeration>
          <enumeration value="CLIENT_EMAIL_INVALID">
            <annotation>
              <documentation>
                Client customer Id is not a number.
              </documentation>
            </annotation>
          </enumeration>
          <enumeration value="CLIENT_EMAIL_FAILED_TO_AUTHENTICATE">
            <annotation>
              <documentation>
                Client email is not a valid customer email.
              </documentation>
            </annotation>
          </enumeration>
          <enumeration value="CUSTOMER_NOT_FOUND">
            <annotation>
              <documentation>
                No customer found for the customer id provided in the header.
              </documentation>
            </annotation>
          </enumeration>
          <enumeration value="GOOGLE_ACCOUNT_DELETED">
            <annotation>
              <documentation>
                Client's Google Account is deleted.
              </documentation>
            </annotation>
          </enumeration>
          <enumeration value="GOOGLE_ACCOUNT_COOKIE_INVALID">
            <annotation>
              <documentation>
                Google account login token in the cookie is invalid.
              </documentation>
            </annotation>
          </enumeration>
          <enumeration value="FAILED_TO_AUTHENTICATE_GOOGLE_ACCOUNT">
            <annotation>
              <documentation>
                problem occurred during Google account authentication.
              </documentation>
            </annotation>
          </enumeration>
          <enumeration value="GOOGLE_ACCOUNT_USER_AND_ADS_USER_MISMATCH">
            <annotation>
              <documentation>
                The user in the google account login token does not match the UserId in the cookie.
              </documentation>
            </annotation>
          </enumeration>
          <enumeration value="LOGIN_COOKIE_REQUIRED">
            <annotation>
              <documentation>
                Login cookie is required for authentication.
              </documentation>
            </annotation>
          </enumeration>
          <enumeration value="NOT_ADS_USER">
            <annotation>
              <documentation>
                User in the cookie is not a valid Ads user.
              </documentation>
            </annotation>
          </enumeration>
          <enumeration value="OAUTH_TOKEN_INVALID">
            <annotation>
              <documentation>
                Oauth token in the header is not valid.
              </documentation>
            </annotation>
          </enumeration>
          <enumeration value="OAUTH_TOKEN_EXPIRED">
            <annotation>
              <documentation>
                Oauth token in the header has expired.
              </documentation>
            </annotation>
          </enumeration>
          <enumeration value="OAUTH_TOKEN_DISABLED">
            <annotation>
              <documentation>
                Oauth token in the header has been disabled.
              </documentation>
            </annotation>
          </enumeration>
          <enumeration value="OAUTH_TOKEN_REVOKED">
            <annotation>
              <documentation>
                Oauth token in the header has been revoked.
              </documentation>
            </annotation>
          </enumeration>
          <enumeration value="OAUTH_TOKEN_HEADER_INVALID">
            <annotation>
              <documentation>
                Oauth token HTTP header is malformed.
              </documentation>
            </annotation>
          </enumeration>
          <enumeration value="LOGIN_COOKIE_INVALID">
            <annotation>
              <documentation>
                Login cookie is not valid.
              </documentation>
            </annotation>
          </enumeration>
          <enumeration value="FAILED_TO_RETRIEVE_LOGIN_COOKIE">
            <annotation>
              <documentation>
                Failed to decrypt the login cookie.
              </documentation>
            </annotation>
          </enumeration>
          <enumeration value="USER_ID_INVALID">
            <annotation>
              <documentation>
                User Id in the header is not a valid id.
              </documentation>
            </annotation>
          </enumeration>
        </restriction>
      </simpleType>
      <simpleType name="AuthorizationError.Reason">
        <annotation>
          <documentation>
            The reasons for the authorization error.
          </documentation>
        </annotation>
        <restriction base="xsd:string">
          <enumeration value="UNABLE_TO_AUTHORIZE">
            <annotation>
              <documentation>
                Could not complete authorization due to an internal problem.
              </documentation>
            </annotation>
          </enumeration>
          <enumeration value="NO_ADWORDS_ACCOUNT_FOR_CUSTOMER">
            <annotation>
              <documentation>
                Customer has no AdWords account.
              </documentation>
            </annotation>
          </enumeration>
          <enumeration value="USER_PERMISSION_DENIED">
            <annotation>
              <documentation>
                User doesn't have permission to access customer.
              </documentation>
            </annotation>
          </enumeration>
          <enumeration value="EFFECTIVE_USER_PERMISSION_DENIED">
            <annotation>
              <documentation>
                Effective user doesn't have permission to access this customer.
              </documentation>
            </annotation>
          </enumeration>
          <enumeration value="USER_HAS_READONLY_PERMISSION">
            <annotation>
              <documentation>
                User has read-only permission cannot mutate.
              </documentation>
            </annotation>
          </enumeration>
          <enumeration value="NO_CUSTOMER_FOUND">
            <annotation>
              <documentation>
                No customer found.
              </documentation>
            </annotation>
          </enumeration>
          <enumeration value="SERVICE_ACCESS_DENIED">
            <annotation>
              <documentation>
                Developer doesn't have permission to access service.
              </documentation>
            </annotation>
          </enumeration>
        </restriction>
      </simpleType>
      <simpleType name="ClientTermsError.Reason">
        <annotation>
          <documentation>
            Enums for the various reasons an error can be thrown as a result of
            ClientTerms violation.
          </documentation>
        </annotation>
        <restriction base="xsd:string">
          <enumeration value="INCOMPLETE_SIGNUP_CURRENT_ADWORDS_TNC_NOT_AGREED">
            <annotation>
              <documentation>
                Customer has not agreed to the latest AdWords Terms &amp; Conditions
              </documentation>
            </annotation>
          </enumeration>
        </restriction>
      </simpleType>
      <simpleType name="CollectionSizeError.Reason">
        <annotation>
          <documentation>
            The reasons for the target error.
          </documentation>
        </annotation>
        <restriction base="xsd:string">
          <enumeration value="TOO_FEW"/>
          <enumeration value="TOO_MANY"/>
        </restriction>
      </simpleType>
      <simpleType name="DatabaseError.Reason">
        <annotation>
          <documentation>
            The reasons for the database error.
          </documentation>
        </annotation>
        <restriction base="xsd:string">
          <enumeration value="CONCURRENT_MODIFICATION">
            <annotation>
              <documentation>
                A concurrency problem occurred as two threads were attempting to modify same object.
              </documentation>
            </annotation>
          </enumeration>
          <enumeration value="PERMISSION_DENIED">
            <annotation>
              <documentation>
                The permission was denied to access an object.
              </documentation>
            </annotation>
          </enumeration>
          <enumeration value="ACCESS_PROHIBITED">
            <annotation>
              <documentation>
                The user's access to an object has been prohibited.
              </documentation>
            </annotation>
          </enumeration>
          <enumeration value="CAMPAIGN_PRODUCT_NOT_SUPPORTED">
            <annotation>
              <documentation>
                Requested campaign belongs to a product that is not supported by the api.
              </documentation>
            </annotation>
          </enumeration>
          <enumeration value="DUPLICATE_KEY">
            <annotation>
              <documentation>
                a duplicate key was detected upon insertion
              </documentation>
            </annotation>
          </enumeration>
          <enumeration value="DATABASE_ERROR">
            <annotation>
              <documentation>
                a database error has occurred
              </documentation>
            </annotation>
          </enumeration>
          <enumeration value="UNKNOWN">
            <annotation>
              <documentation>
                an unknown error has occurred
              </documentation>
            </annotation>
          </enumeration>
        </restriction>
      </simpleType>
      <simpleType name="DateError.Reason">
        <annotation>
          <documentation>
            The reasons for the target error.
          </documentation>
        </annotation>
        <restriction base="xsd:string">
          <enumeration value="INVALID_FIELD_VALUES_IN_DATE">
            <annotation>
              <documentation>
                Given field values do not correspond to a valid date.
              </documentation>
            </annotation>
          </enumeration>
          <enumeration value="INVALID_FIELD_VALUES_IN_DATE_TIME">
            <annotation>
              <documentation>
                Given field values do not correspond to a valid date time.
              </documentation>
            </annotation>
          </enumeration>
          <enumeration value="INVALID_STRING_DATE">
            <annotation>
              <documentation>
                The string date's format should be yyyymmdd.
              </documentation>
            </annotation>
          </enumeration>
          <enumeration value="INVALID_STRING_DATE_RANGE">
            <annotation>
              <documentation>
                The string date range's format should be yyyymmdd yyyymmdd.
              </documentation>
            </annotation>
          </enumeration>
          <enumeration value="INVALID_STRING_DATE_TIME">
            <annotation>
              <documentation>
                The string date time's format should be yyyymmdd hhmmss [tz].
              </documentation>
            </annotation>
          </enumeration>
          <enumeration value="EARLIER_THAN_MINIMUM_DATE">
            <annotation>
              <documentation>
                Date is before allowed minimum.
              </documentation>
            </annotation>
          </enumeration>
          <enumeration value="LATER_THAN_MAXIMUM_DATE">
            <annotation>
              <documentation>
                Date is after allowed maximum.
              </documentation>
            </annotation>
          </enumeration>
          <enumeration value="DATE_RANGE_MINIMUM_DATE_LATER_THAN_MAXIMUM_DATE">
            <annotation>
              <documentation>
                Date range bounds are not in order.
              </documentation>
            </annotation>
          </enumeration>
          <enumeration value="DATE_RANGE_MINIMUM_AND_MAXIMUM_DATES_BOTH_NULL">
            <annotation>
              <documentation>
                Both dates in range are null.
              </documentation>
            </annotation>
          </enumeration>
        </restriction>
      </simpleType>
      <simpleType name="DistinctError.Reason">
        <annotation>
          <documentation>
            The reasons for the validation error.
          </documentation>
        </annotation>
        <restriction base="xsd:string">
          <enumeration value="DUPLICATE_ELEMENT"/>
          <enumeration value="DUPLICATE_TYPE"/>
        </restriction>
      </simpleType>
      <simpleType name="IdError.Reason">
        <annotation>
          <documentation>
            The reasons for the target error.
          </documentation>
        </annotation>
        <restriction base="xsd:string">
          <enumeration value="NOT_FOUND">
            <annotation>
              <documentation>
                Id not found
              </documentation>
            </annotation>
          </enumeration>
        </restriction>
      </simpleType>
      <simpleType name="InternalApiError.Reason">
        <annotation>
          <documentation>
            The single reason for the internal API error.
          </documentation>
        </annotation>
        <restriction base="xsd:string">
          <enumeration value="UNEXPECTED_INTERNAL_API_ERROR">
            <annotation>
              <documentation>
                API encountered an unexpected internal error.
              </documentation>
            </annotation>
          </enumeration>
          <enumeration value="TRANSIENT_ERROR">
            <annotation>
              <documentation>
                A temporary error occurred during the request. Please retry.
              </documentation>
            </annotation>
          </enumeration>
          <enumeration value="UNKNOWN">
            <annotation>
              <documentation>
                The cause of the error is not known or only defined in newer versions.
              </documentation>
            </annotation>
          </enumeration>
          <enumeration value="DOWNTIME">
            <annotation>
              <documentation>
                The API is currently unavailable for a planned downtime.
              </documentation>
            </annotation>
          </enumeration>
          <enumeration value="ERROR_GENERATING_RESPONSE">
            <annotation>
              <documentation>
                Mutate succeeded but server was unable to build response. Client should not retry mutate.
              </documentation>
            </annotation>
          </enumeration>
        </restriction>
      </simpleType>
      <simpleType name="NotEmptyError.Reason">
        <annotation>
          <documentation>
            The reasons for the validation error.
          </documentation>
        </annotation>
        <restriction base="xsd:string">
          <enumeration value="EMPTY_LIST"/>
        </restriction>
      </simpleType>
      <simpleType name="NotWhitelistedError.Reason">
        <annotation>
          <documentation>
            The single reason for the whitelist error.
          </documentation>
        </annotation>
        <restriction base="xsd:string">
          <enumeration value="CUSTOMER_NOT_WHITELISTED_FOR_API">
            <annotation>
              <documentation>
                Customer is not whitelisted for accessing the API.
              </documentation>
            </annotation>
          </enumeration>
        </restriction>
      </simpleType>
      <simpleType name="NullError.Reason">
        <annotation>
          <documentation>
            The reasons for the validation error.
          </documentation>
        </annotation>
        <restriction base="xsd:string">
          <enumeration value="NULL_CONTENT">
            <annotation>
              <documentation>
                Specified list/container must not contain any null elements
              </documentation>
            </annotation>
          </enumeration>
        </restriction>
      </simpleType>
      <simpleType name="OperationAccessDenied.Reason">
        <annotation>
          <documentation>
            The reasons for the operation access error.
          </documentation>
        </annotation>
        <restriction base="xsd:string">
          <enumeration value="ACTION_NOT_PERMITTED">
            <annotation>
              <documentation>
                Unauthorized invocation of a service's method (get, mutate, etc.)
              </documentation>
            </annotation>
          </enumeration>
          <enumeration value="ADD_OPERATION_NOT_PERMITTED">
            <annotation>
              <documentation>
                Unauthorized ADD operation in invoking a service's mutate method.
              </documentation>
            </annotation>
          </enumeration>
          <enumeration value="REMOVE_OPERATION_NOT_PERMITTED">
            <annotation>
              <documentation>
                Unauthorized REMOVE operation in invoking a service's mutate method.
              </documentation>
            </annotation>
          </enumeration>
          <enumeration value="SET_OPERATION_NOT_PERMITTED">
            <annotation>
              <documentation>
                Unauthorized SET operation in invoking a service's mutate method.
              </documentation>
            </annotation>
          </enumeration>
          <enumeration value="MUTATE_ACTION_NOT_PERMITTED_FOR_CLIENT">
            <annotation>
              <documentation>
                A mutate action is not allowed on this campaign, from this client.
              </documentation>
            </annotation>
          </enumeration>
          <enumeration value="OPERATION_NOT_PERMITTED_FOR_CAMPAIGN_TYPE">
            <annotation>
              <documentation>
                This operation is not permitted on this campaign type
              </documentation>
            </annotation>
          </enumeration>
          <enumeration value="ADD_AS_REMOVED_NOT_PERMITTED">
            <annotation>
              <documentation>
                An ADD operation may not set status to REMOVED.
              </documentation>
            </annotation>
          </enumeration>
          <enumeration value="OPERATION_NOT_PERMITTED_FOR_REMOVED_ENTITY">
            <annotation>
              <documentation>
                This operation is not allowed because the campaign or adgroup is removed.
              </documentation>
            </annotation>
          </enumeration>
          <enumeration value="OPERATION_NOT_PERMITTED_FOR_AD_GROUP_TYPE">
            <annotation>
              <documentation>
                This operation is not permitted on this ad group type.
              </documentation>
            </annotation>
          </enumeration>
          <enumeration value="UNKNOWN">
            <annotation>
              <documentation>
                The reason the invoked method or operation is prohibited is not known
                (the client may be of an older version than the server).
              </documentation>
            </annotation>
          </enumeration>
        </restriction>
      </simpleType>
      <simpleType name="OperatorError.Reason">
        <annotation>
          <documentation>
            The reasons for the validation error.
          </documentation>
        </annotation>
        <restriction base="xsd:string">
          <enumeration value="OPERATOR_NOT_SUPPORTED"/>
        </restriction>
      </simpleType>
      <simpleType name="QuotaCheckError.Reason">
        <annotation>
          <documentation>
            Enums for all the reasons an error can be thrown to the user during
            billing quota checks.
          </documentation>
        </annotation>
        <restriction base="xsd:string">
          <enumeration value="INVALID_TOKEN_HEADER">
            <annotation>
              <documentation>
                Customer passed in an invalid token in the header.
              </documentation>
            </annotation>
          </enumeration>
          <enumeration value="ACCOUNT_DELINQUENT">
            <annotation>
              <documentation>
                Customer is marked delinquent.
              </documentation>
            </annotation>
          </enumeration>
          <enumeration value="ACCOUNT_INACCESSIBLE">
            <annotation>
              <documentation>
                Customer is a fraudulent.
              </documentation>
            </annotation>
          </enumeration>
          <enumeration value="ACCOUNT_INACTIVE">
            <annotation>
              <documentation>
                Inactive Account.
              </documentation>
            </annotation>
          </enumeration>
          <enumeration value="INCOMPLETE_SIGNUP">
            <annotation>
              <documentation>
                Signup not complete
              </documentation>
            </annotation>
          </enumeration>
          <enumeration value="DEVELOPER_TOKEN_NOT_APPROVED">
            <annotation>
              <documentation>
                Developer token is not approved for production access, and the customer
                is attempting to access a production account.
              </documentation>
            </annotation>
          </enumeration>
          <enumeration value="TERMS_AND_CONDITIONS_NOT_SIGNED">
            <annotation>
              <documentation>
                Terms and conditions are not signed.
              </documentation>
            </annotation>
          </enumeration>
          <enumeration value="MONTHLY_BUDGET_REACHED">
            <annotation>
              <documentation>
                Monthly budget quota reached.
              </documentation>
            </annotation>
          </enumeration>
          <enumeration value="QUOTA_EXCEEDED">
            <annotation>
              <documentation>
                Monthly budget quota exceeded.
              </documentation>
            </annotation>
          </enumeration>
        </restriction>
      </simpleType>
      <simpleType name="RangeError.Reason">
        <annotation>
          <documentation>
            The reasons for the target error.
          </documentation>
        </annotation>
        <restriction base="xsd:string">
          <enumeration value="TOO_LOW"/>
          <enumeration value="TOO_HIGH"/>
        </restriction>
      </simpleType>
      <simpleType name="RateExceededError.Reason">
        <annotation>
          <documentation>
            The reason for the rate exceeded error.
          </documentation>
        </annotation>
        <restriction base="xsd:string">
          <enumeration value="RATE_EXCEEDED">
            <annotation>
              <documentation>
                Rate exceeded.
              </documentation>
            </annotation>
          </enumeration>
        </restriction>
      </simpleType>
      <simpleType name="ReadOnlyError.Reason">
        <annotation>
          <documentation>
            The reasons for the target error.
          </documentation>
        </annotation>
        <restriction base="xsd:string">
          <enumeration value="READ_ONLY"/>
        </restriction>
      </simpleType>
      <simpleType name="RejectedError.Reason">
        <annotation>
          <documentation>
            The reasons for the target error.
          </documentation>
        </annotation>
        <restriction base="xsd:string">
          <enumeration value="UNKNOWN_VALUE">
            <annotation>
              <documentation>
                Unknown value encountered
              </documentation>
            </annotation>
          </enumeration>
        </restriction>
      </simpleType>
      <simpleType name="ReportDefinition.ReportType">
        <annotation>
          <documentation>
            Enums for report types.
          </documentation>
        </annotation>
        <restriction base="xsd:string">
          <enumeration value="KEYWORDS_PERFORMANCE_REPORT">
            <annotation>
              <documentation>
                Reports performance data for your keywords.
              </documentation>
            </annotation>
          </enumeration>
          <enumeration value="AD_PERFORMANCE_REPORT">
            <annotation>
              <documentation>
                Reports performance data for your ads.
              </documentation>
            </annotation>
          </enumeration>
          <enumeration value="URL_PERFORMANCE_REPORT">
            <annotation>
              <documentation>
                Reports performance data for URLs which triggered your ad and
                received clicks.
              </documentation>
            </annotation>
          </enumeration>
          <enumeration value="ADGROUP_PERFORMANCE_REPORT">
            <annotation>
              <documentation>
                Reports ad group performance data for one or more of your campaigns.
              </documentation>
            </annotation>
          </enumeration>
          <enumeration value="CAMPAIGN_PERFORMANCE_REPORT">
            <annotation>
              <documentation>
                Reports performance data for your campaigns.
              </documentation>
            </annotation>
          </enumeration>
          <enumeration value="ACCOUNT_PERFORMANCE_REPORT">
            <annotation>
              <documentation>
                Reports performance data for your entire account.
              </documentation>
            </annotation>
          </enumeration>
          <enumeration value="GEO_PERFORMANCE_REPORT">
            <annotation>
              <documentation>
                Reports performance data by geographic origin.
              </documentation>
            </annotation>
          </enumeration>
          <enumeration value="SEARCH_QUERY_PERFORMANCE_REPORT">
            <annotation>
              <documentation>
                Reports performance data for search queries which triggered your ad and
                received clicks.
              </documentation>
            </annotation>
          </enumeration>
          <enumeration value="AUTOMATIC_PLACEMENTS_PERFORMANCE_REPORT">
            <annotation>
              <documentation>
                Reports performance data for automatic placements on the content network.
              </documentation>
            </annotation>
          </enumeration>
          <enumeration value="CAMPAIGN_NEGATIVE_KEYWORDS_PERFORMANCE_REPORT">
            <annotation>
              <documentation>
                Reports performance data for negative keywords at the campaign level.
              </documentation>
            </annotation>
          </enumeration>
          <enumeration value="CAMPAIGN_NEGATIVE_PLACEMENTS_PERFORMANCE_REPORT">
            <annotation>
              <documentation>
                Reports performance data for the negative placements at the campaign
                level.
              </documentation>
            </annotation>
          </enumeration>
          <enumeration value="DESTINATION_URL_REPORT">
            <annotation>
              <documentation>
                Reports performance data for destination urls.
              </documentation>
            </annotation>
          </enumeration>
          <enumeration value="SHARED_SET_REPORT">
            <annotation>
              <documentation>
                Reports data for shared sets.
              </documentation>
            </annotation>
          </enumeration>
          <enumeration value="CAMPAIGN_SHARED_SET_REPORT">
            <annotation>
              <documentation>
                Reports data for campaign shared sets.
              </documentation>
            </annotation>
          </enumeration>
          <enumeration value="SHARED_SET_CRITERIA_REPORT">
            <annotation>
              <documentation>
                Provides a downloadable snapshot of shared set criteria.
              </documentation>
            </annotation>
          </enumeration>
          <enumeration value="CREATIVE_CONVERSION_REPORT">
            <annotation>
              <documentation>
                Reports performance data for creative conversions (e.g. free clicks).
              </documentation>
            </annotation>
          </enumeration>
          <enumeration value="CALL_METRICS_CALL_DETAILS_REPORT">
            <annotation>
              <documentation>
                Reports per-phone-call details for calls tracked using call metrics.
              </documentation>
            </annotation>
          </enumeration>
          <enumeration value="KEYWORDLESS_QUERY_REPORT">
            <annotation>
              <documentation>
                Reports performance data for keywordless ads.
              </documentation>
            </annotation>
          </enumeration>
          <enumeration value="KEYWORDLESS_CATEGORY_REPORT">
            <annotation>
              <documentation>
                Reports performance data for keywordless ads.
              </documentation>
            </annotation>
          </enumeration>
          <enumeration value="CRITERIA_PERFORMANCE_REPORT">
            <annotation>
              <documentation>
                Reports performance data for all published criteria types including keywords,
                placements, topics, user-lists in a single report.
              </documentation>
            </annotation>
          </enumeration>
          <enumeration value="CLICK_PERFORMANCE_REPORT">
            <annotation>
              <documentation>
                Reports performance data for clicks.
              </documentation>
            </annotation>
          </enumeration>
          <enumeration value="BUDGET_PERFORMANCE_REPORT">
            <annotation>
              <documentation>
                Reports performance data for budgets.
              </documentation>
            </annotation>
          </enumeration>
          <enumeration value="BID_GOAL_PERFORMANCE_REPORT">
            <annotation>
              <documentation>
                Reports performance data for your (shared) bid strategies.
              </documentation>
            </annotation>
          </enumeration>
          <enumeration value="DISPLAY_KEYWORD_PERFORMANCE_REPORT">
            <annotation>
              <documentation>
                Reports performance data for your display keywords.
              </documentation>
            </annotation>
          </enumeration>
          <enumeration value="PLACEHOLDER_FEED_ITEM_REPORT">
            <annotation>
              <documentation>
                Reports performance data for your placeholder feed items
              </documentation>
            </annotation>
          </enumeration>
          <enumeration value="PLACEMENT_PERFORMANCE_REPORT">
            <annotation>
              <documentation>
                Reports performance data for your placements.
              </documentation>
            </annotation>
          </enumeration>
          <enumeration value="CAMPAIGN_NEGATIVE_LOCATIONS_REPORT">
            <annotation>
              <documentation>
                Reports performance data for negative location targets at campaign level.
              </documentation>
            </annotation>
          </enumeration>
          <enumeration value="GENDER_PERFORMANCE_REPORT">
            <annotation>
              <documentation>
                Reports performance data for managed and automatic genders in a combined report.
              </documentation>
            </annotation>
          </enumeration>
          <enumeration value="AGE_RANGE_PERFORMANCE_REPORT">
            <annotation>
              <documentation>
                Reports performance data for managed and automatic age ranges in a combined report.
              </documentation>
            </annotation>
          </enumeration>
          <enumeration value="CAMPAIGN_LOCATION_TARGET_REPORT">
            <annotation>
              <documentation>
                Reports performance data for campaign level location targets.
              </documentation>
            </annotation>
          </enumeration>
          <enumeration value="CAMPAIGN_AD_SCHEDULE_TARGET_REPORT">
            <annotation>
              <documentation>
                Reports performance data for campaign level ad schedule targets.
              </documentation>
            </annotation>
          </enumeration>
          <enumeration value="PAID_ORGANIC_QUERY_REPORT">
            <annotation>
              <documentation>
                Paid &amp; organic report
              </documentation>
            </annotation>
          </enumeration>
          <enumeration value="AUDIENCE_PERFORMANCE_REPORT">
            <annotation>
              <documentation>
                Reports performance data for your audience criteria.
              </documentation>
            </annotation>
          </enumeration>
          <enumeration value="DISPLAY_TOPICS_PERFORMANCE_REPORT">
            <annotation>
              <documentation>
                Reports performance data for your topic criteria.
              </documentation>
            </annotation>
          </enumeration>
          <enumeration value="USER_AD_DISTANCE_REPORT">
            <annotation>
              <documentation>
                Distance report
              </documentation>
            </annotation>
          </enumeration>
          <enumeration value="SHOPPING_PERFORMANCE_REPORT">
            <annotation>
              <documentation>
                Performance data for shopping campaigns.
              </documentation>
            </annotation>
          </enumeration>
          <enumeration value="PRODUCT_PARTITION_REPORT">
            <annotation>
              <documentation>
                Performance data for product partitions in shopping campaigns.
              </documentation>
            </annotation>
          </enumeration>
          <enumeration value="PARENTAL_STATUS_PERFORMANCE_REPORT">
            <annotation>
              <documentation>
                Reports performance data for managed and automatic parental statuses in a combined report.
              </documentation>
            </annotation>
          </enumeration>
          <enumeration value="PLACEHOLDER_REPORT">
            <annotation>
              <documentation>
                Performance data for Extension placeholders
              </documentation>
            </annotation>
          </enumeration>
          <enumeration value="AD_CUSTOMIZERS_FEED_ITEM_REPORT">
            <annotation>
              <documentation>
                Reports performance of ad placeholders when instantiated with specific FeedItems.
              </documentation>
            </annotation>
          </enumeration>
          <enumeration value="LABEL_REPORT">
            <annotation>
              <documentation>
                Reports stats and settings details for labels.
              </documentation>
            </annotation>
          </enumeration>
          <enumeration value="FINAL_URL_REPORT">
            <annotation>
              <documentation>
                Reports performance data for final urls.
              </documentation>
            </annotation>
          </enumeration>
          <enumeration value="VIDEO_PERFORMANCE_REPORT">
            <annotation>
              <documentation>
                Video performance report.
              </documentation>
            </annotation>
          </enumeration>
          <enumeration value="TOP_CONTENT_PERFORMANCE_REPORT">
            <annotation>
              <documentation>
                Reports performance data for top content bid modifier criteria.
              </documentation>
            </annotation>
          </enumeration>
          <enumeration value="CAMPAIGN_CRITERIA_REPORT">
            <annotation>
              <documentation>
                Report to show campaign criteria structure.
              </documentation>
            </annotation>
          </enumeration>
          <enumeration value="CAMPAIGN_GROUP_PERFORMANCE_REPORT">
            <annotation>
              <documentation>
                Report performance data for Campaign Groups.
              </documentation>
            </annotation>
          </enumeration>
          <enumeration value="UNKNOWN">
            <annotation>
              <documentation>
                &lt;span class="constraint Rejected"&gt;Used for return value only. An enumeration could not be processed, typically due to incompatibility with your WSDL version.&lt;/span&gt;
              </documentation>
            </annotation>
          </enumeration>
        </restriction>
      </simpleType>
      <simpleType name="ReportDefinitionError.Reason">
        <annotation>
          <documentation>
            Enums for all the reasons an error can be thrown to the user during
            a {@link ReportDefinitionService#mutate(java.util.List)} operation.
          </documentation>
        </annotation>
        <restriction base="xsd:string">
          <enumeration value="INVALID_DATE_RANGE_FOR_REPORT">
            <annotation>
              <documentation>
                Customer passed in invalid date range for a report type.
              </documentation>
            </annotation>
          </enumeration>
          <enumeration value="INVALID_FIELD_NAME_FOR_REPORT">
            <annotation>
              <documentation>
                Customer passed in invalid field name for a report type
              </documentation>
            </annotation>
          </enumeration>
          <enumeration value="UNABLE_TO_FIND_MAPPING_FOR_THIS_REPORT">
            <annotation>
              <documentation>
                Unable to locate a field mapping for this report type.
              </documentation>
            </annotation>
          </enumeration>
          <enumeration value="INVALID_COLUMN_NAME_FOR_REPORT">
            <annotation>
              <documentation>
                Customer passed in invalid column name for a report type
              </documentation>
            </annotation>
          </enumeration>
          <enumeration value="INVALID_REPORT_DEFINITION_ID">
            <annotation>
              <documentation>
                Customer passed in invalid report definition id.
              </documentation>
            </annotation>
          </enumeration>
          <enumeration value="REPORT_SELECTOR_CANNOT_BE_NULL">
            <annotation>
              <documentation>
                Report selector cannot be null.
              </documentation>
            </annotation>
          </enumeration>
          <enumeration value="NO_ENUMS_FOR_THIS_COLUMN_NAME">
            <annotation>
              <documentation>
                No Enums exist for this column name.
              </documentation>
            </annotation>
          </enumeration>
          <enumeration value="INVALID_VIEW">
            <annotation>
              <documentation>
                Invalid view name.
              </documentation>
            </annotation>
          </enumeration>
          <enumeration value="SORTING_NOT_SUPPORTED">
            <annotation>
              <documentation>
                Sorting is not supported for reports.
              </documentation>
            </annotation>
          </enumeration>
          <enumeration value="PAGING_NOT_SUPPORTED">
            <annotation>
              <documentation>
                Paging is not supported for reports.
              </documentation>
            </annotation>
          </enumeration>
          <enumeration value="CUSTOMER_SERVING_TYPE_REPORT_MISMATCH">
            <annotation>
              <documentation>
                Customer can not create report of a selected type.
              </documentation>
            </annotation>
          </enumeration>
          <enumeration value="CLIENT_SELECTOR_NO_CUSTOMER_IDENTIFIER">
            <annotation>
              <documentation>
                Cross client report has an client selector without any valid identifier
                for a customer.
              </documentation>
            </annotation>
          </enumeration>
          <enumeration value="CLIENT_SELECTOR_INVALID_CUSTOMER_ID">
            <annotation>
              <documentation>
                Cross client report has an invalid external customer ID in the client
                selector.
              </documentation>
            </annotation>
          </enumeration>
          <enumeration value="REPORT_DEFINITION_ERROR"/>
        </restriction>
      </simpleType>
      <simpleType name="RequestError.Reason">
        <restriction base="xsd:string">
          <enumeration value="UNKNOWN">
            <annotation>
              <documentation>
                Error reason is unknown.
              </documentation>
            </annotation>
          </enumeration>
          <enumeration value="INVALID_INPUT">
            <annotation>
              <documentation>
                Invalid input.
              </documentation>
            </annotation>
          </enumeration>
          <enumeration value="UNSUPPORTED_VERSION">
            <annotation>
              <documentation>
                The api version in the request has been discontinued. Please update
                to the new AdWords API version.
              </documentation>
            </annotation>
          </enumeration>
        </restriction>
      </simpleType>
      <simpleType name="RequiredError.Reason">
        <annotation>
          <documentation>
            The reasons for the target error.
          </documentation>
        </annotation>
        <restriction base="xsd:string">
          <enumeration value="REQUIRED">
            <annotation>
              <documentation>
                Missing required field.
              </documentation>
            </annotation>
          </enumeration>
        </restriction>
      </simpleType>
      <simpleType name="SizeLimitError.Reason">
        <annotation>
          <documentation>
            The reasons for Ad Scheduling errors.
          </documentation>
        </annotation>
        <restriction base="xsd:string">
          <enumeration value="REQUEST_SIZE_LIMIT_EXCEEDED">
            <annotation>
              <documentation>
                The number of entries in the request exceeds the system limit.
              </documentation>
            </annotation>
          </enumeration>
          <enumeration value="RESPONSE_SIZE_LIMIT_EXCEEDED">
            <annotation>
              <documentation>
                The number of entries in the response exceeds the system limit.
              </documentation>
            </annotation>
          </enumeration>
          <enumeration value="INTERNAL_STORAGE_ERROR">
            <annotation>
              <documentation>
                The account is too large to load.
              </documentation>
            </annotation>
          </enumeration>
          <enumeration value="UNKNOWN">
            <annotation>
              <documentation>
                &lt;span class="constraint Rejected"&gt;Used for return value only. An enumeration could not be processed, typically due to incompatibility with your WSDL version.&lt;/span&gt;
              </documentation>
            </annotation>
          </enumeration>
        </restriction>
      </simpleType>
      <simpleType name="StringFormatError.Reason">
        <annotation>
          <documentation>
            The reasons for the target error.
          </documentation>
        </annotation>
        <restriction base="xsd:string">
          <enumeration value="UNKNOWN"/>
          <enumeration value="ILLEGAL_CHARS">
            <annotation>
              <documentation>
                The input string value contains disallowed characters.
              </documentation>
            </annotation>
          </enumeration>
          <enumeration value="INVALID_FORMAT">
            <annotation>
              <documentation>
                The input string value is invalid for the associated field.
              </documentation>
            </annotation>
          </enumeration>
        </restriction>
      </simpleType>
      <simpleType name="StringLengthError.Reason">
        <annotation>
          <documentation>
            The reasons for the target error.
          </documentation>
        </annotation>
        <restriction base="xsd:string">
          <enumeration value="TOO_SHORT"/>
          <enumeration value="TOO_LONG"/>
        </restriction>
      </simpleType>
      <element name="getReportFields">
        <annotation>
          <documentation>
            Returns the available report fields for a given report type.
            When using this method the {@code clientCustomerId} header field is
            optional. Callers are discouraged from setting the clientCustomerId
            header field in calls to this method as its presence will trigger an
            authorization error if the caller does not have access to the customer
            with the included ID.
            
            @param reportType The type of report.
            @return The list of available report fields. Each
            {@link ReportDefinitionField} encapsulates the field name, the
            field data type, and the enum values (if the field's type is
            {@code enum}).
            @throws ApiException if a problem occurred while fetching the
            ReportDefinitionField information.
          </documentation>
        </annotation>
        <complexType>
          <sequence>
            <element maxOccurs="1" minOccurs="0" name="reportType" type="tns:ReportDefinition.ReportType">
              <annotation>
                <documentation>
                  &lt;span class="constraint Required"&gt;This field is required and should not be {@code null}.&lt;/span&gt;
                </documentation>
              </annotation>
            </element>
          </sequence>
        </complexType>
      </element>
      <element name="getReportFieldsResponse">
        <complexType>
          <sequence>
            <element maxOccurs="unbounded" minOccurs="0" name="rval" type="tns:ReportDefinitionField"/>
          </sequence>
        </complexType>
      </element>
      <element name="ApiExceptionFault" type="tns:ApiException">
        <annotation>
          <documentation>
            A fault element of type ApiException.
          </documentation>
        </annotation>
      </element>
      <element name="RequestHeader" type="tns:SoapHeader"/>
      <element name="ResponseHeader" type="tns:SoapResponseHeader"/>
    </schema>
  </wsdl:types>
  <wsdl:message name="RequestHeader">
    <wsdl:part element="tns:RequestHeader" name="RequestHeader"/>
  </wsdl:message>
  <wsdl:message name="ResponseHeader">
    <wsdl:part element="tns:ResponseHeader" name="ResponseHeader"/>
  </wsdl:message>
  <wsdl:message name="getReportFieldsRequest">
    <wsdl:part element="tns:getReportFields" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="getReportFieldsResponse">
    <wsdl:part element="tns:getReportFieldsResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="ApiException">
    <wsdl:part element="tns:ApiExceptionFault" name="ApiException"/>
  </wsdl:message>
  <wsdl:portType name="ReportDefinitionServiceInterface">
    <wsdl:documentation>
      &lt;p&gt;&lt;b&gt;Note:&lt;/b&gt; As of v201109 this service is read-only. New report
      definitions are no longer allowed.&lt;/p&gt;
      &lt;p&gt;A report definition describes the report type, date range, and
      {@linkplain Selector fields to include in the report}. Additionally, you can
      specify {@linkplain Predicate predicates} to filter which rows are returned
      in a generated report. Please note that sorting and paging are not supported for report
      downloads.&lt;/p&gt;
      
      &lt;p&gt;To find out which report fields are available based on report
      type, see the &lt;a href="/adwords/api/docs/appendix/reports"&gt;Report
      Types&lt;/a&gt; appendix or call {@link #getReportFields}.&lt;/p&gt;
      
      &lt;p&gt;For more information about retrieving reports, see
      &lt;a href="/adwords/api/docs/guides/reporting"&gt;Reporting Basics&lt;/a&gt;.
    </wsdl:documentation>
    <wsdl:operation name="getReportFields">
      <wsdl:documentation>
        Returns the available report fields for a given report type.
        When using this method the {@code clientCustomerId} header field is
        optional. Callers are discouraged from setting the clientCustomerId
        header field in calls to this method as its presence will trigger an
        authorization error if the caller does not have access to the customer
        with the included ID.
        
        @param reportType The type of report.
        @return The list of available report fields. Each
        {@link ReportDefinitionField} encapsulates the field name, the
        field data type, and the enum values (if the field's type is
        {@code enum}).
        @throws ApiException if a problem occurred while fetching the
        ReportDefinitionField information.
      </wsdl:documentation>
      <wsdl:input message="tns:getReportFieldsRequest" name="getReportFieldsRequest"/>
      <wsdl:output message="tns:getReportFieldsResponse" name="getReportFieldsResponse"/>
      <wsdl:fault message="tns:ApiException" name="ApiException"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ReportDefinitionServiceSoapBinding" type="tns:ReportDefinitionServiceInterface">
    <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getReportFields">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="getReportFieldsRequest">
        <wsdlsoap:header message="tns:RequestHeader"
          part="RequestHeader" use="literal"/>
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getReportFieldsResponse">
        <wsdlsoap:header message="tns:ResponseHeader"
          part="ResponseHeader" use="literal"/>
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ApiException">
        <wsdlsoap:fault name="ApiException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ReportDefinitionService">
    <wsdl:port binding="tns:ReportDefinitionServiceSoapBinding" name="ReportDefinitionServiceInterfacePort">
      <wsdlsoap:address location="https://adwords.google.com/api/adwords/cm/v201710/ReportDefinitionService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
